[2020-03-29 13:16] alrusdi commented on #487
Even for played cards? O_o

[2020-03-29 13:19] alrusdi commented on #487
it is also breaks this feature https://github.com/bafolts/terraforming-mars/issues/270

[2020-03-29 13:22] ssimeonoff commented on #487
Maybe then add it in Settings? To not seeing latest cards at the top, played or obtained, seems odd to me, but if some likes them ordered or not, maybe an option to toggle the sorting is a good thing...

[2020-03-29 13:26] alrusdi commented on #487
I don't care much about "cards in hand" order - it's ok for me to have them in draw order.
For played cards it is important to have Active cards first and it is better to have last played active to be first in this list. Current PR does something else

[2020-03-29 13:54] pierrehilbert commented on #487
If I'm not wrong what I did is:
- Order card by draw order in hand
- The last Active card played will be at the left
- The last Automated card played will be at the top of the stack pile

[2020-03-29 13:58] alrusdi commented on #487
ookay, i'm sorry if i missread the code

[2020-03-29 15:30] bafolts commented on #445
This project doesn't have much of a roadmap but I agree that heading towards a goal of bots to play against would be great. We have no bots right now. First introducing even a random bot that makes random moves may help with learning what changes need to be made to support bots. We have moved most things to use the interrupt system. Once everything were using the interrupt system this may help see

[2020-03-29 15:44] bafolts commented on #491
This is similar to #445 . Currently @ssimeonoff stores game results on some firebase database but I don't think we store this data anywhere else. Most things with this game run free of charge. Introducing this change would require us to have some central data storage place. I don't think the hosting costs would be that expensive. I don't know where @vincentneko is running the server but this will

[2020-03-29 16:04] thenewjuniorexecutive opened #494 "Suggestion: Select Space button"
There's rarely a decision being made by the player when this button is displayed, so it just leads to extra clicks and scrolling.

Once the next step is definitely placing a tile, could you instead jump to the map with the legal spaces highlighted and active and the text that is now displayed over the "Select space" button displayed above the map with the text being removed once a hex is selected?

[2020-03-29 17:09] FreeLikeGNU commented on #478
Merged.  Thank you!

[2020-03-29 17:09] #478 closed

[2020-03-29 17:31] vincentneko commented on #482
Fixed and merged.

[2020-03-29 17:31] #482 closed

[2020-03-29 17:31] vincentneko commented on #481
Fixed and merged.

[2020-03-29 17:31] #481 closed

[2020-03-29 17:36] vincentneko commented on #445
I use Amazon AWS EC2 free tier, with docker. I'm currently testing this [Postgrest](http://postgrest.org/en/v6.0/), with the idea to store game results. I guess it could also be used for storing the logs.

[2020-03-29 17:58] FreeLikeGNU opened #495 "Add a background image to player home"
see PR: https://github.com/bafolts/terraforming-mars/pull/493

[2020-03-29 18:00] FreeLikeGNU opened #496 "BUG: Players with the same player name will confuse the log window color assignment."
Replicate:
Give more than one player the same name.

![Screenshot_2020-03-29_11-12-56](https://user-images.githubusercontent.com/674095/77856788-5b67d100-71ae-11ea-81bc-503507fa8448.png)

![Screenshot_2020-03-29_11-19-39](https://user-images.githubusercontent.com/674095/77856933-6e2ed580-71af-11ea-8b23-b250ca660294.png)

[2020-03-29 18:34] FreeLikeGNU opened #497 "Feature Request: Cancel before placing a tile."
Choosing an action that places a tile does not allow cancelling that action before the tile is placed.

[2020-03-30 08:23] pierrehilbert commented on #487
If it's okay for you, please close the issue after testing ;-)

[2020-03-30 08:24] pierrehilbert commented on #486
If it's okay for you, please close the issue after testing.

[2020-03-30 10:24] Carcassonner opened #500 "Bug: Wild tag triggers effect of Aridor corporation"
Wild tag is not considered any tag at the time of playing the card

[2020-03-30 10:28] Carcassonner opened #501 "Bug: Earth office card effect applies only once for Luna Governor card"
Probably effect of Teractor corporation applies once too

[2020-03-30 11:01] ssimeonoff commented on #500
I think it is - it is considered as a Wild tag.

It also counts as a different tag for milestone "Diversifier", for Turmoil event giving you 10MC if you have 9 different tags in play (+influence) and for the project card "INTERPLANETARY TRADE".

[2020-03-30 11:06] ssimeonoff commented on #501
It is a general bug when one card has 2 or more identical tags and an ongoing effect is applied to only one of them.

[2020-03-30 11:11] Carcassonner commented on #500
choosing a tag type for the wild tag does not count as playing that tag (so you can't trigger Olympus Conference for example), and it doesn't count as getting a new tag into play. It simply 'is' there for the duration of that action. (c)

https://boardgamegeek.com/thread/2030851/wild-tag-explanation-confusion
![image](https://user-images.githubusercontent.com/59147459/77906099-0b613b00-7290-11ea-8

[2020-03-30 11:18] Carcassonner commented on #501
It was fixed for venus waystation (venus tag discount) and venus governor (card with 2 venus tags). But not for this case.
I assumed the possibility of this error here #465

[2020-03-30 11:20] vincentneko commented on #501
This one is working as intended, as the card text says:

(Effect: When you play an Earth **card**, you pay 3 MC less for it.)

[2020-03-30 11:25] vincentneko commented on #500
Yes I agree, wild tag should not trigger Aridor new tag capacity

[2020-03-30 11:32] Carcassonner commented on #501
Ohh..sorry, it's my fault.

[2020-03-30 11:36] #501 closed

[2020-03-30 11:37] Carcassonner commented on #501
Everything works great

[2020-03-30 13:49] ssimeonoff commented on #500
Lol, never knew that.

[2020-03-30 14:33] ssimeonoff opened #502 "Suggestion: "Observer" players"
Currently you cannot open the other player's areas in another tab/window/screen.

One possible workaround would be to create an "observer id" for every player.
![obs](https://user-images.githubusercontent.com/6917565/77923007-191fbc00-72a2-11ea-81af-f330b8267ce8.png)
When clicked "Observer" link open a new tab:
![obs2](https://user-images.githubusercontent.com/6917565/77923010-19b85280-72a2-11ea-9

[2020-03-30 14:50] FreeLikeGNU commented on #495
merged, thank you!

[2020-03-30 14:50] #495 closed

[2020-03-30 15:13] FreeLikeGNU opened #503 "Optional backgrounds"
Simply toggling the background image on and off is now possible.  Maybe something fancier later.

see PR: https://github.com/bafolts/terraforming-mars/pull/530

[2020-03-30 16:06] alrusdi opened #504 "Virus can remove your own animals"
How to reproduce:
1) Add an animal card with resources on it to the player's played cards list
[code]
2) Add Virus to to the player's hand
3) Play Virus
It removes 2 animals from the Fish card without any questions

We need either provide an option to not remove the animals, or to not consider player's own cards as Virus target

[2020-03-30 16:19] vincentneko opened #505 "Colonies option break the game"
If you create a game with colonies, you have the following error message

Converting circular structure to JSON --> starting at object with constructor 'Game' | property 'interrupts' -> object with constructor 'Array' | index 0 -> object with constructor 'SelectRemoveColony' --- property 'game' closes the circle

[2020-03-30 17:13] pierrehilbert commented on #505
Resolved

[2020-03-30 17:50] #505 closed

[2020-03-30 17:59] FreeLikeGNU commented on #504
I would like the option of cancelling the action of any card with an intermediate step (such as placing a tile or removing/adding tokens) since these cannot be undone if they happen on the last action of the player.

[2020-03-31 00:36] thenewjuniorexecutive commented on #504
Playing without removing anything useful with Celebrity, or InterCin, Media Office or Media Archives (w/ discount).

Only case I can imagine for removing your own is against a protected Predators.

[2020-03-31 00:51] thenewjuniorexecutive commented on #500
And the Wild Tag can be treated as no tag for Community Services, but must be counted as one of the 11 possible face up tags (10 w/o Venus) for Interplanetary Trade.

[2020-03-31 07:03] Carcassonner commented on #500
The effect of no card should be triggered when a wild tag card enters the game. Also, a wild tag should not be considered any tag at the end of the game.

[2020-03-31 07:14] Carcassonner opened #510 "Feature request: Pass confirmation"
In the last game, I accidentally made a pass in the first move. The checkbox is Automatically set to "Pass". To avoid this, you can make the pass confirmation window dropdown if you haven't played any action on the card, or you still can play one of the cards in your hand.

[2020-03-31 08:56] alrusdi opened #511 "Undo action doesn't work"
How to reproduce:
1) Start 2 player game (both with Beginner corporation)
2) Play **Power plant** stadart project as first player action
3) Do Undo Turn

As result game crashing with error message like this:
[code]

[2020-03-31 09:06] alrusdi commented on #511
@pierrehilbert can you check it?

[2020-03-31 09:07] pierrehilbert commented on #511
Yes, we had the same problem yesterday night and I just found the root cause.
I'm patching it right now.

[2020-03-31 11:07] vincentneko opened #515 "Custom corporation list not working"
Unselecting corporations from the Custom Corporation list option is not removing them from the corporation pool.

[2020-03-31 13:44] bafolts commented on #504
This card and most other cards make an assumption as to how the card would be played. This is an attempt to remove options a player would most likely never take such as removing plants or animals from themselves. For simplicity I would not consider the player's own cards and add an additional `OrOptions` where someone can play it on themselves removing zero animals or plants. There are a variety o

[2020-03-31 13:48] bafolts commented on #510
Either creating a confirmation dialog asking the user if they are sure they want to pass or never defaulting the options to "Pass" would make sense to me. Never defaulting the options to "Pass" would be less work than introducing a confirmation dialog and would be less clicks required to play through a game.

[2020-03-31 16:24] #515 closed

[2020-03-31 16:25] vincentneko commented on #500
Fixed aridor and  Community Services

[2020-03-31 16:25] #500 closed

[2020-03-31 17:02] FreeLikeGNU commented on #496
Seems as though the log only records and refers to player by name.  Thus the last entry added that matches is parsed and used to select the color of the log text.

[2020-03-31 17:06] rzulian opened #518 "Inventor's guild bug"
It looks like you can play the action and buy the card, even if you don't have money.
![PHOTO-2020-03-31-18-59-31](https://user-images.githubusercontent.com/29941924/78054649-acc8b980-7382-11ea-905c-d5284f71876b.jpg)

[2020-03-31 17:18] FreeLikeGNU commented on #510
This has happened to me as well, mostly when using an android tablet.  I would prefer the "Pass" action not be default.

[2020-03-31 19:01] gomfunkel commented on #496
The reason for this is that all log messages simply save the _name_ of the player. Generating the log iterates over all players trying to find one with a matching name. We then use the color of the first one who matches.

See [LogPanel.ts#L31](https://github.com/bafolts/terraforming-mars/blob/94a86f47fb2108aaddc1b6b205c362f5bf7414b0/src/components/LogPanel.ts#L31)

To fix this, we need to save a m

[2020-03-31 19:03] gomfunkel commented on #510
Same. Not making _Pass_ the default would totally suffice. Confirmation dialogs or similar add too many clicks. This is related to #360 imho.

[2020-03-31 19:22] gomfunkel commented on #486
Seems to work nicely. Thank you, @pierrehilbert!

[2020-03-31 19:22] #486 closed

[2020-03-31 19:34] gomfunkel commented on #428
Thank you, @pierrehilbert!

This is a good start and very helpful. I found some issues with this approach, though.

* The whole log message is linked to a card, not just the card itself
* Log messages not containing played cards open a blank card frame when clicked
* Log message containing more than one card (i.e. when using Robotic Workforce)
* Clicking a log message multiple times always opens a

[2020-03-31 19:39] gomfunkel commented on #428
Thank you, @pierrehilbert! This is very helpful. I found some issues with this approach, though:

* The whole log message is linked to a card, not just the card itself
* Log messages not containing played cards open a blank card frame when clicked
* Log message containing more than one card (i.e. when using _Robotic Workforce_) only open one of the cards when clicked
* Clicking a log message multi

[2020-03-31 21:08] Carcassonner opened #522 "Intuitive UI"
I used to play one online version of Terraforming Mars, where the games lasted no more than an hour for three players.
The key acceleration of the game process there was that there were no confirmations of actions at all. After clicking on the card, it was immediately played, and after clicking on the blue card, a selection of options was immediately provided. This version had its drawbacks, but i

[2020-04-01 03:15] thenewjuniorexecutive opened #524 "Colonies Interface Improvement"
1. There's no easy way to see who has extra fleets, besides searching through everyone's cards.  Possible to add a "landing pad" area that shows fleets that are yet to fly that generation?
2. To save scrolling, is it possible to display just the trade track (including at least player's colony cubes, current position, and next position) next to each available colony in the "Trade with a colony" and

[2020-04-01 09:01] ssimeonoff commented on #524
1. An easy option is to display it like that:
We see that Red has traded and has no more trading fleet, while Green and Blue has 1 and 2.
![fleet](https://user-images.githubusercontent.com/6917565/78118274-1094c600-7407-11ea-829d-f58baa22393d.png)

- on the row "Colonies" display the remaining fleet (so no height is lost)
- use fleet icons (there are many free and nice "paper plane" icon on flatic

[2020-04-01 17:33] Carcassonner opened #528 "Bug: Several wild tags do not work correctly"
Having 6 different tags and 2 wild tags I still couldn't claim diversifier.
Also, I couldn't play an advanced ecosystems card with one of the 3 different required tags and 2 wild tags

[2020-04-02 01:45] FreeLikeGNU opened #531 "Capital, Wave Power and Nitrophilic moss playable with less than req ocean tiles"
nevermind

[2020-04-02 01:48] #531 closed

[2020-04-02 03:26] FreeLikeGNU commented on #511
Played Research Outpost as first player of generation, placed tile and then used Undo action.  The tile was removed, card and MC/steel returned but I lost my turn, second player of generation then played.

[2020-04-02 09:42] pierrehilbert commented on #511
Will take a look!

[2020-04-02 14:45] FreeLikeGNU commented on #511
two player, prelude, hellas map, no draft. I think this was second or third gen.

[2020-04-02 15:40] Carcassonner opened #534 "Bug: Wild tags are considered tags at the end of the game."
In my last game, wild tags were considered Jupiter tags and my opponent got more points for the Ganymede Colony, Water from Europe and Io.

Wild tags should not be considered any tags at the end of the game. (maybe they can count as building or space tags for awards too)

[2020-04-02 16:01] FreeLikeGNU commented on #534
Apparently they should only count during the owning players taking an action, otherwise they are nothing according to this thread:

https://boardgamegeek.com/thread/2030851/article/29611733#29611733

[2020-04-02 17:28] FreeLikeGNU commented on #503
Thank you for merging my contribution!

[2020-04-02 17:28] #503 closed

[2020-04-02 19:14] dabewi opened #535 "VP projection get's covered by icon"
Hi,

the VP projection points are getting covered by an icon:

https://abload.de/img/bug2gkll.png

[2020-04-02 21:46] FreeLikeGNU opened #537 "Make overview and game home more colorful"
- Add names and colors of players with links to games in overview
- Provide player colors in game home

see PR: https://github.com/bafolts/terraforming-mars/pull/536

![Screenshot_2020-04-02_14-37-52](https://user-images.githubusercontent.com/674095/78302934-a0fb0580-74f0-11ea-9b04-f69f4d4f69a9.png)
![Screenshot_2020-04-02_14-38-46](https://user-images.githubusercontent.com/674095/78302936-a35d5f8

[2020-04-02 23:01] thenewjuniorexecutive commented on #524
Maybe use a compacted version of the colony tile? Most of the information lives in the bottom third of the tile.

[2020-04-03 05:00] FreeLikeGNU opened #538 "Activating the "play project card" action automatically when selecting a card."
During a players turn, clicking on a card in hand should automatically select the "play a project card" action if the card can be played.   Eventually we could make the "cards in hand" replace the seperate playable cards to make the UI more compact.

[2020-04-03 05:01] alrusdi opened #539 "Add official promo cards"
We are missing these:

- [x] Penguins
- [x] Small Asteroid
- [ ] Self-Replicating robots
- [x] Snow Algae
- [x] Dusk Laser Mining
- [x] Project Inspection
- [x] Energy Market
- [x] Hi-Tech Lab
- [x] Interplanetary Trade
- [x] Law Suit
- [x] Mercurian Alloys
- [x] Orbital Cleanup
- [x] Rego Plastics
- [x] Saturn Surfing
- [x] Stanford Torus

Political Alliance (Turmoil)

[2020-04-03 05:43] vincentneko commented on #539
Penguins, Small Asteroid, Self-Replicating robots and Snow Algae missing as well.

https://ssimeonoff.github.io/cards-list
with promo filter will display all these cards

[2020-04-03 05:46] alrusdi commented on #539
Indeed. I found their name in CardName enum, but there no real cards for them :-)

[2020-04-03 06:14] vincentneko commented on #476
Merged

[2020-04-03 06:14] #476 closed

[2020-04-03 06:44] alrusdi commented on #535
Fxd

[2020-04-03 06:44] #535 closed

[2020-04-03 06:46] alrusdi commented on #487
It is seems to be implemented. We did some plytests

[2020-04-03 06:46] #487 closed

[2020-04-03 07:34] pierrehilbert commented on #511
Okay, I found it! The problem was that I saved the game after the research phase and it's not working the same way.
I found another solution, I will make a PR in few minutes.

[2020-04-03 08:34] pierrehilbert commented on #428
I corrected the blank part and the double display of the same cards.
For the log part, I think it could be great to indicate more informations.
Some examples:
- When trading with a colony, display how many resources did the player get.
- When using a blue card and there is multiple choice, display which one have been chosen.

[2020-04-03 08:47] ssimeonoff commented on #524
- Option 1: transform scale them down
sccale(0.6) will make them approximately as wide as the card:
![colonies2](https://user-images.githubusercontent.com/6917565/78341484-17067780-7598-11ea-8779-0dfe66a43e70.png)

- Option 2: Redesign the tiles in more horizontal manner
![colonies](https://user-images.githubusercontent.com/6917565/78341534-2d143800-7598-11ea-9fa3-a5cf695f99ee.png)

- Option 3: Re

[2020-04-03 12:30] ssimeonoff commented on #538
This should be thought through first.
If this is the case, then it can be claimed, that played Active Action cards should be clickable triggering.

One of my first thoughts during the first play was exactly that, but after few plays, the simplicity of :

felt much better.

The UX is the Steam game is the same:  You don't see you cards in hand unless you click them.

What is missing before clicking

[2020-04-03 14:08] bafolts commented on #534
I agree this doesn't make sense to use for tags which count Jupiter tags for victory points. This wild card thing seems it is going to be an ongoing source of confusion. We should keep this bug isolated to use cases where the tag is counted for victory points for Jupiter tags.

[2020-04-03 14:11] bafolts commented on #528
This was closed with the diversifier milestone update but I plan to also address the issue with the advanced ecosystems card prior to closing this bug.

[2020-04-03 14:48] rzulian commented on #518
solved https://github.com/bafolts/terraforming-mars/pull/532

[2020-04-03 14:48] #518 closed

[2020-04-03 15:17] alrusdi commented on #537
This is merged. Thank you for contribution

[2020-04-03 15:17] #537 closed

[2020-04-03 16:48] FreeLikeGNU commented on #538
Simeon, thank you for illustrating this.

As a personal preference, I'd like cards in hand to be visible even when not selecting a card to play, but perhaps this would make a preference selection for "Show/Hide Cards in Hand"  all the more useful to override if desired.
I do agree that the play card action should be at the bottom and not disrupt the other action options and number of cars playable

[2020-04-03 19:04] #384 closed

[2020-04-03 22:02] gomfunkel commented on #496
@FreeLikeGNU Fixed and merged with #523.

[2020-04-03 23:12] FreeLikeGNU opened #549 "Magnify cards and/or descriptions on hover to make them easier to read. Toggle from preferences."
Please see PR: https://github.com/bafolts/terraforming-mars/pull/556
Card and / or description magnification on hover combined with user select-able preferences (also available on initial card selection)

![Screenshot_2020-04-04_11-39-30](https://user-images.githubusercontent.com/674095/78458864-7a140f00-7669-11ea-987a-b20dc933abe5.png)

![Capture+_2020-04-05-13-15-03](https://user-images.githubus

[2020-04-04 00:26] thenewjuniorexecutive commented on #524
I'm good with option 4 for the current colonies display, but like 3 if it's added to the trade with colony menu item.

[2020-04-04 01:52] thenewjuniorexecutive opened #551 "Copyedits"
Solo win screen: "Try to win faster then last generation comes" should be "Try to win before the last generation comes"

Log: "aquafier" standard project should be "aquifer"

In the Create New Game screen: "Use Solar Phase Option" should this be "Use World Government Option"? The rest of the Solar Phase should still happen with Colonies (or Turmoil.)

[2020-04-04 03:06] FreeLikeGNU opened #552 "A way to show every card in all decks on a single page as they are rendered in the game?"
If this already exists, forgive my ignorance.  This would be nice to help fix tricky card formatting issues.

[2020-04-04 07:19] alrusdi commented on #552
No it doesn't exist. And it would be a great debugging feature. Can you implement it?

[2020-04-04 07:27] alrusdi commented on #551
I will fix it after merging of this PR https://github.com/bafolts/terraforming-mars/pull/553 to have less conflicts.

[2020-04-04 14:08] FreeLikeGNU commented on #552
These are some things that could be handy should there be some interactive debug mode, this could also be a nice tool for learning the card interactions, other game mechanics, and creating tutorials, demos, game and card variations, expantions etc.

- [ ] Would exist as a special solo game available only from the server admins games overview
- [ ]Setup phase player can chose from any corporation,

[2020-04-05 00:33] FreeLikeGNU opened #558 "Player order needs a style update"
see PR: https://github.com/bafolts/terraforming-mars/pull/557

![Screenshot_2020-04-04_17-24-37](https://user-images.githubusercontent.com/674095/78464123-63d27700-769a-11ea-8ee1-4d6a7c9fc5f6.png)

[2020-04-05 02:04] bradwerth commented on #359
This part is fixed by #520 and fix-ups #529 and #547.

[2020-04-05 02:16] Carcassonner opened #559 "Display turn order and first player during the choice of corporations and cards"
According to the rules, the first player must be selected before starting cards and corporations are selected.

[2020-04-05 06:15] alrusdi commented on #511
Fxd. Thank you!

[2020-04-05 06:15] #511 closed

[2020-04-05 08:57] alrusdi commented on #558
Merged. Thank you!

[2020-04-05 08:57] #558 closed

[2020-04-05 09:50] alrusdi opened #562 "Robotic Workforce does not work on Cheung Shing MARS"
Can't copy production box from corporation cards.

[2020-04-05 16:08] thenewjuniorexecutive opened #565 "Power Supply Consortium in solo"
Playing this card required me to reduce my own power production instead of automatically reducing the virtual opponent's.

[2020-04-05 17:36] bafolts commented on #528
I can't recreate the issue reported with advanced ecosystem and looking at the source I would assume one of the non wildcard tags was on an event card.

[2020-04-05 17:36] #528 closed

[2020-04-05 19:45] #534 closed

[2020-04-06 10:32] alrusdi commented on #565
This should be fixed now

[2020-04-06 10:32] #565 closed

[2020-04-06 11:35] alrusdi commented on #559
This is should work now

[2020-04-06 11:35] #559 closed

[2020-04-06 14:35] alrusdi commented on #562
Fxd

[2020-04-06 14:35] #562 closed

[2020-04-06 14:51] gomfunkel commented on #539
@alrusdi @vincentneko If no one started this yet feel free to assign it to me. Should find some time to add the cards soonish.

[2020-04-06 15:00] alrusdi commented on #539
@gomfunkel  It would be great. Are you ready to write unit tests for it? :-)

[2020-04-06 15:02] gomfunkel commented on #539
@alrusdi Sure thing. No cards without tests. I might even write the tests before implementing the cards... 😉

[2020-04-06 15:05] alrusdi commented on #539
You are welcome! Do it one by one to make reviews easy

[2020-04-06 15:15] gomfunkel commented on #539
@alrusdi Do you prefer one pull request per card or one commit per card?

[2020-04-06 15:27] FreeLikeGNU commented on #549
Is there a reason to block this accessibility feature?

[2020-04-06 16:06] alrusdi commented on #539
One pull request per card will be awesome!

[2020-04-06 16:18] ssimeonoff commented on #552
Plan B:  Implement custom rules:
a) number of starting corporations
b) number of starting project cards

When we play we do: a) 4
When I debug I do: b) 200

Both changes were super easy to do.

[2020-04-06 16:59] FreeLikeGNU commented on #552
I really like the idea of adding some more custom rules such as number of: starting corporations, starting project cards and prelude cards!

[2020-04-06 17:58] vincentneko commented on #549
As long as this is an option you need to activate I dont see any reason to block this.

[2020-04-07 06:45] alrusdi commented on #539
@gomfunkel great work! But can you see now why i requested to PR cards one by one? Unfortunately, the card with a bug is on the top of the stack :-(

[2020-04-07 07:35] alrusdi opened #575 "Atmoscoop disabled"
We have a Venus next "Atmoscoop" card but it is not included in Dealer module.
@bafolts @vincentneko are we disabled it for some reason or it is just mistake?

[2020-04-07 13:22] FreeLikeGNU commented on #549
Thank you!

[2020-04-07 13:22] #549 closed

[2020-04-07 13:55] lostgrail opened #576 "Feature Request: Inspect all cards played by all players in game end screen"
It is sometimes interesting to see all the cards (not just the ones that gave points) that your opponent(s) played.

Basically, just the same interface you have during the game to see other players’ cards played, but available in the Game End score screen.

Thank you! This has been a great way to keep in touch with friends!

[2020-04-07 13:59] lostgrail opened #577 "Feature Request: Turmoil"
Please add the fifth expansion. This one is a lot of work, adds several elements.

Thank you so much for all the hard work.

[2020-04-08 04:41] alrusdi commented on #577
@ssimeonoff can you give us an idea of how it can look alike? Please-please!

[2020-04-08 05:21] alrusdi commented on #488
This is merged. @ssimeonoff thank you very much!

[2020-04-08 05:21] #488 closed

[2020-04-08 07:00] alrusdi commented on #576
I've decided to provide a possibility to see any player's page from final screen. Now player names in final results table will be clickable

[2020-04-08 12:25] rzulian opened #583 "OnHoover working only if "magnified""
It looks like that you cannot see a card if the "magnify card on hoover" is not selected

[2020-04-08 13:55] ssimeonoff commented on #577
Ideas:
- Nothing fancy, plain divs with backgound colours amtching close enough the real parties design
- merge the two boards (Parliament and Events) into one to save space
- don't even do event cards - just a grid of 3 horizontal divs
- highlight the current event
- middle section background to match the ruling party colour (Greens are ruling)
- majority party is marked with something next to th

[2020-04-08 14:13] ssimeonoff commented on #577
Now, I kind of really like the slimmed down option, and adding a global event card can be:
`[inboundPartyID, outboundPartyID, description]`
E.g. the Current Global Event:
`[4, 1, 'Gain 1 MC for each card in hand (no limit) and influence.']`

[2020-04-08 14:33] alrusdi commented on #583
@rzulian Can you please give us more details about it? Screenshot may be?
I see problems **Interplanetary Trade** and **Interplanetary Trade** cards, but everything else seems to be working with any combination of options

[2020-04-08 14:44] FreeLikeGNU commented on #583
fixed see PR
![Screenshot_2020-04-08_07-42-05](https://user-images.githubusercontent.com/674095/78797558-b5b22000-796c-11ea-89f4-49b407f52d3e.png)

[2020-04-08 14:47] rzulian commented on #583
Thanks!

[2020-04-08 14:47] #583 closed

[2020-04-08 14:48] rzulian opened #586 "Rego Plastic missing content"
There is an empty description for this card.
![PHOTO-2020-04-08-13-55-15](https://user-images.githubusercontent.com/29941924/78798035-cdaf9100-79b8-11ea-899f-21c4dcbe0e49.jpg)

[2020-04-08 14:49] FreeLikeGNU opened #587 "Energy Tapping does not work in solo (no player selected)"
![Screenshot_2020-04-08_07-35-39](https://user-images.githubusercontent.com/674095/78797784-0aee3180-796d-11ea-886f-b64493aea151.png)

`Error processing input from player Error: Player not available
    at Player.runInput (/home/rachael/dev/terraforming-mars/dist/src/Player.js:532:23)
    at Player.process (/home/rachael/dev/terraforming-mars/dist/src/Player.js:1459:18)
    at IncomingMessage.<ano

[2020-04-08 15:29] FreeLikeGNU opened #591 "Card stacking causes card content to be misaligned"
see PR #592
![Screenshot_2020-04-08_08-26-44](https://user-images.githubusercontent.com/674095/78802673-f3b24280-7972-11ea-897f-6cfb9762e282.png)

[2020-04-08 15:39] FreeLikeGNU commented on #587
May be related but mining consortium does only wants to remove production from "You" rather than neutral player in solo. Should I put a separate ticket?
![Screenshot_2020-04-08_08-14-05](https://user-images.githubusercontent.com/674095/78803873-5e17b280-7974-11ea-82fb-331f100187b3.png)

[2020-04-08 15:48] FreeLikeGNU commented on #591
![Screenshot_2020-04-08_08-16-22](https://user-images.githubusercontent.com/674095/78804954-a7b4cd00-7975-11ea-9454-ff911cfc3200.png)

[2020-04-08 15:55] alrusdi commented on #587
You can check it after that PR merge. It should fix all bugs like this

[2020-04-08 15:56] #591 closed

[2020-04-08 17:52] thenewjuniorexecutive commented on #577
- Since three of the parties have such similar colors, is it possible to add the ruling party's name to the policy area? Useful for cards with party requirements.
- Placing a delegate (lobbying) is not a standard project. This mostly matters if you have Standard Tech played, but making it a separate menu item is helpful as a reminder to use your freebie. Likewise, the Scientists' policy is a one p

[2020-04-08 19:11] alrusdi commented on #586
Should be fixed now

[2020-04-08 19:11] #586 closed

[2020-04-08 19:11] alrusdi commented on #587
Fixed

[2020-04-08 19:11] #587 closed

[2020-04-08 19:11] #575 closed

[2020-04-09 06:11] alrusdi commented on #577
@ssimeonoff what if we combine slimmed down option with initial variant? I mean, we can show icons, and description (on mouse-hover or touch event).
Should we show somewhere a current influence of each player to avoid calculations?
We won't show Global Event names anywhere?

[2020-04-09 06:48] Carcassonner opened #595 "Bug: Warp drive card falls into the automated cards stack"
Unfortunately, I didn't take a screenshot, but this card is blue, but it is laid out in a stack of green cards. Probably it is now considered an automated card for award.

[2020-04-09 07:37] ssimeonoff commented on #577
@thenewjuniorexecutive
 - Yes, good idea
- Good, so separate action "Delegate" or "Delegate (free)" when a lobbyist is available.
- there are no neutral delegates at all on the pictures - the grey squares are the Leader spots (top delegate).

@alrusdi,
I like icons too, but it is extra work.
Influence can be displayed, even next to the player board.
Global event names - Do you need them?

[2020-04-09 10:01] pierrehilbert commented on #577
I will begin to work on another branch to let everyone contribute to it.

[2020-04-09 10:29] alrusdi commented on #577
@bafolts can we give write permissions to this repository to @pierrehilbert and @ssimeonoff ?

[2020-04-09 10:48] vincentneko commented on #595
FIxed and merged

[2020-04-09 10:48] #595 closed

[2020-04-09 13:22] #453 closed

[2020-04-09 13:33] ssimeonoff commented on #577
New idea: Style the global events and parties in a horizontal manner and list them vertically
Preview:  https://ssimeonoff.github.io/turmoil-boards

It provides much better ovewview, but take up more vertical space.

[2020-04-09 13:52] alrusdi commented on #577
First one is better to me. If we change player cubes to specific "delegate" icons, and add chair icons it can be really great.

[2020-04-09 14:03] thenewjuniorexecutive commented on #577
I was thinking of the party names on the event cards themselves. Only the lower delegates listed on the distant & coming events  are yet to be placed in their parties, the other four are much less critical info. It would be nice to highlight those two so you know one will be placed after the coming election, and the other one will be placed after the election after that.

[2020-04-09 16:48] FreeLikeGNU opened #599 "Other player details window needs a freshening"
See PR #598
I removed the difficult to use (on mobile) close button so the window will just close if clicked.
Made it more clear which player is being view with color cues.
![Screenshot_2020-04-09_09-37-13](https://user-images.githubusercontent.com/674095/78919754-39d8d600-7a47-11ea-9cb9-923210bd3617.png)

[2020-04-09 23:42] matBonet opened #601 "Valley Trust, Aridor and Poseidon can be selected even if their corresponding expansion is disabled."
Valley Trust's first action requires the use of prelude cards, and Poseidon's and Aridor's first actions require colonies.

Reproduction (Valley trust):
- Start solo game
- Disable all corporations except Valley Trust and any other one
- Begin game with prelude expansion disabled
- First action of the game is not able to be completed and game is stuck.

Reproduction (Poseidon):
- Start solo game
-

[2020-04-10 08:36] alrusdi commented on #599
What a problem with the button on mobile? Just checked it and it seems to be working just fine. Is it too small? I can make it larger for small screens

[2020-04-10 09:29] alrusdi opened #602 "Incorrect Estate Dealer award"
It counts ocean **spaces** adjacent to your tiles. Correct behaviour is to count  ocean **tiles** adjacent to your tiles.

[2020-04-10 10:55] vincentneko commented on #577
I've created Turmoil branch.

@pierrehilbert and I are willing to work on this one as well, we plan to use the designs provided by @ssimeonoff

This will be a big task, if someone wants to help, which is welcome, please synchronize here before so we will not be working on the same topics.

Some tasks I foresee that can be splitted :
- Add core mechanics for Committee Board (parties, chairman, etc.

[2020-04-10 11:53] ssimeonoff commented on #577
![IMG_20200410_135218](https://user-images.githubusercontent.com/6917565/78988969-995fe000-7b32-11ea-9484-21cc083cfda3.jpg)
![IMG_20200410_135151](https://user-images.githubusercontent.com/6917565/78988974-9a910d00-7b32-11ea-94f2-f6519ad084db.jpg)

[2020-04-10 12:07] alrusdi commented on #577
Global event texts from BGG:

Global events

G01:
Democratic Reform
Mars First Delegate
------
Aquifer Released by Public Council
Greens Delegate
Ocean tile
Plant Steel/Influence
(First player places an ocean tile. Gain 1 plant and 1 steel per influence.)
==========
G02:
Mining Restrictions
Reds Delegate
------
Asteroid Mining
Unity Delegate
Titanium/Jovian tag^Influence
(Gain 1 titanium for each

[2020-04-10 13:15] FreeLikeGNU commented on #599
It works ok on a desktop browser.  I play on a tablet and found it a difficult target.  A larger button is the whole window.  I could try a hot border if we are getting too many false positives or confusing to players.

[2020-04-10 13:18] alrusdi commented on #599
It's okay also in mobile browser.
But  i don't against your proposal. A want you to show close button but close window by clicking anywhere. Button it is just visual hint about possibility to hide window

[2020-04-10 13:57] bafolts commented on #577
I will add write access to the main repository for ssimenoff and
pierrehilbert today.

[2020-04-10 15:05] FreeLikeGNU commented on #599
ah I already restored button functionality I'll try the larger button for now.

[2020-04-10 16:07] alrusdi commented on #599
Merged

[2020-04-10 16:07] #599 closed

[2020-04-10 18:52] alrusdi commented on #602
Fixed & Merged

[2020-04-10 18:52] #602 closed

[2020-04-10 19:33] FreeLikeGNU commented on #599
thanks!

[2020-04-11 01:13] FreeLikeGNU opened #607 "Payment UI"
One thing that bugs me is paying with resources other than MC on a touch screen.  Repeated tapping often zooms the browser view.   I am working on a way to reduce the clicking involved with payment.
Numeric buttons are limited to the minimum of player resource available or cost (whichever is less).

![Screenshot_2020-04-10_18-06-07](https://user-images.githubusercontent.com/674095/79031840-bc03f00

[2020-04-11 02:07] FreeLikeGNU opened #608 "Solar Phase increasing Venus score when not playing expansion?"
Increase of Venus score option (during WG phase) when playing a game with Solar Phase but without Venus Next expansion selected.  The option to increase Venus score should not exist in this case.

[2020-04-11 06:16] FreeLikeGNU commented on #496
It's working well now thank you!

[2020-04-11 06:16] #496 closed

[2020-04-11 07:06] alrusdi commented on #607
Please make it as dropdown list by long tap, or make it optional.

[2020-04-11 07:28] ssimeonoff commented on #607
You are trying to solve one problem by introducing another :)

It is recommended that mobile buttons should not go under 44x44px and with spacing between not going under 10px, to ensure normal user interaction with the interface.
The chance for a misclick on those 0-9 buttons is higher than the success and the use will have to use the again the +/- buttons to recover.

Check: https://developer.moz

[2020-04-11 09:21] alrusdi commented on #551
Aquifer, solo win screen fixed.
I don't get ides about Solar Phase. It seems to be okay

[2020-04-11 09:21] #551 closed

[2020-04-11 14:01] FreeLikeGNU commented on #607
I like this, Simeon.  Disabling click to zoom for the buttons would help a lot for the current +/- input system!  I will also look into making the input as a drop down as alrusdi suggested.

In testing these buttons act as a kind of ribbon with detents which I liked, even though they were small.  They put absolute amounts in the field so even a mis-tap is easily corrected by sliding to either side

[2020-04-11 14:52] thenewjuniorexecutive commented on #551
Thanks. With all expansions, Solar Phase consists of Game End Check, World Government Terraforming, Colonies Maintenance, and Turmoil. Only WGT is optional. On the one hand "Use Solar Phase Option" sounds like you're turning the entire solar phase on and off, on the other hand, turning WGT on and off is the only optional thing in the Solar Phase, so I guess it's the Solar Phase Option.

[2020-04-11 15:44] alrusdi commented on #429
Merged

[2020-04-11 15:44] #429 closed

[2020-04-11 21:26] bafolts opened #614 "Reconsider when we deploy updates to the hosted heroku site."
Every time we do a commit to master a new version of the app gets deployed to the heroku site. If someone was in the middle of a game this interrupts their game. We should deploy at a certain time of day or come up with some other release strategy, or keep this in mind.

[2020-04-12 01:12] A-Camp opened #615 "Bug: Error when trying to remove plants"
When playing "Small Asteroid" and trying to select plants to remove from other plays an error message for the input pops up reading `add.resourcesRemovedThisGenerationByPlayer.add is not a function`.  It is then impossible to get past this screen as the error can't be resolved but the player cannot undo playing the Small Asteroid card from the promo deck. However - every time a player tries to cli

[2020-04-12 07:52] vincentneko commented on #615
This should be ok now

[2020-04-12 07:52] #615 closed

[2020-04-12 07:53] vincentneko commented on #608
Fixed and merged

[2020-04-12 07:53] #608 closed

[2020-04-12 14:39] Carcassonner opened #618 "Bug: The amount of resources on the Saturn Serfing card is not displayed"

[2020-04-12 14:46] Carcassonner opened #619 "Bug: playing law suit card crushes the game"
Unfortunately, I did not fix the error. The player who played this card got an endless turn. After clicking the "End turn" button, the turn was not transmitted and he continued to perform actions, and after his pass, the game broke.

Also, probably, Law Suit gives +1 point, and not -1 point to the person to whom it should be transferred.

[2020-04-12 14:47] vincentneko commented on #619
Thanks for the feedback. We have another PR that this time should fix this.

[2020-04-12 14:54] FreeLikeGNU commented on #608
Many thanks!

[2020-04-12 19:15] lostgrail commented on #576
That sounds perfect

[2020-04-12 19:20] lostgrail commented on #577
Did you remember that five of the global events only apply if one or more of Venus and colonies are in play? I think the count is 1 is Venus only, two are colonies only, and two are either/ both Venus and colonies? Not sure if it matters. Just means those cards might be a dead draw

[2020-04-12 19:21] lostgrail commented on #577
Also, thank you guys for all the hard work. This has been really appreciated as a way to stay in touch with friends

[2020-04-13 08:58] pierrehilbert commented on #577
Nice reminder, we will take it into account!
I must confess that you're right, be able to play with friend in this containment period is really enjoyable.

[2020-04-13 10:56] #504 closed

[2020-04-13 17:05] pierrehilbert commented on #577
@ssimeonoff : Could you please provide us the HTML structure as defined in your first message?

[2020-04-14 06:35] alrusdi commented on #619
This should be fixed now.

[2020-04-14 06:35] #619 closed

[2020-04-14 07:13] ssimeonoff commented on #577
First suggestion was just an image.
But now I have a 3rd suggestion:
- put the events on the left side (not over it) to reduce the height
- parties to hold only 6 slots for delegates (5 players + one neutral) when where there are more than 1 delegate per party, display a number
- Ruling party policy to be next to the player's board (thus it will more on focus and harder to forget)
Can do an overvi

[2020-04-14 07:18] pierrehilbert commented on #577
If you think that the number for delegate will be readable on mobile, it's perfect for me.
I look forward for this overview, many thank for this big contribution!

[2020-04-14 12:03] alrusdi commented on #577
We can completely replace parties color scheme for something more readable btw.
Like this: https://cdn.thingiverse.com/assets/ff/3c/27/c3/5d/Turmoil_Parliment_Print.jpg

[2020-04-14 13:38] alrusdi commented on #576
Merged

[2020-04-14 13:38] #576 closed

[2020-04-14 16:31] alrusdi commented on #618
This should be fixed now

[2020-04-14 16:31] #618 closed

[2020-04-14 19:11] alrusdi commented on #539
@gomfunkel thank you very much for this great work!
I think "Self replicating robots" is too complicated for our version of the game. We can live without it.

[2020-04-14 19:11] #539 closed

[2020-04-14 19:16] gomfunkel commented on #539
@alrusdi You're welcome!

We should create a new issue for _Political Alliance_ which can be implemented once Turmoil is finished or along with the Turmoil cards.

Regarding _Self-Replicating Robots_: Yes, that's a complicated one. I do have an idea on how to implement the card and will have a try at it. Can't promise anything, though.

[2020-04-14 20:29] ssimeonoff commented on #577
https://ssimeonoff.github.io/turmoil-boards2

Something like that.
The ruling party policy will be on the right side of the player's board (same height)

[2020-04-15 07:02] pierrehilbert commented on #577
Thanks, I think it will be too large for mobile screen but will try it!!

[2020-04-15 07:36] ssimeonoff commented on #577
Either scale it down or just display the global events above the turmoil board:
Its width is a bit under 1000px and is identical to the width that the Venus board creates.
And for the height to worry later.

[2020-04-16 12:32] ap3h3ad opened #623 "Land claim marker disappears"
After some genereations due to unknown circumstances the marker that appears on a field marked with _Land Claim_ disappears and actually lifts the restriction so that everybody can build there after that (so it's not just a graphics bug).

[2020-04-16 13:19] bafolts commented on #623
Did you observe the `Land Claim` first disappear and then on a subsequent turn a player played something there? For this to happen we would have had to set the player to `undefined` of a space. Did anyone undo an action at some point?

[2020-04-16 13:30] ap3h3ad commented on #623
Hi.

This bug occured to us one time before but we thought it's fixed. On the other occurance I got feedback from my oppnents (as the one that played the Land Claim) that they technically could place something there were the Land Claim marker was.

[2020-04-16 13:38] bafolts commented on #623
I would be surprised if we were somehow removing the land claim but I would not be surprised if in one of our cards or standard projects we are forgetting to include the land claim when you select a space. I will look through all of the select space and see if we forgot to include land claim somewhere. The user interface may also appear as if you can select the space but the server would most like

[2020-04-16 18:44] thenewjuniorexecutive opened #624 "In solo game: using WGT to get bonus ocean, shows cards to buy early"
Solo game
Eight oceans out
Used WGT to raise temp from -2 to 0 at end of gen 11
Was given four cards to buy
Was then prompted to place the bonus ocean

The bonus ocean should be placed before anything happens in gen 12

[2020-04-16 22:19] Seerus commented on #614
Hello everyone!

I cloned your repository to myself and also launched it on heroku.com, so that in the middle of the game I would not encounter a deployment.
When playing a solo game (I haven’t tried others) if I take a break between moves of several hours, the error "Unexpected server response" may occur
Apparently, the point is not in deployments in the middle of the game :(

[2020-04-16 23:58] bradwerth opened #625 "On Hellas, I was able to get negative MC by placing Nuclear Zone on bonus ocean."
There may be a timing issue with checking player.canAfford() for the bonus ocean space on Hellas. In a solo game, I was able to place Nuclear Zone there when I had exactly 10 MC, resulting in -6MC, which made it impossible to play cards using resources ("You don't have that many mega credits").

[2020-04-17 00:00] bradwerth commented on #625
For example, if the logic is: select spot for tile, deduct MC to pay for card, play tile (and pay the 6 MC), then we would get this result.

[2020-04-17 10:30] #625 closed

[2020-04-17 11:08] B0Bftl opened #627 "Moring Star Inc. Requirement Bug"
Hello,

I came across a bug while playing with Morning Star Inc.
I wanted to play "Spin-Inducing Asteroid" When Venus scale was at 12. Should be fine with the Corporate Ability, I wasn't able to play the card though. I did have enough gold and the card in hand.

![GameState](https://user-images.githubusercontent.com/9283154/79563066-5ced3080-80ac-11ea-8e10-8058eee29d0b.png)
![PlayProjectCard](http

[2020-04-17 13:24] hbofolts1 commented on #614
The free heroku tier that is used puts the node process to sleep every half hour, but don't quote me on this. I will look into paying for the heroku that is used given everyone is stuck at home.

[2020-04-17 14:39] alrusdi opened #629 "Show cards ownership for actions"
When you do an action involving more than one card to add resources to it is hard to differ your cards from opponent cards. It is error prone behavior. We should show cards ownership in this case.

[2020-04-17 14:46] alrusdi opened #630 "Incorrect Colonies cards effect"
"Trading Colony" effect increases Colony Tile track  without asking, but text on cards states: "**you may** first increase that Colony Tile track 1 step"
We should also check "Trade Envoys" for the same effect

If it is acceptable behavior we should visualize it somehow.

[2020-04-17 15:10] alrusdi opened #631 "Robotic Workforce works incorrecltly with Preludes"
In our game player played Robotic Workforce and choose "Doom farming" prelude to copy production  from. But also got production from another his prelude (Aquifer turbines)

[2020-04-17 17:42] Seerus commented on #614
Ahhh ... Got it, thanks

[2020-04-17 19:29] alrusdi commented on #627
Thank you for reporting. It should be fixed now

[2020-04-17 19:29] #627 closed

[2020-04-18 01:14] bafolts commented on #614
I have upgraded the heroku account from the free level to hobby level. This should prevent the node process from sleeping every 30 minutes which was most likely causing both of the bugs reported since we really don't deploy that often. If we still get issues reported we can make a subsequent task to only deploy updates on given days. I am guessing some of the recent interest in this project correl

[2020-04-18 01:14] #614 closed

[2020-04-18 13:49] Carcassonner opened #633 "Bug: Ecological Zone card enters the game with the wrong amount of resources"
In today's game, the card entered the game with 4 resources instead of 2.
It may be counting previously played plant/animal tags (after entering Ecological zone, I had 4 of them in total)

[2020-04-18 15:34] alrusdi commented on #633
It is not easy reproducible. @Carcassonner can you provide more details? If game has been played on my server then game id will be good enough
Also it may not count wild tags. I don't sure if it is correct behavior.

[2020-04-18 15:53] Carcassonner commented on #633
https://tm.alrusdi.ru/game?id=2971682b5706
This effect should not apply to wild tags, and should not be applied to previously played tags.

[2020-04-18 16:05] alrusdi commented on #633
Steps to reproduce:
1) Play Viral Enhancers
2) Play Ecological Zone
You will get either  2 plants or 2 animals
Expected to get either 2 plants or **ONE** animal

[2020-04-18 16:38] alrusdi opened #634 "HydrogenToVenus can add floaters to non-Venus cards"
You can choose any floater card but card's text states: "Add 1 Floater to A **Venus** CARD for each Jovian tag you have"

[2020-04-18 21:45] ap3h3ad commented on #623
Ok, we got a little insight into this:

Another user used the undo button and this not only deleted the Land Claim AND also all markers from the Arcadian Communities corporation.

[2020-04-19 05:27] alrusdi commented on #577
I've aske our designer to make his vision of Turmoil board
Here is result
If you like it - i'll make html markup for it
![MarsUI_1](https://user-images.githubusercontent.com/394311/79680377-63081c00-8228-11ea-844b-225a7e0049c0.png)

[2020-04-19 06:18] alrusdi opened #635 "Atmoscoop has wrong card type"
It must be AUTOMATED but it is an EVENT now

[2020-04-19 13:48] pierrehilbert commented on #577
The current result:
<img width="1040" alt="Capture d’écran 2020-04-19 à 15 45 57" src="https://user-images.githubusercontent.com/806950/79689402-e8a1c100-8254-11ea-88f0-7c8bbadabe5d.png">

I like the new way for displaying global event, the current policy and parties but I think that we need to display how many delegate are still in the reserve. And party bonus.

[2020-04-20 06:11] #634 closed

[2020-04-20 20:10] thenewjuniorexecutive commented on #633
Viral Enhancers can also place two animals on Eco Zone

[2020-04-20 23:38] #635 closed

[2020-04-21 06:41] Carcassonner commented on #633
By Viral Enhancerss, you get a plant for a plant tag and an animal/plant for an animal tag. Only animals accumulate on the "Ecological zone" card

[2020-04-21 07:02] alrusdi commented on #577
@pierrehilbert just continue to work on current UI. When everything will be done i will add new UI

[2020-04-21 07:08] pierrehilbert commented on #577
The current UI is working.
We just need to add and everything will be finished:
- Two last global event
- A way to display the current ruling party / ruling policy

[2020-04-21 07:13] alrusdi commented on #577
Great! I will start to making new html markup then

[2020-04-21 07:37] pierrehilbert commented on #577
Many thanks for your help!!

[2020-04-21 13:05] thenewjuniorexecutive commented on #633
Viral Enhancer's text "Effect: When you play a plant, microbe, or an animal tag, including this, gain 1 plant or add 1 resource to THAT CARD"

So you get a resource on the played card or a plant for each trigger of Viral Enhancers. There is no restriction that the resource gained must match the tag played. It's just that this is the only plant tag on a card that holds resources (and there are no a

[2020-04-21 13:48] Carcassonner commented on #633
Ok, I agree. In this case, the "get 1 animal and 1 plant" option is missing.

[2020-04-21 14:19] bafolts commented on #633
What I plan to implement for this is allowing the user to select what bonus they want to apply for each tag. If they have 2 tags they will select what to apply twice. The solution we have in right now where we assume the user wants all the bonus to go to the same place was mostly for efficiency and it was before we had the interrupt system in place which makes this easier to implement.

[2020-04-21 15:21] rzulian opened #640 "Promo cards as option"
Include promo cards as an option when creating the game

[2020-04-22 07:07] vincentneko commented on #631
This one is strange. Prelude are handled the same as other cards.
Can you please try to reproduce ?

[2020-04-22 07:12] vincentneko commented on #407
Can we close this one ?

[2020-04-22 07:13] vincentneko commented on #391
Can we close this one ?

[2020-04-22 07:15] alrusdi commented on #407
No please. Tags counter is just first (amathing) step to show more statistics in the game

[2020-04-22 07:16] alrusdi commented on #391
Yes, we have separate task for translating the cards

[2020-04-22 07:16] #391 closed

[2020-04-22 14:19] Carcassonner opened #642 "Bug: Eos Chasma National Park card forces you to put an animal on your opponent's card if you don't have animals card"
In general, it should not be possible to put a resource on another player's card.

[2020-04-22 19:53] alrusdi commented on #577
I've added new markup. Turmoil board is so huge now...

[2020-04-24 08:59] pierrehilbert commented on #631
I had an issue with Dome Farming and Robotic Workforce: only got the plant production but didn't get the megacredit part.

[2020-04-24 09:03] pierrehilbert commented on #631
I corrected it.

[2020-04-24 18:08] pierrehilbert commented on #577
It's really nice, many thanks.
I just corrected to display ruling policy at the middle instead of dominant bonus.

[2020-04-30 14:03] Marhabal opened #648 "Two Bugs. Hackers and Miranda"
1) Miranda. Played animal card with prelude. Aridor then added Miranda. Contrary to rules Miranda did not activate for almost the entirety of the game despite there being an animal card in play. Its an odd situation, I know, but I guess there was no check at the end of the turn to activate the colony.

2) Two player game. Played hackers on an opponent with -1 MC. It would not allow me to lower his

[2020-04-30 17:00] alrusdi commented on #642
It seems to be fixed

[2020-04-30 17:00] #642 closed

[2020-04-30 17:26] Marhabal commented on #648
Just to clarify because I realize i worded this funny. 1) The animal card with the prelude had resources 2) "Miranda did not activate for almost the entirety of the game" - Miranda only activated when a second animal card with resources was played.

[2020-04-30 17:26] Marhabal commented on #648
And thanks for this awesome project !!!

[2020-05-01 05:19] vincentneko opened #651 "Fonts changed since update"
Before:

![Screenshot 2020-05-01 07 16 23](https://user-images.githubusercontent.com/56086992/80784036-f5d77d80-8b7b-11ea-99ea-ce52506542c6.png)

After:
![Screenshot 2020-05-01 07 16 36](https://user-images.githubusercontent.com/56086992/80784048-fff97c00-8b7b-11ea-8b29-b76850ae6aaa.png)

[2020-05-01 05:36] vincentneko commented on #648
PR incoming for second issue

[2020-05-01 05:44] vincentneko commented on #631
Both Dome Farming and Self Sufficient Settlement are bugged, they give Energy Production instead of M€.
Dome Farming is fixed but only in prelude branch, a PR is on the way to fix this.

[2020-05-01 06:42] vincentneko commented on #648
Second issue is fixed.

[2020-05-01 06:42] vincentneko commented on #640
Done

[2020-05-01 06:42] #640 closed

[2020-05-01 06:42] vincentneko commented on #631
Fixed and merged

[2020-05-01 06:42] #631 closed

[2020-05-01 06:43] vincentneko commented on #361
Is this issue still relevant ?

[2020-05-01 07:05] alrusdi commented on #651
@vincentneko are you still experiencing this issue? I can't reproduce it on recent master

[2020-05-01 07:07] alrusdi commented on #361
Nope, let's close it

[2020-05-01 07:07] #361 closed

[2020-05-01 07:13] vincentneko commented on #651
Yes I still have it, I've tested with my chrome in private nav, still got the issue as well.

[2020-05-01 07:34] vincentneko commented on #651
Same on my server, I've just updated it and on heroku server. I've flushed my cache, don't know what to do next.

[2020-05-01 07:39] alrusdi commented on #651
I will try to reproduce it. Can you check in Debug Toolbar if Prototype font is loaded and assigned to .price css class?
![Снимок экрана от 2020-05-01 12-38-05](https://user-images.githubusercontent.com/394311/80790619-ca1ebc80-8ba8-11ea-8839-d5511b13562b.png)

Is it in Google Chrome btw?

[2020-05-01 07:45] vincentneko commented on #651
Yes, it's chrome, tested on my phone as well, got the same issue.

I also have font-family: Prototype; when I inspect price

[2020-05-01 07:50] alrusdi commented on #651
Yeah. It's my fault again
https://github.com/bafolts/terraforming-mars/commit/42b5ee0c16095f920293e79955a58b60ce899bf0#diff-581a963bf5593c7b2a2f7f243fdc2e20L51
I will fix it ASAP

[2020-05-01 08:53] vincentneko commented on #651
Thanks for fixing !

[2020-05-01 08:53] #651 closed

[2020-05-01 08:57] vincentneko commented on #629
You should no be able to put resources on an opponent card, only remove.
If there is as case where we can do this, please let me know.

[2020-05-01 08:59] vincentneko commented on #633
Is this issue still relevant ?

[2020-05-01 10:08] Solo899815 opened #655 "Bug: Prelude card let MC become negative number"
Before playing prelude card, if a player has no MC in the board, playing prelude card that need to pay MC will cause the MC become negative number. And the only thing you can do in round 1 is pass, even you have enough steel/titanium to play a building / space tag card.

for example: [photo link](https://drive.google.com/file/d/1vgSHJk1809uhHsWAZ-SHvf4_P4BCvPZS/view)

[2020-05-01 10:11] Solo899815 commented on #655
Forget to say: Many thanks to build up this awesome project !!

[2020-05-01 10:45] pierrehilbert commented on #577
Turmoil is now complete!

[2020-05-01 10:48] pierrehilbert commented on #623
It was a problem with the undo action.
I corrected it.

[2020-05-01 10:48] #623 closed

[2020-05-02 11:36] vincentneko commented on #655
Thanks for the feedback. The link requires an authorization, can you put it somewhere else ?

[2020-05-02 12:40] vincentneko commented on #655
I was searching for an answer but did not find one. Imho, if someone has a prelude card with some M€ decrease, if the player does not have enough M€, the card must be discarded.

[2020-05-02 13:36] Solo899815 commented on #655
How about now?

[2020-05-02 13:51] Solo899815 commented on #655
I retry the solo mode with using "PhoboLog" as corporation. I can keep 10 cards in hand and give a -7MC at first round as a result.  Is it possible to add MC validation before start the game? (I know it need a lot of work)

[2020-05-02 14:46] bafolts commented on #633
I thought this was still relevant for Ecological Zone but it isn't.

[2020-05-02 14:46] #633 closed

[2020-05-02 17:45] bafolts opened #658 "Flaky unit test or turmoil bug."
Run the unit tests enough time locally:

[code]

This is either an issue with the unit test or a turmoil bug.

[2020-05-02 17:47] vincentneko commented on #655
Thanks for the feedback. We've just fixed prelude that could lead to negative M€, what you describe is another problem we need to solve !

[2020-05-02 17:47] vincentneko commented on #648
Fixed and merged

[2020-05-02 17:47] #648 closed

[2020-05-02 17:51] vincentneko commented on #655
I'm closing this one and opening a new one.

[2020-05-02 17:51] #655 closed

[2020-05-02 17:51] insectman opened #659 "Game died with "Unexpected server response""
https://terraforming-mars.herokuapp.com/player?id=269a0641fc2d

[2020-05-02 17:53] vincentneko opened #660 "M€ can go negative when buying initial cards"
For instance, Phobolog only starts with 23 M€, selecting the 10 cards will lead to a -7 M€ balance.

[2020-05-02 17:53] bafolts commented on #659
@pierrehilbert can we read from the sql database when the server starts up and populate any games that were running? We pushed to master which I am assuming restarted the heroku service and games were lost. We should be able to salvage the games from the database.

[2020-05-02 17:54] vincentneko commented on #659
I guess it's because of an update of the app.

[2020-05-02 17:56] vincentneko commented on #630
I guess it is acceptable behaviour. I do not see any situation where having less resources than expected  with this card is beneficial.

[2020-05-02 18:12] pierrehilbert commented on #658
I think that the problem is caused by the global event part, I will fix the test.

[2020-05-02 18:13] pierrehilbert commented on #659
Normally, not having a database file at the beginning shouldn't be a problem, do you have more information about the root cause?

[2020-05-02 20:08] vincentneko commented on #659
@pierrehilbert the idea here is to be able to load games that were interrupted after a server restart from the database file, so the games can be carried on.

[2020-05-03 02:22] bafolts commented on #659
Whenever we deploy to master that version goes live on the herokuapp. If
someone was in the middle of the game their game will be lost.

On Sat, May 2, 2020, 11:54 AM Vincent Moreau <notifications@github.com>
wrote:

[2020-05-03 06:01] vincentneko commented on #624
@bafolts I think one of your commit fixes this, can you confirm ?

[2020-05-03 09:01] vincentneko commented on #659
I've pushed on restore_games branch a quick and dirty implementation of loading games from the database at server startup.
I've created a `getAllGames` method in `SQLite` class but due to asynchronous behavior (I guess), I cannot retrieve an array of game id's from this method, hence the hideous sqlite call inside `server`

[2020-05-03 09:48] alrusdi opened #661 "Turmoil and Helion"
There no way to pay for delegate by heat
As result Helion can place additional delegates for free

[2020-05-03 10:03] alrusdi commented on #630
ok, we can live with this

[2020-05-03 10:03] #630 closed

[2020-05-03 11:00] pierrehilbert commented on #659
Okay I better understand the problem.
@vincentneko : Yes you will have trouble with the displaying of loaded game but it won't be a problem for those that was playing during the redeployment because they will have to reload the page and that's all.

[2020-05-03 11:40] vincentneko commented on #659
@pierrehilbert  using the setTimeout trick I was able to get the games id from the SQLite class.
I've also added a status column to games table to be able to distinguish pending games from finished game. The database file must be deleted for the table to be recreated with the additional column.

[2020-05-03 14:31] insectman opened #664 "Self-replicating robots issues"
1) Opponents can't see the card linked with Self-replicating robots, neither does its identity get logged.
2) Interface doesn't allow to link more than one card to Self-replicating robots.

[2020-05-03 16:23] alrusdi opened #666 "Turmoil. Send delegate for money gives 10MC cacheback"
Send delegate for money gives 10MC cacheback each time

[2020-05-03 17:12] alrusdi commented on #666
Fixed. Thank you!

[2020-05-03 17:12] #666 closed

[2020-05-03 19:11] alrusdi opened #668 "Birds card disallows to separate production reduction"
Sorry for my English. Steps to reproduce:
1) Setup 2players game
2) Set 1 player 1 plant production
3) Set second player 2 plant production
4) Try to play Birds by second player
**Result**:
Plant production of 2nd player to be reduced by 2 steps
**Expected**:
Each player production to be reduced by 1 step

[2020-05-03 20:32] vincentneko commented on #668
Not sure about this one.
Text on the card is "Decrease any plant production 2 steps" so it seems it cannot be split.

[2020-05-04 03:37] morisanhf opened #670 "There isn't Molecular Printing in Card-list"
I found there isn't Molecular Printing in this game.

I made a draft of MolecularPrinting.ts.

I have trouble with making logic 1MC  for each city in play and for each colony in play.

https://github.com/morisanhf/terraforming-mars/blob/master/src/cards/colonies/MolecularPrinting.ts

[2020-05-04 05:57] vincentneko commented on #670
Thanks for your feedback.

For the logic, you can check AEROSPORT TOURNAMENT and QUANTUM COMMUNICATIONS.
If you can also make a test class it would be great !

Do you want to have this issue assigned to you ?

[2020-05-04 06:06] vincentneko commented on #661
Fixed and merged

[2020-05-04 06:06] #661 closed

[2020-05-04 06:19] alrusdi commented on #668
Yes, you are right

[2020-05-04 06:19] #668 closed

[2020-05-04 06:57] vincentneko commented on #658
Fixed one with mudslides as well.

[2020-05-04 08:27] morisanhf commented on #670
thank you for advice!
I wanna try this issue.

[2020-05-04 10:56] vincentneko commented on #664
I've added a log message that will show the card used with Self-replicating robots.
For point 2, this something difficult to put in place, maybe someday...

[2020-05-04 10:57] vincentneko commented on #660
Fixed and merged

[2020-05-04 10:57] #660 closed

[2020-05-04 16:59] #658 closed

[2020-05-04 17:17] iamblackornot opened #674 "Unexpected server response game crash"
https://terraforming-mars.herokuapp.com/player?id=da47294789ee

3 players game, Prologue addon only

Game stopped with Unexpected server response message.

Console was being "spammed" during the game with following messages:

[code]

[2020-05-04 17:26] alrusdi commented on #674
Unexpected server response message is happened because server was reloaded for update. See duplicate: https://github.com/bafolts/terraforming-mars/issues/659

[2020-05-04 17:27] alrusdi commented on #674
I will try to get rid of Vue warnings - they are annoying

[2020-05-04 17:28] iamblackornot commented on #674
haven't thought that server is updated so often, thx

[2020-05-04 17:28] #674 closed

[2020-05-04 21:31] bafolts commented on #674
The app provided on heroku was always meant mostly for demo purposes. Running the app locally is straight forward enough. If you have an ongoing game I would start the service locally and then provide your other players your IP address for the time being.

[2020-05-04 21:39] iamblackornot commented on #674
thx for a advice and all the work u and others did. the app is amazing

[2020-05-05 00:39] lostgrail opened #675 "Poseidon was allowed to claim a colony that already had three colonies on the tile"
During the first turn of a game, when it came to Poseidon's turn they were given the option of putting a colony on a colony tile that was already filled with three colonies from other players.

The game then kept track of the colony (without it displaying graphically), giving the Poseidon player two credits when traded with, and resetting to 10 (meaning that Luna was providing 13 credits every tur

[2020-05-05 00:51] lostgrail commented on #675
And ... thank you for this. I'm glad I finally got a chance to introduce my friends to Turmoil, and the glory that is a Complete game of Terraforming Mars

[2020-05-05 01:35] bafolts commented on #659
I updated the `README.md` to hope that more people will run the game locally instead of relying on the demo.

[2020-05-05 01:38] bafolts commented on #624
Yes, this was closed by #657

[2020-05-05 01:38] #624 closed

[2020-05-05 03:55] lostgrail opened #676 "Neutral Player did not become party leader when overtaking lead"
The Neutral player did not become leader (display correctly?) when they had more members of a party than a player.

![Annotation 2020-05-04 235245](https://user-images.githubusercontent.com/7331135/81033653-61faff80-8e62-11ea-8275-ea963a010bb5.png)

I'm sorry, I have no idea what happened. Here is the last actions log from when I noticed this:
Tom used Psychrophiles action
Tom sent 1 delegate in G

[2020-05-05 06:55] alrusdi commented on #629
Modified task description

[2020-05-05 07:24] pierrehilbert commented on #676
Will take a look on it today.

[2020-05-05 07:52] #601 closed

[2020-05-05 23:33] thenewjuniorexecutive opened #678 "Terralabs cannot buy all its starting cards"
Solo with all expansions + promo cards, select Terralabs as corp + more than 4 cards, saving is stopped with a "too many cards" message. Going down to 4 cards allows you to proceed and correctly deducts only 4MC for the cards.

[2020-05-06 05:01] vincentneko commented on #678
Thanks for your feedback, I've overlooked this. I will fix this asap.

[2020-05-06 05:20] morisanhf opened #680 "First Round Policy should be Green"
In this game First Round Policy should be Green but there is no policy at First Round in this demo,
![FirstRoundPolicy](https://user-images.githubusercontent.com/64735058/81140560-ba3a1a80-8fa4-11ea-9b13-70f7df817d74.PNG)

[2020-05-06 05:25] vincentneko commented on #680
Thanks for the feedback, you're right, as per the rulebook:

Place all six Policy tiles in a pile at their designated place on the Terraforming Committee board, with GREENS on top. They start being ruling party (read more on page 4), and their policy will be active during the upcoming action phase.

[2020-05-06 05:30] vincentneko commented on #659
The fix is merged. Please check that the database file is not erased when the application redeploy.
I use docker and dockerhub, I had to make a link for the database file with docker :

[code]

[2020-05-06 12:45] #676 closed

[2020-05-06 13:02] pierrehilbert commented on #680
It's now fixed.

[2020-05-06 13:02] #680 closed

[2020-05-06 16:15] thenewjuniorexecutive opened #684 "Venus bar appears over Turmoil board in Chrome on Macbook"
With both Venus Next & Turmoil selected in Chrome  81.0.4044.138 with Sierra 10.12.6 (16G2136) on a 1920 x 1080 display, the Venus bar obscures the Turmoil board.
![Screen Shot 2020-05-06 at 11 41 52 AM](https://user-images.githubusercontent.com/62528913/81201425-417e9280-8f93-11ea-8a3c-8cd87d1e6ec4.png)

[2020-05-06 19:57] Marhabal commented on #684
I noticed if you "restore down" the window size slightly the turmoil board will slide below. The venus board only covers it when you have window maximized.

[2020-05-06 20:05] vincentneko commented on #678
Fixed and merged

[2020-05-06 20:05] #678 closed

[2020-05-06 20:05] vincentneko commented on #675
Fixed and merged

[2020-05-06 20:05] #675 closed

[2020-05-07 06:04] ap3h3ad opened #686 "Turmoil - Greens don't rule in Gen 1"
Hi!

We've just started a new game with the turmoil expansion (thank you for implementing it!). The rules state that the Green's Ruling Policy is active in the first generation (because at that point there was no election and no party had become dominant), as stated in the rules (page 2, paragraph 4: https://www.fryxgames.se/TerraformingMars/Turmoil/TURMOIL_RULES.pdf)

In our first generation ther

[2020-05-07 06:48] vincentneko commented on #297
@bafolts May I take care of this one ?

[2020-05-07 06:50] vincentneko commented on #686
This one has been fixed yesterday, please update.

[2020-05-07 06:50] #686 closed

[2020-05-07 06:51] vincentneko commented on #659
I'm closing this one, I hope herokuapp is not deleting the database file each time.
Please open a new issue if this happen.

[2020-05-07 06:51] #659 closed

[2020-05-07 06:57] vincentneko commented on #366
The idea was to mimic what @ssimeonoff has done [here ](https://ssimeonoff.github.io/cards-list)
When you filter the cards, the counters values are animated.

[2020-05-08 14:01] bafolts commented on #297
Yes

[2020-05-08 19:01] thenewjuniorexecutive opened #687 "Sponsored Projects global event should place on corporations (ArcLight)"
"All cards with resources on them gain 1 resource" Corporations are cards too.

I've only tested with Arklight in solo.
https://boardgamegeek.com/thread/2334270/article/33633309#33633309

[2020-05-09 01:43] lostgrail opened #688 "Global event triggers dialog with no instructions"
After removing an ocean when resolving the global event "Dry Deserts", the following dialog (see attached image) is displayed on the screen. There is no explanation of what is happening, so it is unclear (especially if you have no influence) what to do. I thought it was an error at first.

It would be helpful to have a line like "Gain one resource per influence". It would also be helpful for the d

[2020-05-09 07:19] lostgrail opened #689 "Feature Request: Custom Card Lists and Custom Colonies"
I've been really enjoying this implementation. Is there any way to implemnt a custom card list for project cards, prelude cards, and colonies? It would ideally look and act just like the custom corporation list.

Just a nice to have, not a requirement by any means.

Example use cases: adding non-Venus specific cards from Venus Next into games not using that expansion, removing "problematic" coloni

[2020-05-09 09:12] vincentneko commented on #688
Just checked the code, the part where you select resources is triggered only if
`turmoil.getPlayerInfluence(player) > 0`

Are you sure the dialog window appeared and you had to select 0 resources ?

Btw there I don't see the attached image.

I will update the title to something like :
Gain x resource(s) for influence

[2020-05-09 14:30] vincentneko commented on #688
What is misleading here also is that your influence when the event is resolved is not matching the board situation because the new government has already been set.

I've also spotted another bug :
The interrupts related to global events are resolved during first turn, they should be resolved before.

[2020-05-09 14:33] vincentneko opened #690 "Global events interrupts triggered during player turn"
The interrupts related to global events are resolved during first turn, they should be resolved before.

For instance, Dry Deserts will make first player remove an ocean and all players take a resources for each influence.

Second player will select resources from influence after first player has done 2 actions (or 1 and ended turn)

[2020-05-09 14:42] vincentneko commented on #688
Merged

[2020-05-09 14:42] #688 closed

[2020-05-11 16:59] morisanhf opened #694 "CultualMetropolice deprive free delegate"
I didin't put delegate at that round,but I lost free delegate after I played CultualMetorPolice card.
I guess switching logic from free delegete to 5MC delegete doesn't fit this card.
If there's no need to hurry, I wanna try this issue.

[2020-05-12 09:15] alrusdi opened #695 "Server crash on Turmoil Undo turn action"
I don't sure about the actual reason. But stack trace it always like this:

[code]

[2020-05-12 10:25] pierrehilbert commented on #695
Do you have the last version?
Because previously, the getGlobalEventByName wasn't aware of colony and venus global events, I corrected it yesterday.

[2020-05-12 10:29] alrusdi commented on #695
I don't sure. Will check it and reopen this issue if bug is still there

[2020-05-12 10:29] #695 closed

[2020-05-12 11:53] vincentneko commented on #297
Done and merged

[2020-05-12 11:53] #297 closed

[2020-05-12 13:26] rzulian opened #699 "Recruitment card no neutral delegate to remove"
In a game, you get "Select which Neutral delegate to remove", but you cannot select any delegate

<img width="519" alt="Screenshot 2020-05-12 at 15 22 42" src="https://user-images.githubusercontent.com/29941924/81696779-aee36500-9464-11ea-8202-aceda8400d81.png">

<img width="992" alt="Screenshot 2020-05-12 at 15 22 52" src="https://user-images.githubusercontent.com/29941924/81696783-b0149200-9464-

[2020-05-12 16:28] lost-grail commented on #689
I don't know if this is too much to ask, but maybe the ability to export / import the lists (corp, project, prelude, and colonies) would also be really useful. That way users can "save" their preferred card sets.

[2020-05-12 16:45] vincentneko commented on #689
This is a really good idea !
I think colonies filtering is a priority here, Luna and Pluto are too powerful in my opinion.

[2020-05-12 21:16] AlexBurkov opened #700 "Requirement for UrbanDecomposers isn't correct"
This line isn't correct. This card doesn't require city space on the board.
https://github.com/bafolts/terraforming-mars/blob/master/src/cards/colonies/UrbanDecomposers.ts#L18

![image](https://user-images.githubusercontent.com/12098651/81746060-841dfe80-94ae-11ea-98dd-79f05b47078d.png)

[2020-05-13 06:19] vincentneko commented on #670
Thanks for taking care of this.
Merged

[2020-05-13 06:19] #670 closed

[2020-05-13 06:23] vincentneko commented on #700
Thanks for your feedback.
This line should not be here, the check is done correctly below, must be a copy and paste error.

[2020-05-14 21:07] rzulian opened #702 "Server crashes"
Hi,
it happened twice in two days that the server crashed. It looks it's the turm oil  implementation.
From the log I'm getting this

<img width="896" alt="Screenshot 2020-05-14 at 23 05 21" src="https://user-images.githubusercontent.com/29941924/81986106-8790c180-9637-11ea-80fa-ca9ac753067c.png">

I don't know how to recreate this. Last time they reported it happened for an undo move

[2020-05-15 06:17] vincentneko commented on #700
Fixed and merged

[2020-05-15 06:17] #700 closed

[2020-05-15 06:18] vincentneko commented on #702
This bug was fixed a few days ago.
Can you check if the version you're running is up to date ?

[2020-05-15 07:41] rzulian commented on #702
I was running this aa8157d.
Trying now with the latest

[2020-05-15 14:11] vsrisuknimit opened #703 "Arctic Algae / Giant Ice Asteroid interaction"
In theory, the plant burning effect could happen last. The opponent could gain plants from arctic algae from the ocean placement or even the ocean bonus at 0 c first before getting their plants burned.

[2020-05-15 21:42] vsrisuknimit opened #704 "Hi-Tech Lab (0 energy) breaks the game"
If you decide to spend 0 energy to draw 0 card, Hi-Tech Lab as implemented will still force you to pick one card. Because there is no card to pick, the game will get stuck there with no way out.

[2020-05-16 10:18] vsrisuknimit commented on #704
Actually, for any card that does x. x must be greater than 0 according to the game designer. https://boardgamegeek.com/thread/1958633/article/28564463#28564463

[2020-05-16 12:53] vincentneko commented on #703
Thanks for your feedback.
I've reordered the interrupts for the following cards so remove plant action will always be resolved after Arctic Algae.
- ASTEROID
- COMET
- BIG ASTEROID
- DEIMOS DOWN
- GIANT ICE ASTEROID
- SMALL ASTEROID

[2020-05-16 12:56] #702 closed

[2020-05-17 08:58] vincentneko commented on #704
Fixed and merged

[2020-05-17 08:58] #704 closed

[2020-05-17 08:58] vincentneko commented on #703
Fixed and merged

[2020-05-17 08:58] #703 closed

[2020-05-17 09:36] vincentneko commented on #687
Fixed and merged

[2020-05-17 09:36] #687 closed

[2020-05-18 03:01] Solo899815 opened #706 "Trmoil expension setup and some event resolve"
1. as the turmoil board and event are setup at beginning, player should see it when picking corp/starting hand.

2. Some global event need the first player "place / remove an ocean" or all players need to discard two cards. For these interaction, the program will process it after all player had been draft and buy cards, which it is need to be process before starting draft

[2020-05-18 11:16] jijiqw opened #707 "Game error"
![image](https://user-images.githubusercontent.com/16096558/82207111-e443f300-993b-11ea-8be1-d12cd5151dc5.png)
when I play with my friend , the  page   suddenly  show a dialog,  and  we canot cotinue playing.
why it happened  , and  what can  we  do ?
the game url :
https://terraforming-mars.herokuapp.com/player?id=3daab0f648bf

[2020-05-18 12:19] vsrisuknimit opened #708 "Wild tag vs Galilean Waystation / Toll station"
It seems that Toll Station works correctly by not counting an opponent's wild tag (i.e. research coordinator) as a space tag to get mc production.

However, Galilean Waystation still counts an opponent's wild tag as a jovian tag to get mc production.

[2020-05-18 21:30] AlexBurkov opened #709 "Wrong translation"
This translation isn't correct. Word "вашим" must be deleted:
У вас должно быть озеленение. Выложите этот тайл по соседству с любым тайлом озеленения. 1 ПО за каждые 2 животных на этой карте.
https://github.com/bafolts/terraforming-mars/blob/master/src/locales/ru/cards.json#L407

[2020-05-19 01:40] bafolts commented on #709
I don't speak russian so I can't offer much help here. Our resident expert is @alrusdi

[2020-05-19 01:46] bafolts commented on #707
The game hosted on heroku was always intended for demo purposes but more and more players seem to be using it for their own games. You should try hosting the game locally. Errors on the demo server are hard to track down as the demo server was never designed to be able to debug errors. Yesterday around 3:00AM MST there was a deploy which is roughly when this issue was filed. We attempted to put in

[2020-05-19 01:57] bafolts commented on #707
We most likely need to configure the cache dir to include our database file.

https://devcenter.heroku.com/articles/nodejs-support#custom-caching

[2020-05-19 02:03] jijiqw commented on #707
tks a lot , we will try running the game locally

[2020-05-19 02:03] #707 closed

[2020-05-19 07:44] alrusdi commented on #709
Fixed & merged. @AlexBurkov thank you for reporting

[2020-05-19 07:44] #709 closed

[2020-05-20 01:40] Solo899815 opened #713 "Corp. that have microbe or animals cannot be remove by other card effect"
As title, Corp. Recyclon (from promo expension) and arklight (from colony expension) can store microbe and animal.

But it doesn't exist in available card when someone use remove microbe/animal funtion.
(i.e.: ants: remove microbe; predators/virus: remove animal)

[2020-05-20 06:23] vincentneko commented on #708
Fixed by @bafolts , merged

[2020-05-20 06:23] #708 closed

[2020-05-20 08:01] rzulian commented on #702
@vincentneko  It happend again. IS there anything I can do to help you on this?

[2020-05-20 09:21] vincentneko commented on #702
Yes, it could be useful to have the steps to reproduce it.
Was it related to a undo ?
You can also delete your database file as there might be some corrupted games inside.

[2020-05-20 18:19] rzulian commented on #702
Yes, it was related to the undo.
I'm running every time a fresh container, so I doubt it can be a database corruption.
The problem to replicate it is that it's crashing the machine, so I've only the log available. Any suggestions?

[2020-05-21 01:22] glass4pk opened #715 "About Chinese language support"
Hello, could I add Chinese support version into the source code? I see an json file for putting the translations.

[2020-05-21 07:55] vincentneko commented on #715
Hello, sure, it would be a great addition to the game.

I've created a dedicated branch for it, Chinese_translation, you can push your commits on it.

Translated files are stored in locales/lang_code/ folder.
At the moment Russian translation is the most complete, I suggest you mimic what as been done for this language.

Let me know if you need some help.

[2020-05-21 10:04] vincentneko commented on #715
The file constants.ts need also to be updated with Chinese language

[2020-05-21 10:31] glass4pk commented on #715
Hello,I'm now add the chinese button on it at the last pull request.
I'll them keep translate the rest of the cards.
Thank you very much

[2020-05-21 13:23] vincentneko commented on #715
Just tested it, it looks great !
Once all translation are done we will merge in master.

[2020-05-21 13:59] vincentneko commented on #713
Fixed and merged

[2020-05-21 13:59] #713 closed

[2020-05-22 09:45] glass4pk commented on #715
Hello,I'm working on the card text translation. I'm hoping to see the effect but I found that the card list page is not local, it's link to  https://ssimeonoff.github.io/cards-list  . So could I view the translations on my local env ?  To create a new game and randomly draw card is not so well.

[2020-05-22 11:56] vincentneko commented on #715
You can modify Game class like this and start a solo game:

Initial version:

[code]

Updated version:

[code]

[2020-05-25 08:54] nwai90 commented on #510
@bafolts Noticed some minor bugs with certain cards; can I submit a PR to address them? And also set "Pass" to always be the last option as per https://github.com/bafolts/terraforming-mars/issues/360#issuecomment-604305330

[2020-05-27 04:26] nwai90 opened #721 "Suggestion: Automatically set player name if not entered"
**Context:** Player links are not clickable if names are not entered in a multiplayer game.

**Suggestion:** Set player color as default player name if there is no input.

<img width="327" alt="Screenshot 2020-05-27 at 10 25 49 AM" src="https://user-images.githubusercontent.com/2408094/82977657-15e04c80-a015-11ea-87ec-2a4aab432e42.png">
<img width="267" alt="Screenshot 2020-05-27 at 12 20 01 PM" s

[2020-05-27 05:30] alrusdi commented on #721
Merged, thank you!

[2020-05-27 05:30] #721 closed

[2020-05-27 09:41] glass4pk commented on #715
Hello , I've finished the  translation by compare to ru. but still find so many sport needs to be translate.
How to add more translations into it?
Can I add more .json file to this folder, copy the strings and translate?

such as:
<img width="451" alt="need translate 1" src="https://user-images.githubusercontent.com/1888886/83003555-0e369d00-a041-11ea-91f1-a42f1a65f1b6.png">
<img width="1080" alt=

[2020-05-27 10:04] glass4pk commented on #502
Get the same idea too.

[2020-05-28 01:46] glass4pk commented on #715
I figure out how to add Venus Cards Now, I'm working on the card translation.
But I found some UI still not be translate even I've add them into the json.

[2020-05-28 05:06] nwai90 commented on #699
@rzulian In your above screenshot, the option to remove a neutral delegate from Kelvinists should be available. Does this issue still exist? I cannot replicate it after several attempts.

[2020-05-28 06:08] vincentneko commented on #699
I'm pretty sure this issue has been indirectly resolved.
@pierrehilbert can you check / confirm this ?

[2020-05-28 06:13] vincentneko commented on #438
I agree this will add a lot of complexity for something working already fine.

[2020-05-28 06:13] #438 closed

[2020-05-28 07:41] nwai90 opened #726 "Suggestion: Minor changes for player actions list"
1. If there is only one claimable milestone, its position in the list of player actions is not fixed due to only the milestone's name being displayed without the action's title.

**Suggestion:** Always display the same title for consistency even if there is only one milestone - it will be selected by default when the "Claim Milestone" action is clicked

<img width="593" alt="Screenshot 2020-05-28

[2020-05-28 07:43] nwai90 commented on #726
@bafolts @vincentneko Thoughts? I'm happy to submit a PR for this

[2020-05-28 08:01] K-Hartmann opened #727 "Aridor counts Tags wrong"
In my game with aridor, I  am getting an increase in mc production by playing non unique tags. Currently i am 11mc/turn higher than expected. I noticed an false increase by 1mc prod while playing Methane From Titan (allready a a space tag and a jupiter tag) and also while playing Floating Habs (had already 2 venus tags)

I added a general screenshot of the game state.
![2020-05-28_10h01_42](https:

[2020-05-28 10:54] vincentneko commented on #726
This is looking great !

[2020-05-28 11:21] nwai90 commented on #726
Ok, will submit a PR for it soon. The above suggested ordering is based on my own experience while playing, wondering if others have similar/other thoughts about it

[2020-05-28 12:45] nwai90 opened #728 "Suggestion: Make "Undo turn" optional"
**Context:**
Allowing a player to undo actions opens the door to many exploits. This is an issue that currently plagues the Steam version of the base game.

I've had several discussions with active players about the various ways that cheating can potentially occur. One example: undoing any action that has revealed extra information about the next card(s) in the deck.

**Suggestion:** Make it optio

[2020-05-29 08:28] PhantomFFR opened #736 "Need newbie-friendly instructions on how to run game locally"
Hello

Thank you all for your work. As someone that barely uses command lines and has no idea about programming, I don't find the "Running" instructions particularly helpful. There appears to be way too much knowledge assumed for someone not well versed in programming/github. Not just to help myself, but hopefully others as well in the future, I'd like a newbie-friendly manual on how to install th

[2020-05-29 08:40] #728 closed

[2020-05-29 11:07] bafolts commented on #736
This is a good point. It should be easy enough to provide executable builds
with tools like electron. No matter what users will need to know how to
share their wan ip address. With enough new users showing up I might
upgrade the hosting server again as well. Hosting started on a free hobby
heroku plan as I never anticipated this interest.

On Fri, May 29, 2020, 2:28 AM PhantomFFR <notifications@gi

[2020-05-30 07:22] nwai90 opened #740 "Suggestion: Increase radio button size for SelectPlayer"
<img width="405" alt="Screenshot 2020-05-28 at 8 24 37 PM" src="https://user-images.githubusercontent.com/2408094/83322329-4b8d6b80-a289-11ea-89f7-b3292f1e20f9.png">
<img width="388" alt="Screenshot 2020-05-30 at 3 18 34 PM" src="https://user-images.githubusercontent.com/2408094/83322330-4d572f00-a289-11ea-8c4c-a6e7a3065228.png">

[2020-05-30 08:34] nwai90 commented on #494
@bafolts @vincentneko I will submit a PR for this. It will save the user a lot of unnecessary clicks on "Select Space" by allowing them to select a valid space on the board immediately

[2020-05-30 13:55] alrusdi commented on #740
I will try to fix it. It is annoying indeed

[2020-05-30 14:00] nwai90 commented on #740
Thanks @alrusdi ! I tried adding `form-radio` class but the radio buttons disappeared after that

[2020-05-30 14:22] nwai90 opened #743 "Feature Request: Sounds"
Play a sound when certain events occur. Examples:
- "It's your turn!" notification
- Placing a city / greenery / ocean / special tile
- Temperature / Venus is raised
- Card played
- Blue card action taken
- Colony built / traded with colony
- Delegate sent to party
- Generation ended
- Game ended (win / loss)

[2020-05-30 14:31] alrusdi commented on #740
Fixed & merged

[2020-05-30 14:31] #740 closed

[2020-05-30 18:57] nwai90 opened #746 "Suggestion: Auto reload/refresh view when "Undo turn" action is taken"
**Context:** Currently, if "Undo turn" is done, a player needs to refresh the page to see the correct undone state. This can create some strange state errors

[2020-05-31 12:01] PhantomFFR opened #749 "General wish list, Interface ideas and perhaps some bugs"
Foreword: I have yet to play anything different than “Solo Challenge” with Prelude, promo cards and Random Board, so all my comments are in respect to it. I play using Firefox on Windows 10, without  touch input, but with a wide screen. I also have almost no understanding of programming. But after playing Solo Challenge about 50 times in the past week, here are some repeated thought of mine. I hop

[2020-06-01 03:24] thenewjuniorexecutive opened #751 "Standard solo game should always go 14 generations (12 with Preludes)"
Playing standard solo with all expansions + Solar Phase,  fully terraforming Mars in Gen 11 will trigger then end game. Per rule 5 for solo, "You always play 14 generations". This replaces the multiplayer end game check. Preludes modified it to 12 generations without reinstating the original check.

I haven't managed to complete it more than 1 generation early.

The additional gen matters if you'r

[2020-06-01 04:43] glass4pk commented on #751
Yesterday I played a solo game , I fully terraforming all three , but still got me lose...
Is that bug?

[2020-06-01 04:50] nwai90 commented on #751
@glass4pk Was Venus expansion included? Did you select Solo TR option?

[2020-06-01 05:43] alrusdi commented on #751
It is probably regression. We need a test for it.

[2020-06-01 08:50] nwai90 commented on #494
This feature has been deployed, should we close this issue?

[2020-06-01 08:56] vincentneko commented on #494
Yes sure, thanks for taking care of it.

[2020-06-01 08:56] #494 closed

[2020-06-01 08:59] vincentneko commented on #727
I tried to reproduce this issue without success. This bug was existing in the past but has been resolved. Can you check that you run last game version ?

[2020-06-01 13:39] nwai90 commented on #749
Does this ordering make sense? Not shown:
- Claim a milestone (always first in the list if available)
- Convert 8 heat to temperature and Convert x plants to a greenery (always second and third options if available)

<img width="488" alt="Screenshot 2020-06-01 at 9 35 37 PM" src="https://user-images.githubusercontent.com/2408094/83414634-6b22c080-a450-11ea-98e8-110b67fe466a.png">

[2020-06-01 14:49] #726 closed

[2020-06-01 16:30] vincentneko commented on #423
Fixed by @nwai90
Thanks

[2020-06-01 16:30] #423 closed

[2020-06-01 16:42] nwai90 commented on #736
Related to this, would it be a good idea to limit deployments (i.e. merges to master) to consistent fixed daily time windows?

Like a regular "maintenance window" of sorts, so that it can minimise loss of games for active players as everyone will know to avoid games during this time period when changes are being rolled out.

[2020-06-01 16:57] vincentneko commented on #736
If the database is not recreated when the game is redeployed, the pending games would be reloaded to the last save.
@bafolts did you found how to implement the cache function on heroku you've mentioned ?

[2020-06-01 17:27] alrusdi commented on #736
We can use another branch for deployments (something like **stable**)

[2020-06-01 18:39] vincentneko commented on #736
Yes or the other way around, link the demo server to a demo branch that could be updated periodically. So master branch will always be up to date.

[2020-06-03 01:04] AbnRgr1978 commented on #751
Non-Programmer Confirming the Prelude solo, I won but lost bug.
Finished early  Gen12, scored 96 completed all TF and lost.  Did not think to save game stats.

[2020-06-03 02:02] AbnRgr1978 commented on #445
Non programmer chiming in.  At the couple of games ends I was able to get to I did see a game ID.  I was thinking this would be a good tool for tracking down bug issues.
Have not seen it any time other than game end which limits its use for reporting bugs, if that was an option.  Both 2 players games and several solo games I have tried ended in unrecoverable server issues.  Even with undo option s

[2020-06-03 06:07] vincentneko commented on #751
This should be ok now, thanks to @alrusdi and @bafolts
Can you please confirm this ?

[2020-06-03 16:03] AbnRgr1978 commented on #736
I would like to echo 110% what PhantomFFR posted and in fact created my own comment prior to searching the existing issues.

Is this TM program suitable for non programmers to try yet?  Much of my free time is spent with the stream version which has become boring and inadequate.  My hard copy solitaire game sits on my game table mocking me for the last 3 months of house arrest.
The instruction at:

[2020-06-03 16:57] bafolts commented on #736
I can look into revamping the public site. I was never planning on this
project taking off or COVID locking everyone inside. The public site is
going to be easiest for everybody. The cost isn't the issue for me as much
as finding time to do it. As this issue gains users though I gain more
motivation.

On Wed, Jun 3, 2020, 10:04 AM AbnRgr1978 <notifications@github.com> wrote:

[2020-06-03 17:03] vincentneko commented on #736
In the meantime I've used my son's computer to install the game localy.
His computer is running windows 10. On Mac it should be almost the same.

Here is the walkthrough : [documentation](https://docs.google.com/document/d/1r4GlqA6DkrSAtR6MMYmX_nmh6o4igVTqDUUETiJYGt8/edit?usp=sharing)

If someone can test it and maybe do some screenshots it would be great.

[2020-06-03 17:31] AbnRgr1978 commented on #736
Working on it.

From: Vincent Moreau <notifications@github.com>
Sent: Wednesday, June 3, 2020 10:04 AM
To: bafolts/terraforming-mars <terraforming-mars@noreply.github.com>
Cc: AbnRgr1978 <abnrgr1978@gmail.com>; Comment <comment@noreply.github.com>
Subject: Re: [bafolts/terraforming-mars] Need newbie-friendly instructions on how to run game locally (#736)

In the meantime I've used my son's compute

[2020-06-03 21:38] AbnRgr1978 commented on #736
Vincent, I was successful
[Terraforming Mars GitHub Server install for Dummies Supplement.docx](https://github.com/bafolts/terraforming-mars/files/4726321/Terraforming.Mars.GitHub.Server.install.for.Dummies.Supplement.docx)

waiting for the rest of the story so I can play with my buddy in the next town.

[Mom - the computer cheats.docx](https://github.com/bafolts/terraforming-mars/files/4726326/Mo

[2020-06-03 23:38] bafolts commented on #736
OK. I think https://github.com/bafolts/terraforming-mars/pull/758 will keep the database around between builds. We will need this to work whether we use `master` or some other branch for the heroku site. I can verify that this keeps the database file around once merged. I am going to look into what database instances heroku provides as it is difficult to manage this on disk dictionary. For the tim

[2020-06-03 23:44] bafolts commented on #736
Leveraging electron I still think we should still be able to provide some form of binary which would at least remove the steps of having to install git, node, and npm which is definitely a tall ask for people who are not familiar with these tools. No matter what we do a local user will need to know networking so that they can provide their IP to other users. This was common knowledge back in the d

[2020-06-04 00:41] AbnRgr1978 commented on #736
If it is just a matter of inserting an IP into "http://localhost:8080/ " address I would be willing to try.  Perhaps/preferably a VPN?  Unfortunately I no longer have a clue how that works any more.  I do have my local server version of TM running successfully and would be very interested in the steps to network it and keep it updated.  My experience is that what was common knowledge back in the d

[2020-06-04 06:40] vincentneko commented on #736
@AbnRgr1978
First things first, thanks a lot for your feedback and the extensive documentation. We now have 2 documents to explain how to install the game locally. I will update the readme with this.
About the network setup, it's more complicated than that. I will update my documentation when I have some time.
Last, about your solo game. Did you check the "TR solo mode" option ?
If it's the case,

[2020-06-04 14:29] AbnRgr1978 commented on #736
Thank you, I vaguely remember that rule but have always ignored that option.  Probably because steam never incorporated it (AFAIR).

[2020-06-04 17:58] alrusdi commented on #751
This should be fixed now

[2020-06-04 17:58] #751 closed

[2020-06-04 18:06] AlexBurkov opened #760 "Corporation Arklight is wrong"
Arklight adds one resource when any player play cards with animal or plant tags. It isn't correct.
I think you must add checking for player here:
https://github.com/bafolts/terraforming-mars/blob/master/src/cards/colonies/Arklight.ts#L25

[2020-06-04 18:10] AlexBurkov opened #761 "Choosing preludes which require MC"
We played mars and I found some bug: I chose a lot of cards and I didn't have MC. I chose two preludes: one of them gave me 6 MC and another required 5 MC. So I thought I got MC firstly and I could pay second prelude. But game showed me only one prelude which gave me MC. And I couldn't pay second. I didn't see it even.

[2020-06-04 18:24] AlexBurkov opened #762 "Open city can be chosen even if there aren't available places for city"
I couldn't bug here:( But we played and I could play this card but there aren't available places for new city.
https://github.com/bafolts/terraforming-mars/blob/master/src/cards/OpenCity.ts#L17

Sorry, I didn't choose needed card on screen. But you can see it below. It costs 23 MC
<img width="1147" alt="Screen Shot 2020-05-31 at 01 28 30" src="https://user-images.githubusercontent.com/12098651/837

[2020-06-04 19:09] alrusdi commented on #760
Thanks for the report. We will fix it soon

[2020-06-04 19:14] alrusdi commented on #762
@AlexBurkov Did you play it on your own server? We need db/game.db file for debugging if it is possible.

[2020-06-04 19:29] AlexBurkov commented on #762
Yes, I played it on my server. I can sent this file, but it's 135MB, I think I can't attach it here. So how I can sent it to you?

[2020-06-04 19:30] alrusdi commented on #762
@AlexBurkov try to email it to alrusdi@gmail.com

[2020-06-04 19:35] AlexBurkov commented on #762
Done

[2020-06-04 19:39] AlexBurkov commented on #762
That game was on 31 May

[2020-06-05 00:35] bafolts commented on #736
I will need to do more work for heroku. We create the database file at `../../../db`. I am not sure how we reliably know which directory that will be. Using a remote propped up database is inevitable. Will keep this issue posted.

[2020-06-05 02:21] nwai90 commented on #762
@alrusdi This should have been fixed here: https://github.com/bafolts/terraforming-mars/commit/ec5ccd756bf1052b526d50b5e990547dd3d356aa#diff-e94b75f226ba27d7c775fb2e13827d0cR18

@AlexBurkov There was a patch for this around 25-26 May. Is it possible that your game might have been run on an older version of the code?

[2020-06-05 02:37] nwai90 commented on #760
@alrusdi Fixed in https://github.com/bafolts/terraforming-mars/pull/765

[2020-06-05 05:05] nwai90 commented on #761
@AlexBurkov I am able to reproduce this, will fix it

[2020-06-05 05:47] alrusdi commented on #760
Should be fixed now

[2020-06-05 05:47] #760 closed

[2020-06-05 05:49] alrusdi commented on #762
@nwai90 i think so. Can't reproduce it. @AlexBurkov please reopen it if you hit it again in updated version

[2020-06-05 05:49] #762 closed

[2020-06-05 06:01] vincentneko commented on #761
Fixed by @nwai90 and merged

[2020-06-05 06:01] #761 closed

[2020-06-05 06:06] vincentneko commented on #727
I'm closing this one as I'm pretty sure it's fixed on master. Please reopen if I'm wrong.

[2020-06-05 06:06] #727 closed

[2020-06-05 09:08] AlexBurkov commented on #762
Yes, I could play on old version. I am sorry.

[2020-06-06 10:48] funkybaboon opened #775 "Improvement: When there is only one action available from a played card, preselect it."
If I only have one action available from a played card, I still have to select it to do the action:

<img width="655" alt="Screenshot 2020-06-06 at 12 46 00" src="https://user-images.githubusercontent.com/2966599/83942476-e6d79100-a7f3-11ea-8cb9-d50468c07233.png">

Suggestion: Also preselect this action, like you do with the project cards if there is only one project card available.

<img width="6

[2020-06-06 11:03] funkybaboon opened #776 "Improvement: Show discounts on card price"
If I get any discount on a card price, It is not reflected in the price tag.

Suggestion: Add the discounted price to the price tag. Show the original price strike through, f.ex. like this:

<img width="659" alt="Screenshot 2020-06-06 at 12 58 56" src="https://user-images.githubusercontent.com/2966599/83942641-c3154a80-a7f5-11ea-9876-1f310c3f9814.png">

This was done with the chrome developer Tool

[2020-06-06 12:04] nwai90 commented on #776
Related to https://github.com/bafolts/terraforming-mars/issues/412 as all displayed cost values are currently hardcoded in HTML_data

[2020-06-06 16:11] nwai90 opened #777 "Suggestion: Clearly indicate end of game to players"
Some ideas:
- Show a temporary message (e.g. "Mars is terraformed!") to players
- Style all global parameter values to a different colour when Mars is terraformed

[2020-06-08 08:56] funkybaboon commented on #412
What exactly needs to be done here? Currently we have the cards in `HTML_data.ts` like this:
[code]
in `cards/CupolaCity.ts` there is data like this:
[code]
Should we add attributes `cardNumber` and `template` to the cards classes like this? Also we should move all the strings to an i18n file.
[code]
I'm not a Vue expert, so I need help in how to use the `template` in the game.

[2020-06-08 12:11] vincentneko commented on #684
@alrusdi I think this one is fixed with new global design ?

[2020-06-08 12:20] alrusdi commented on #684
yes it is

[2020-06-08 12:20] #684 closed

[2020-06-09 01:52] bafolts commented on #736
The game is running on heroku and short of any bugs we have with our database storage of game state the games running there should now play fine. I will close this ticket as we added documentation for how to setup locally and the public demo server should be stable enough for long running games.

[2020-06-09 01:52] #736 closed

[2020-06-09 02:08] bafolts commented on #445
If playing on the public terraforming-mars.herokuapp.com this should be more stable now. I have updated the database used and app level from the free plan which will make things more stable. With a provided game id during a bug report we should see the last game state that was saved in the database which should make recreating issues easier since they now shouldn't be related to the server restart

[2020-06-09 02:54] motoyugota opened #780 "Hellas map missing icon for ocean bonus"
With the latest UI update, the icon for the -7 credit ocean bonus at the bottom of the Hellas map is missing. The tile placement still works to give you the ocean, so it's just a missing graphic.

![2020-06-08 (9)](https://user-images.githubusercontent.com/889269/84100935-82265d00-a9d2-11ea-82fc-342323928eb3.png)

[2020-06-09 06:33] vincentneko commented on #694
Fixed and merged

[2020-06-09 06:33] #694 closed

[2020-06-09 06:34] vincentneko commented on #699
I'm closing this one, please reopen if bug still occurring.

[2020-06-09 06:34] #699 closed

[2020-06-09 10:34] nwai90 commented on #359
Hi @alrusdi I will submit a PR for this to show a simple warning popup if player overpays for a card or card action.

[2020-06-09 10:55] vincentneko commented on #780
Thanks to @gomfunkel for fixing this

[2020-06-09 10:55] #780 closed

[2020-06-09 13:33] nwai90 opened #787 "Feature Request: Random Milestones and Awards"
Ref: https://ssimeonoff.github.io/ma-randomizer

We could implement this as a game option without taking synergy into account first, and add synergy considerations at a later stage.

<img width="874" alt="Screenshot 2020-06-09 at 9 43 30 PM" src="https://user-images.githubusercontent.com/2408094/84155282-c0874f00-aa9a-11ea-83f5-5f6871f6a77b.png">

<img width="804" alt="Screenshot 2020-06-09 at 9 4

[2020-06-09 13:54] nwai90 commented on #787
@vincentneko Could you help with the database side for this? I can push a draft PR first; we would have to store milestones and awards data for games that have randomized M&A, in order for them to be properly rebuilt.

[2020-06-09 16:21] vincentneko commented on #787
Yes I can help with the database side.

[2020-06-09 16:50] nwai90 commented on #787
Thanks, I raised a draft PR https://github.com/bafolts/terraforming-mars/pull/790

[2020-06-09 17:46] jijiqw commented on #743
That a great idea ,  hope to see it soon

[2020-06-09 19:02] vincentneko commented on #366
I'm closing this one as there is no way at the moment to keep track of the changes in the numbers.
(previous value vs current value)

[2020-06-09 19:02] #366 closed

[2020-06-09 19:04] vincentneko commented on #360
I'm closing this one as many things have been done to improve the UI.
Thanks to @nwai90 for the improvements.

[2020-06-09 19:04] #360 closed

[2020-06-09 19:12] vincentneko commented on #359
With the last commit from @nwai90 I'm closing this issue.
@bradwerth @alrusdi @nwai90 thanks for your help on this topic.

[2020-06-09 19:12] #359 closed

[2020-06-09 22:32] FrankJones314 commented on #777
For solo mode this would also be helpful (similar to the steam version; one of the few things they did correctly).  I had two games that I "lost" (I counted them as wins) because I had literally 175 MC and spent them all on cities and greeneries not realizing I needed one more temperature bump.

Having the portion of the corresponding semicircle around the board for each of the three parameters co

[2020-06-09 22:36] FrankJones314 commented on #776
A related idea - someone suggested this one steam for the asmodee version:  Maybe an indicator of which cards are not yet playable or no loner playable because of global parameters.   As it stands now, when clicking "[p;lay a card" it hides ones that we cannot afford And that have global parameter issues.    That sometimes results in misplays of thinking, "ell, after I place the greenery next to t

[2020-06-09 22:39] FrankJones314 commented on #749
Yeah, for solo mode, there is no "action 1 of 2"  Any action should be able to be undone.

[2020-06-10 00:45] nwai90 commented on #359
Thanks @vincentneko ! The UI is probably not the best right now since it uses the native browser confirm popup, but it's fully functional so this should give us opportunity to improve the display and styling in future

[2020-06-10 04:44] nwai90 opened #792 "Bug: Celestic should draw any card that has floater icon(s) anywhere"
Currently, cards like Air Scrapping Expedition, Aerosport Tournament and Stratospheric Birds are being discarded by Celestic

**Ref:**
https://boardgamegeek.com/thread/1960449/question-about-celestic-and-wg-phase
https://boardgamegeek.com/thread/1870830/celestic-corporation-initial-card-draw-and-stratos

[2020-06-10 04:45] nwai90 commented on #792
I will submit a PR to fix this issue

[2020-06-10 11:47] gomfunkel commented on #412
I had a similar idea to what you are describing, @funkybaboon, and have already implemented parts of it as a proof of concept. I hope the approach will also enable us to implement further features like #776 in the future.

I will try cleaning things up a bit and submit a PR later today. I think it's easier to discuss it that way and see what I forgot about.

[2020-06-10 13:24] nwai90 opened #794 "App is down?"
<img width="560" alt="Screenshot 2020-06-10 at 9 24 12 PM" src="https://user-images.githubusercontent.com/2408094/84272996-bf205a00-ab60-11ea-9968-a9a8a2b9938a.png">

[2020-06-10 14:26] #794 closed, assigned to bafolts

[2020-06-11 09:13] nxsec1 opened #797 "LAKEFRONT RESORT effect BUG"
I'm using LAKEFRONT RESORT company.
When I placed a lake tile between two lakes, I should gain 6 instead of 4. (The bonus money for other tiles I placed are all correct, not for the lake tile.)
![image](https://user-images.githubusercontent.com/5679873/84367456-9ad38480-ac17-11ea-9078-3b169d30f6c0.png)

Thanks!
![image](https://user-images.githubusercontent.com/5679873/84367442-95763a00-ac17-11ea-

[2020-06-11 09:21] #797 closed

[2020-06-11 09:22] nxsec1 commented on #797
sorry, I misunderstood.

[2020-06-12 06:18] vincentneko commented on #607
With recents improvements to the How to pay part, is this issue still relevant ?

[2020-06-12 06:30] vincentneko commented on #412
I think the original idea from @bafolts is to keep the server logic and client/presentation logic in 2 separate areas.
Adding html data to the server side cards is not going into this direction.
It may also add some extra processing for the server (not sure about this)

The idea here is to have a Vue js component for every card instead of a generic Card component.

[2020-06-12 14:06] AlexBurkov opened #801 "Sixth player"
I know original game has 5 players max, but there are 6 players from us so we need possibility to play six of it. Can you add one extra player?

[2020-06-12 19:01] vincentneko commented on #787
@nwai90  I've pushed a commit on the branch that should handle game reload and clone with random  MA. Please review and test.

[2020-06-12 23:54] rodrigomp84 opened #804 "Robotic workforce + mining area"
Using the "Robotic workforce" to copy the production box of the "Mining Area" card resulted in no effect at all.

According to the game designer, the expected output is that the original choice taken when playing the Mining Area card should be copied, as he explains in:
[https://boardgamegeek.com/thread/1631060/can-someone-please-explain-how-robotic-workforce-c/page/2](url)

Perhaps recording this

[2020-06-13 02:20] nwai90 commented on #804
@rodrigomp84 I am unable to replicate this issue - Robotic Workforce seems to copy Mining Area's production correctly. Do you have the game ID by any chance?

[2020-06-13 05:28] nwai90 commented on #787
@vincentneko Tested, works perfect 👍I added a minor improvement here: https://github.com/bafolts/terraforming-mars/pull/806

[2020-06-13 06:13] rodrigomp84 commented on #804
Really? Oh damn, I'm very sorry for the inconvenience if this was just a misunderstanding. But that was the impression on the table. It could have been the Mining area card, but I suppose it works fine if the other also does.

I have the link to the game which I passed to the player who (supposedly) had the problem, don't know if it contains the correct id
https://terraforming-mars.herokuapp.com/p

[2020-06-13 08:25] vincentneko commented on #804
It could be related to the undo feature, if it was used after Mining Area but before Robotic Workforce. Do you remember having used this feature ?

[2020-06-13 08:35] vincentneko commented on #787
Great, I think you can submit a PR. Now we need someone to review !

[2020-06-13 12:08] nwai90 commented on #801
@bafolts @vincentneko Is this something you are okay to support? I can submit a PR to allow up to 6 players per game

[2020-06-13 14:40] FreeLikeGNU commented on #607
Closing this due to lack of interest.

[2020-06-13 14:40] #607 closed

[2020-06-14 08:47] vincentneko commented on #801
Yes I don't see why we shouldn't

[2020-06-14 09:38] vincentneko commented on #804
I confirm the undo will loose the resource associated with Mining Area or Mining Rights.
Will submit a PR to fix this.
Thanks for your feedback !

[2020-06-14 10:55] alrusdi opened #818 "Stratospheric Birds in combination with Dirigibles can lock out the game"
Steps to reproduce:
1) Play Dirigibles, have 1 floater on it
2) Try to play Stratospheric Birds and use 1 floater from Dirigibles to pay for

As result you will be asked to "Select card to remove 1 floater from" but you will have no cards with floaters to the moment and game will be locked out to continue.

@vincentneko @bafolts any strategy to fix that kind of bugs?

[2020-06-14 12:30] #804 closed

[2020-06-14 12:32] vincentneko commented on #801
Merged

[2020-06-14 12:32] #801 closed

[2020-06-14 12:34] vincentneko commented on #804
Fixed and merged

[2020-06-14 12:36] funkybaboon commented on #412
Can you give us some hints how we should do this?

[2020-06-14 12:38] vincentneko commented on #818
We can add some logic to the play part of the card to test if there is no floater to remove.
If it's the case, we can suppose that the floater has been consumed by Dirigibles passive and therefore reduce the player M€ by 3. This could lead to negative M€ amounts or if we prevent it could be an exploit.

[2020-06-14 12:44] nwai90 commented on #818
I was thinking of something along these lines, since it is the only edge case of a card that consumes a resource which can also be used to pay for its cost. Not sure if it is workable though, have not tried it

[code]

[2020-06-14 12:48] funkybaboon commented on #775
The logic for the selection if there is only one blue card seems to be https://github.com/bafolts/terraforming-mars/blob/497a5a443907d6dc504f212bdf127885f437c569/src/components/SelectCard.ts#L28.

I tried adding `checked="checked"`
[code]
or simply `checked`
[code]
but it did nothing. Any hints @alrusdi what needs to be done here?

[2020-06-14 12:50] vincentneko commented on #412
I'm not a Vue JS expert at all.
I would say that the card component needs to be modified to nest another dynamic component that will be the card name.

Something like:
`<component v-bind:is="cardName"></component>`

instead of
`    <div :class="cardNameToCssClass(card)" v-i18n v-html=this.getData()></div>`

from the Vue Js [doc](https://vuejs.org/v2/guide/components.html#Dynamic-Components)

[2020-06-14 13:14] nwai90 commented on #818
I think this will be simpler to implement. `canPlay` could check if the player has at least:
1) one other card with floaters that is not Dirigibles, or
2) total value of at least 15 (12 + value of 1 Dirigibles floater) in player's MC plus existing floaters on Dirigibles, then reduced by any discounts

In this way we could always remove 3 MC from the player as a fallback if there are no cards with

[2020-06-14 21:02] vincentneko commented on #690
Fixed and merged

[2020-06-14 21:02] #690 closed

[2020-06-14 21:02] vincentneko commented on #706
Fixed and merged

[2020-06-14 21:02] #706 closed

[2020-06-15 03:47] rodrigomp84 opened #822 "Using Titan Air-scrapping with no titan resource can lock out the game"
When trying to use the "Titan Air-scrapping" card action while possessing no titan resources, a player got the "Select one option" message but none was given and the game locked out, even though there were 3 floaters on the card.

He had used the action before successfully, but always with some titan resource available, so that's what's triggering the suspicions.

The log shows the card was played

[2020-06-15 04:06] nwai90 commented on #822
@rodrigomp84 I saw the issue, will submit a fix

[2020-06-15 06:11] vincentneko commented on #822
Fixed by @nwai90

[2020-06-15 06:11] #822 closed

[2020-06-15 06:12] vincentneko commented on #818
Fixed by @nwai90

[2020-06-16 04:25] nwai90 commented on #629
@alrusdi Suggestion: What if we simply sorted the list of available targets to put the active player's cards last? So that opponents' target cards will always be the default selection

[2020-06-16 07:35] alrusdi commented on #629
Sorting targets by owner is musthave, but we need some kind of marker on "your" cards too.

[2020-06-16 13:28] nwai90 commented on #450
As a longtime player I also like the idea of compactness, albeit in a different form - with only iconography and no text. This could be a nice option for experienced players but it's also a major piece of work haha

<img width="227" alt="Screenshot 2020-06-16 at 9 27 06 PM" src="https://user-images.githubusercontent.com/2408094/84780497-3bf77c00-b018-11ea-8893-8d7838e1328e.png">
<img width="226" a

[2020-06-16 15:27] gomfunkel commented on #412
I see your point @vincentneko but let me try explain why I think this approach makes sense:

The presentation logic is in the `Card` component, which already is a client side component. The presentation is then populated from card properties like tags, type, cost and so on. The details/description of a card is just another property. This property is HTML, as there is no better way to represent it.

[2020-06-16 21:42] funkybaboon commented on #450
Once we decide how the new card templates look like (https://github.com/bafolts/terraforming-mars/issues/412) we can probably add support for a text only / icons only version of the cards.

[2020-06-17 06:38] alrusdi commented on #412
@gomfunkel but now in your PR you are trying to introduce **content** field. It is a presentation logic mixed with data on server side.

I have no really good ideas of how to implement it. But one of the variants is to make one universal template for all the cards. And configure each individual card by css rules.

[2020-06-17 06:38] jijiqw opened #828 "Improvement: Show the ranking of players of rewards"
![image](https://user-images.githubusercontent.com/16096558/84862882-8a535c00-b0a6-11ea-9b12-8f6cddcbaa9f.png)

How do you think about this idea?  And any one can help make this come true ?

[2020-06-17 11:46] funkybaboon commented on #412
You can make a template for green, blue and red cards, along with tags, title, and price. You can't make one universal template, as the content and content formatting differs too much, f.ex.
<img width="275" alt="Screenshot 2020-06-17 at 13 44 23" src="https://user-images.githubusercontent.com/2966599/84894240-c257a080-b0a0-11ea-8381-f8e9e368bc23.png">
<img width="292" alt="Screenshot 2020-06-17 a

[2020-06-17 14:27] alrusdi commented on #412
We can hide all text blocks in popups like it is done in official app.
All icons seems to be just blocks with fixed or display-block positioning.

[2020-06-17 14:33] gomfunkel commented on #412
Yes, because imho this is a _property_ of a card, just like price and tags and so on. It awfully is rather complex HTML, not a simple type like a number for the price.

[2020-06-19 06:47] alrusdi commented on #828
We have a plan for separate widget to see more detailed realtime statistics including this
https://github.com/bafolts/terraforming-mars/issues/407

[2020-06-19 06:47] #828 closed

[2020-06-19 07:21] ap3h3ad opened #839 "Turmoil - Wrong turn order & blocked game"
Me and my usual teammates have encountered a bug with the turmoil expansion several times by now.

Whenever an event occurs that forces the player to do some specific action, e.g. discard two cards, this event takes place at the beginning of the new generation and not in the end of the actual generation. This causes a situation where I can buy some cards in the draft phase and then discard two of

[2020-06-19 07:28] #839 closed

[2020-06-19 07:29] nwai90 commented on #839
@ap3h3ad Does it still happen nowadays? Saw it is fixed by @vincentneko a few days ago in https://github.com/bafolts/terraforming-mars/issues/706

[2020-06-19 07:47] ap3h3ad commented on #839
@nwai90 Apparently the server is not up to date. That's the reason that I closed the issue. :)

Cheers!

[2020-06-19 08:04] nwai90 opened #840 "Feature Request: Show community high scores for solo games"
Every game has a predefined seed and it is possible to replay previous games using "Set predefined game" option.

For a given seed, it would be interesting to know where your solo score stands, compared to others who have played the exact same game. We could store and update the highest winning score for each unique seed.

<img width="994" alt="Screenshot 2020-06-19 at 3 25 44 PM" src="https://use

[2020-06-19 14:44] nwai90 opened #842 "Improvement: Set default values for Stormcraft"
Implementation could be similar to https://github.com/bafolts/terraforming-mars/pull/756

<img width="536" alt="Screenshot 2020-06-19 at 9 50 47 PM" src="https://user-images.githubusercontent.com/2408094/85144870-59c61a80-b27e-11ea-86cc-b71e267f498d.png">

[2020-06-19 16:02] alrusdi opened #843 "Cant copy "Spin-off Department" production by "Self-replicating robots""
Can't copy "Spin-off Department" production by "Self-replicating robots"

[2020-06-19 22:02] nwai90 opened #845 "Feature Request: Add promo corp Pharmacy Union"
<img width="734" alt="Screenshot 2020-06-20 at 5 51 23 AM" src="https://user-images.githubusercontent.com/2408094/85182542-99f7be00-b2bb-11ea-94d3-79077b674441.png">

**Effect:** When ANY microbe tag is played, including these, add a disease here and lose 4 MC or as much as possible. When you play a science tag, remove a disease from this card and raise your TR 1 step OR if there are no diseases h

[2020-06-20 06:15] nwai90 opened #848 "Bug: Mars University interrupt triggers before Olympus Conference"
**Context:** If player has both cards and Olympus Conference's effect would result in drawing a card from playing a Science tag, its effect should be resolved first before Mars University's cycle effect

[2020-06-20 09:23] alrusdi commented on #843
Thank you @nwai90 for fixing!

[2020-06-20 09:23] #843 closed

[2020-06-20 14:28] nwai90 opened #849 "Bug: Immigrant City not playable at -4 MC production (or -5 for Tharsis)"
Official ruling at https://boardgamegeek.com/thread/1655663/article/31621425#31621425.

The card should be playable at
(A) -4 MC production for all players, or
(B) -5 MC production for Tharsis

[2020-06-20 14:35] nwai90 commented on #849
@vincentneko @bafolts I drafted a fix for (A) at https://github.com/nwai90/terraforming-mars/commit/aa697c9310ae103d525024d4d6c1f0ed8ebfcc97.

Do you have suggestions on how we could best handle (B)? The commented out test currently fails due to Tharsis' effect of raising MC production after city tile placement.

[2020-06-20 15:47] nwai90 commented on #845
Closed as done

[2020-06-20 15:47] #845 closed

[2020-06-21 12:05] sdas-tech opened #855 "Bug: Showing losing screen in solo mode even though I've won"
Under the rules, in solo mode the player wins if they complete all 3 global parameters by the end of Gen 14.
I've done so, however I still get the losing screen:
![image](https://user-images.githubusercontent.com/1049519/85224108-3e3c4a80-b40b-11ea-95e8-b695ccf9f0b3.png)
https://terraforming-mars.herokuapp.com/the-end?id=b241be81dc05

Game ID: ca427e36c480

[2020-06-21 13:14] nwai90 commented on #855
Was solo TR option selected? If that option is checked, you need to get 63 TR in order to win

[2020-06-21 13:53] sdas-tech commented on #855
Ah yes you're right, I didn't realize that option changed the rules. I think it would be good to have a tooltip that explained it more clearly though.

[2020-06-21 13:53] #855 closed

[2020-06-21 15:18] nwai90 commented on #855
👍 Tooltips are a good idea, we will likely implement it at some point

[2020-06-21 17:39] russweiher opened #856 "Suggestion: Allow games to start with X amount of production"
The base game rules allow for playing in "corporate era" or not.  Playing in corporate era includes the corporate era cards, but starts everything at 0 production.  Playing non-corporate era rules removes those cards, but starts everything at 1 production, to allow players to get moving faster.  My suggestion is to split the difference and put a slider or radio button at game setup to start everyo

[2020-06-22 01:12] nwai90 commented on #856
Good idea, will add it in as an option

[2020-06-23 10:51] alrusdi commented on #856
It is implemented thanks to @nwai90

[2020-06-23 10:51] #856 closed

[2020-06-23 12:44] nwai90 commented on #849
Closing as should be resolved in https://github.com/bafolts/terraforming-mars/pull/861

[2020-06-23 12:44] #849 closed

[2020-06-23 13:49] bafolts opened #862 "Heroku site is down, investigating"
The heroku site had an application error. Investigating and will get back up ASAP.

[2020-06-23 13:58] bafolts commented on #862
We have 4527 unique games attempting to load. The heroku instance claims it is out of heap javascript memory. I am purging old games.

[2020-06-23 14:09] bafolts commented on #862
Site is back up. Games from before 2020-06-16 were deleted. There are some games that are failing to deserialize and load. I would guess it is 5% or so of games. We must have some issue with deserializing. I will provide the input that is causing the issue as bug reports soon.

[2020-06-23 14:09] #862 closed

[2020-06-24 07:27] alrusdi opened #865 "Philares bonus does not work on final greenery stage"

[2020-06-24 07:29] alrusdi opened #866 "Purple player displayed incorrectly on Turmoil board"
![turmoil_purple](https://user-images.githubusercontent.com/394311/85515299-664bc980-b616-11ea-94be-28046a2f144d.jpg)

[2020-06-24 21:59] gomfunkel commented on #412
Are we able to reach a decision regarding this discussion? No matter what the decision is, I think we need it to continue implementation of either the idea from @funkybaboon / my PR or something else.

@bafolts: Do you have an opinion on this?

[2020-06-25 01:22] rodrigomp84 opened #870 "Bug after player passed without any action"
On the game that is still online now:
https://terraforming-mars.herokuapp.com/player?id=2d55bc64b973
after playing a few actions on generation 1, I (red player) was the last active player and passed without any action. I got an error message - something about colonies, but unfortunately I closed it without reading it carefully - and I was then asked to pass again. After doing so, something crazy h

[2020-06-25 05:05] nwai90 commented on #870
I can't see any obvious cause from the game logs; it could have something to do with an unresolved interrupt in `Game.playerIsFinishedTakingActions()`. We probably need to check server logs for more detail about the actual error

[2020-06-25 05:15] nwai90 commented on #775
When we can resolve this, we should apply the change to preselect the first of the two Prelude cards as well, to save a click.

[2020-06-25 10:42] nwai90 opened #873 "Feature Request: Tooltips"
Tooltips with brief one-liner explanations of what each custom game option does

**Ref:**
https://github.com/bafolts/terraforming-mars/issues/855
https://github.com/bafolts/terraforming-mars/issues/749

[2020-06-25 11:12] alrusdi commented on #873
May be it is better to make it like small clickable questionmark icon to make it more obvious on touch devices?

[2020-06-25 11:16] nwai90 commented on #873
@alrusdi Agree, that's better for cross device. Logging it as this question has come up a few times from players

[2020-06-25 11:37] alrusdi commented on #865
Fixed&Merged thanks to @nwai90

[2020-06-25 11:37] #865 closed

[2020-06-25 15:03] bafolts commented on #412
The original goal was to get us out of our mono-file of HTML_data. Whether the logic is client side or server side wasn't of concern. Some cards are very different but most cards share common properties. Almost every card will have a cost, name, and tags. From there it gets a little more creative with the description and text of the card.

Without a template today any project that requires updatin

[2020-06-25 20:44] rodrigomp84 commented on #870
Thanks for the answer, please let me know if I can be of any help.

Since the error message said something about colonies, it should be worth mentioning that I was playing Aridor and had therefore added a colony tile to the game (as it can be seen from the game log...). In any case, I have played this corporation once before without any problems.

[2020-06-26 14:32] bafolts opened #876 "Heroku down again. Purging old games manually and investigating."
I will need to automate the process of removing old games as it seems we continue to out grow the cheapest heroku plan I am running.

[2020-06-26 14:41] bafolts commented on #876
I am going to write in code which only loads games when they are needed and removes them on some interval. Most games don't seem to be being played simultaneously so this will garbage collect games which have been finished so I don't have to keep purging old games from the database. I removed games prior to 2020-06-20 and there are still 3000 games on here. The call to `/api/clonablegames` is very

[2020-06-26 14:44] bafolts commented on #876
I will try to do a better job at manually purging these games so we don't run our of memory. Since we create a new instance of each card this is probably why we use so much memory per game. We could also reconsider how we are tracking resources on cards which would help with memory. At some point there will be a limit of how many games we can load from the database. Only pulling in games we need w

[2020-06-26 14:44] #876 closed

[2020-06-26 15:30] vsrisuknimit opened #877 "Initial hand drafting"
I saw that the initial hand drafting is recently implemented.  Drafting one project card at a time is long and painful though.

A common initial hand drafting that is typically used on the TTS TfM discord server is the following:
1) Draw 3 corps, 4 preludes, 10 project cards.
2) Keep all corps, keep 2 preludes, keep 4 project cards. Pass everything else.
3) From what was passed, keep 1 out of 2 pr

[2020-06-28 14:34] #866 closed

[2020-06-29 05:15] nwai90 commented on #743
In my own experience, the most crucial of all the sounds seems to be when it is your turn in a multiplayer game

[2020-06-29 05:15] vincentneko opened #884 "Improve log with icons"
The game log could use icons for resources instead of text.
Example : John Doe spent 1 plants to gain 7 MC => John Doe spent 1 &#x1F331; &#xFE0E; to gain 7 MC

This will avoid handling singular or plural depending the number of resources.

[2020-06-29 06:29] a5000lbKitty opened #885 "Mining Area seems to remove Last Actions"
When playing a 2 player game, twice after playing Mining Area, the Last Actions section of the interface went missing.  We abandoned one game, https://terraforming-mars.herokuapp.com/player?id=112ea9840f9e.  The other game, we continued playing calling the cards as we played them.  Eventually it came back after I increased the temperature with heat and funded an award.  Tried doing the same in the

[2020-06-29 06:56] nwai90 commented on #885
@vincentneko Saw that there is a typo; I submitted a PR to fix it

[2020-06-29 07:04] a5000lbKitty commented on #885
Was playing that second game that the Last Actions came back on and soon as Mining Rights was played, we lost it again.  Same typo?

[2020-06-29 07:05] nwai90 commented on #885
Yes, same issue. Will be fixed shortly

[2020-06-29 07:07] nwai90 commented on #885
Should be rectified now, will close this issue

[2020-06-29 07:07] a5000lbKitty commented on #885
If we refresh the game, should it take affect or only for new games?

[2020-06-29 07:14] nwai90 commented on #885
Only for new games

[2020-06-29 07:18] a5000lbKitty commented on #885
Cheers

[2020-06-29 07:20] nwai90 commented on #885
Thanks for the report!

[2020-06-29 12:17] alrusdi opened #888 "Pristar can work incorrectly"
I will try to reproduce it, but Pristar's ability stops to work under some conditions...

[2020-06-29 14:36] alrusdi opened #889 "Log hidden for inactive player on some conditions"
All expansions. Unknown conditions to reproduce sorry

It shows message in console:
`[Vue warn]: Error in render: "TypeError: data is undefined"

found in

---> <LogPanel>
       <PlayerHome>
         <Root>`

After some moves it is restored. Log messages to the time:
`🕑    Alisa played Atmo Collectors
    🕑Alisa added 2 floater(s) to Atmo Collectors
    🕑Serg traded with Triton
    🕑Serg sent 1 d

[2020-06-29 15:14] alrusdi commented on #889
Already fixed

[2020-06-29 15:14] #889 closed

[2020-06-30 05:22] alrusdi commented on #818
It is till reproducible
https://tm.alrusdi.ru/player?id=e9789bb35efb

[2020-06-30 06:52] alrusdi commented on #818
Fixed and merged

[2020-06-30 06:52] #818 closed

[2020-06-30 09:19] alrusdi commented on #885
It is seems to be fixed

[2020-06-30 09:19] #885 closed

[2020-06-30 13:06] nwai90 commented on #787
Closing as changes are merged

[2020-06-30 13:06] #787 closed

[2020-06-30 13:09] nwai90 opened #895 "Feature Request: Synergy for Random M&A"
Discussion thread at https://boardgamegeek.com/thread/2023541/quantifying-milestone-and-awards-synergy-randomiza

[2020-06-30 16:24] alrusdi opened #896 "Add nwai90 to the list of commiters"
He does a lot of work to make this game better. It is time to invite him to our team :-)

[2020-07-01 08:43] ssimeonoff commented on #884
The risk is that the unicode chars are rendered differently on different OSs (or completely skipped).
The reason is that the text variation selector FE0E does not work for all glyphs for OSs different from Windows.
For example, the unicode chars I was using for the tags looked like this:
https://boardgamegeek.com/image/4040854/viximo
On Windows 7 and 10, the unicode glyphs are displayed -  FE0E wo

[2020-07-01 13:07] ssimeonoff commented on #895
you an copy the matrix from here: https://github.com/ssimeonoff/ssimeonoff.github.io/blob/master/js/ma.js

[2020-07-02 00:11] rodrigomp84 opened #900 "Initial Greens policy should not be triggered by "Experimental Forest" prelude card"
There are some discussions about that at BGG, but the final version of the Turmoil rules are, I believe, clear enough:

so it should have no effect on the prelude phase. I notice that the effect was triggered, though.

[2020-07-02 02:04] nwai90 commented on #777
Handled in https://github.com/bafolts/terraforming-mars/pull/893. Possibly improve alert UI / use animation in future

[2020-07-02 02:04] #777 closed

[2020-07-02 03:13] nwai90 commented on #900
@rodrigomp84 You're right, I am able to reproduce this issue. Will submit a patch

[2020-07-02 05:40] alrusdi commented on #900
Fixed and Merged. Thanks to @nwai90

[2020-07-02 05:40] #900 closed

[2020-07-02 10:46] jijiqw commented on #877
I think it is a good idea to add the corps and the preludes to initial hand drafting ,  but  do not agree for keep 4 project cards for the first selection.
Among the ten cards, there are probably three or four cards with high value ,the other cards are poor or  bad ,   choose just one and pass else, then everyone's hand quality is about the same .

[2020-07-02 15:43] bafolts commented on #896
Invitation has been sent.

[2020-07-02 15:43] #896 closed

[2020-07-02 15:44] bafolts commented on #896
[code]

[2020-07-02 15:49] bafolts opened #903 "Confirmation or clearer separation of "End Turn" and "Pass""
I received an email indicating that sometimes there is confusion around "End Turn" and "Pass". We may want to consider modifying the UI to make it clearer which is which so that either button is only clicked when that was the intention.

From email:

[2020-07-02 16:22] nwai90 commented on #903
We could add a placeholder confirmation `alert` for now, similar to the warning alert when you overpay for a card/action. At some point later these alerts can be replaced with nicer styled confirmation boxes

[2020-07-03 04:29] jijiqw commented on #888
It happens when the  Reds becomes ruling party

[2020-07-03 06:16] jijiqw commented on #888
It doesn't happen every time    the Reds becomes ruling party ,  but every time that happens ,   the Reds seems becomes ruling party

[2020-07-03 09:38] alrusdi commented on #903
If someone will do it please do it optional. It can be very annoying to have additional click for those who doesn't missclicks

[2020-07-03 12:08] jijiqw commented on #849
![image](https://user-images.githubusercontent.com/16096558/86467620-47f97280-bd68-11ea-9d82-8fe83b25c335.png)
Can't figure it out when the  property mcProductionAfterDecrease  would be reduced to  -7 or  lower ,  I would greatly appreciate it if you can  helping me out of my confusion

[2020-07-03 12:12] nwai90 commented on #849
Tharsis playing it at -5 MC prod reduces it to -7. Increased back to -5 by its own effect and by Tharsis's corp effect

[2020-07-03 13:43] TMJunkie opened #909 "Unexpected Server Response"
Received this message while playing a game with friends. I'm not a programmer but just an end user. We have all received this message on various  browsers (Firefox and Chrome) within the last 24 hours. Will this be resolved or is our game toast? At this point all we see is this message with a grey background, no game :(.

Thanks for any assistance.

Great job btw :)

[2020-07-03 13:45] TMJunkie commented on #909
Sorry the message was "unexpected server *RESPONSE" (not error, as posted in title)

[2020-07-03 14:58] nwai90 commented on #510
Can we close this? Identical to https://github.com/bafolts/terraforming-mars/issues/903

[2020-07-03 15:10] rodrigomp84 commented on #376
Actually it seems the capital tile is still just a regular city tile. I agree with the OP that being able do tell them apart is quite important!

[2020-07-03 15:17] bafolts commented on #909
There was an upgrade to the server last night to make hosting with heroku
simpler. This required us to wipe games from the database. We don't
anticipate having to do this often. Apologize for your lost game. The
upgrade should ensure we are able to serve more games simultaneously and on
our cheap hosting plan that we use.

On Fri, Jul 3, 2020, 7:43 AM TMJunkie <notifications@github.com> wrote:

[2020-07-03 16:52] alrusdi commented on #510
I think so.

[2020-07-03 16:52] #510 closed

[2020-07-03 16:53] #909 closed

[2020-07-03 17:06] jijiqw commented on #743
![image](https://user-images.githubusercontent.com/16096558/86487611-2b256500-bd91-11ea-9291-5e9ea0f2a791.png)
![image](https://user-images.githubusercontent.com/16096558/86487635-38425400-bd91-11ea-9e81-bf3f2a488170.png)
![image](https://user-images.githubusercontent.com/16096558/86487653-3f696200-bd91-11ea-989a-0f4381d22781.png)
The HTML5 WebAudioAPIs are  wonderful, not required any  *.mp3 or *

[2020-07-03 17:15] jijiqw commented on #849
I have tried serverl time in local ,  if Tharsis playing  at -5 MC ,  the  "onTilePlaced" func would be called  in  "game.addCityTile" ,
so the  mcProduction would be  increased to -3  and then  reduced to  -5 by  player.setProduction after "game.addCityTile",

[2020-07-03 23:34] TMJunkie commented on #909
Thanks for the explanation. Perfectly understandable. You guys have done an admirable job so far, and it's all free, so losing a game here and there is not an issue :). Keep up the good work!

[2020-07-04 00:47] rogerta opened #910 "Instructions for persistent games"
I'm trying to run a TM server on my own machine.

Environment:
[code]
Running `npm install` and `npm start` on master branch at commit [`5237ffa520e811ab091a636f946a017c5b4f8266`](https://github.com/bafolts/terraforming-mars/commit/5237ffa520e811ab091a636f946a017c5b4f8266) works and I can create a new game.  However, when I restart the server the game is not found.

I noticed that the server suppo

[2020-07-04 01:49] nwai90 commented on #849
👌 I'll check again

[2020-07-04 01:50] nwai90 commented on #743
@jijiqw Do you want to try adding one sound as a proof of concept? We can find and use some royalty free ones

[2020-07-04 06:15] rodrigomp84 opened #911 "Undo after buying cards is unfair"
I believe the undo possibility is a great thing to have, but allowing it right after a player buys a new card and sees it is unfair. Of course fairness is expected from every player willing to trade 'life hours' for 'playing hours' in such great games, but it could happen unintentionally. Of course, if this is too clumsy to implement then it's better to just rely on the players sense of fairness a

[2020-07-04 06:31] nwai90 commented on #903
Yes, I think we can eventually consolidate all alerts ("Mars is Terraformed!", Overpayment warning, Pass confirmation etc.) under a single "Show in-game alerts" preference.

[2020-07-04 11:14] bafolts commented on #910
The postgres host should start with `postgresql://`

https://jdbc.postgresql.org/documentation/head/connect.html

You should pass everything after that prefix. If your postgresql url were:

postgresql://host/database

you would pass

POSGRES_HOST=host/database

That being said you are one of the first people to use this locally. We use bare minimum configuration so I assume the problem is you  hav

[2020-07-04 15:08] rogerta commented on #910
Thanks for the quick response Brian.  Yeah I found the code in your repo and saw that you are using [pg](https://www.npmjs.com/package/pg) as a Postgres client library.  I think I misread the docs there about how to configure the `connectionString` ctor argument, I'll take another look.  (I don't think there is anything wrong with your code.)

Got it that sqlite is not in-memory only.  The error I

[2020-07-04 16:58] rogerta commented on #910
Hi Brian, I was able to get it working with a local postgres database by removing a small bit of code.  Before sending you a pull request I'd like to understand what that code does.

The [npm library you mention](https://node-postgres.com/features/connecting) links to [pg-connection-string](https://github.com/iceddev/pg-connection-string) to explain the format of `connectionString`.  The string do

[2020-07-04 21:58] samyelias opened #914 "Bug involving Self-Replicating Robots and Research Coordinator?"
Hi,

I had

- Research Coordinator in play,
- Replicating Robots in play with Advanced Ecosystems linked to it
- 4 cubes on Replicating Robots
- two of the required tags needed for Advanced Ecosystems, with Research Coordinator's wild card tag satisfying the third
- 8 cash in hand, which is 1 more than I should have needed to play Advanced Ecosystems (11 - 4 cubes = 7).

However, the site would no

[2020-07-04 22:40] duckmammal opened #915 "Inappropriate action between Policies and Non-turn actions"
During the world government phase, the start player placed an ocean when Mars First was in play.
This (incorrectly) triggered the start player to receive 1 steel.

I'm curious if the placing of greeneries during the preludes phase might be (incorrectly) giving 4 mega credits to the start player, but nobody from our group has tried it yet.

[2020-07-05 02:21] nwai90 commented on #914
That's strange. You should only be able to link cards with Building or Space tags with Self-Replicating Robots. Advanced Ecosystems has neither of those. It could be a bug

[2020-07-05 02:22] nwai90 commented on #915
The greeneries issue should be fixed here: https://github.com/bafolts/terraforming-mars/issues/900

I will check about the Ocean placement issue

[2020-07-05 03:00] samyelias commented on #914
It's possible I linked a different card; there's no indication that I can see which one is linked (feature request!), except in the log, but it had already scrolled above the limit of what the log display shows. Maybe I miss-clicked or just forgot my second choice.

[2020-07-05 05:27] samyelias opened #918 "Landlord image used for Estate Dealer and Desert Settler awards"
The image used for both Estate Dealer and Desert Settler are the one for Landlord.

Screenshot: https://i.imgur.com/WtrmOWq.png

[2020-07-05 08:20] alrusdi commented on #918
Fixed & Merged

[2020-07-05 08:20] #918 closed

[2020-07-05 08:20] alrusdi commented on #915
Fixed & Merged

[2020-07-05 08:20] #915 closed

[2020-07-05 08:30] alrusdi commented on #911
Does it really hits you? Because after undo, deck of remaining cards should be unchanged and each time you do "undo" and then draw a card - that card should be always the same

[2020-07-05 18:36] samyelias commented on #664
Would it be possible to add the linked card title in the same place as the Resource count for the Robots card?

An indication on the linked card when it's in your hand and in the "play projects" options would also be a useful reminder.

[2020-07-05 18:39] rodrigomp84 commented on #911
Yeah, the thing is that the player can look at the card, so if it's a bad one (unplayable for instance) he/she may just undo and do something different instead.
In a game I was in, it happened that the player genuinely regretted doing an action and clicked undo, but realized it was unfair because he had seen the card. He ended up doing the original action to avoid complains, but in the end it was

[2020-07-05 18:49] rodrigomp84 opened #921 "Capital tile is a regular city tile."
I'm sorry for creating a new issue, as it has been already discussed on an earlier broader issue. But since it is closed, it seems people are not following it any longer.

Actually it seems the capital tile is still just a regular city tile. I agree with the OP that being able do tell them apart is quite important!

_Originally posted by @rodrigomp84 in https://github.com/bafolts/terraforming-mars

[2020-07-05 19:33] samyelias commented on #629
Even when removing, it would be nice to see ownership. I've had Predators and been presented with my own Birds card as an option (as well as the opponent's animal card, properly ordered first).

[2020-07-05 21:55] nwai90 commented on #921
We could do a white tile for Capital

[2020-07-06 03:51] sdas-tech opened #924 ""Not enough cards selected", even though I do."
![image](https://user-images.githubusercontent.com/1049519/86553978-ac4a4b00-bf8f-11ea-9962-be2b1db1615b.png)

I have also experienced this outside of the initial draft.
The issue only occurs intermittently.

[2020-07-06 03:51] #924 closed

[2020-07-06 03:52] nwai90 commented on #924
Hi @sdas-tech You need to select a corporation as well :)

[2020-07-06 03:52] sdas-tech commented on #924
Nevermind, I didnt have a corporation card selected :D
Will reopen if I find the bug again.

[2020-07-06 03:53] nwai90 commented on #924
👌 It may be a good idea to display a clearer message (e.g. "Please select a corporation" or "Please select two preludes")

[2020-07-06 04:12] duckmammal commented on #911
I personally like leaving things as they are. I've had friends accidentally forget to pay with steel or titanium while using an action that would draw cards. I like the generic undo button.

[2020-07-06 04:16] duckmammal opened #925 "Colony Bonuses for Pluto timing incorrect for non-active players"
3 different players' colonies were on Pluto, and a trade happened as my first action.

I got the colony bonus the moment I traded, but my opponents didn't get the colony bonus until after I took a second action.

[2020-07-06 04:17] rodrigomp84 commented on #911
this makes sense!

[2020-07-06 08:06] #910 closed

[2020-07-06 09:06] samyelias opened #926 "Easier to see global parameter level"
I think the visuals for the global parameters should more clearly show the current level. I think the best way is to change the background colour as the meter fills up, not just the number colour. However, perhaps a simpler solution is to use a more striking colour than yellow for the numbers. The change from white to yellow doesn't seem obvious enough. Even worse, if you're playing with a blue-fi

[2020-07-06 09:20] nwai90 commented on #926
I tried some different shades of red and green previously, but they didn't seem to fit too well. Would you be able to suggest a suitable colour that we could use?

[2020-07-06 09:45] samyelias commented on #926
I'll see if I can play around with it. I guess maybe the background colour might have to be shifted as well as the bar fills up.

[2020-07-06 10:15] nwai90 commented on #921
Closed as resolved

[2020-07-06 10:15] #921 closed

[2020-07-06 11:37] sdas-tech opened #928 ""Unsupported waitingFor" Error when picking cards"
![image](https://user-images.githubusercontent.com/1049519/86589306-c6f0e400-bfd0-11ea-871a-53ae6071b383.png)

Same error if I don't choose any cards.
https://terraforming-mars.herokuapp.com/player?id=4c458842e92e

[2020-07-06 11:53] jijiqw commented on #888
I found why , the pristar 's prop lastGenerationTR reset to 0 when game  object   rebuild from database , it happens when  players undo action or  game server restart .  this problem should solved by   pull request   [https://github.com/bafolts/terraforming-mars/pull/913](url)  https://github.com/bafolts/terraforming-mars/pull/913#issue-444298260

[2020-07-06 11:56] jijiqw commented on #888
There may be other corps have  similar bugs

[2020-07-06 12:08] alrusdi commented on #888
Great. Let's merge it

[2020-07-06 12:12] alrusdi commented on #926
I've suggested this variant
![globs_variant](https://user-images.githubusercontent.com/394311/86591821-bbd78d00-bfab-11ea-9f16-5259a43f194d.jpg)

But it is hard to implement (very boring task)

[2020-07-06 14:01] nwai90 commented on #914
I couldn't reproduce this issue; tried with a few cards like Tectonic Stress Power and Beam from a Thorium Asteroid. Probably the logs will provide more details

[2020-07-06 14:45] nwai90 commented on #888
@alrusdi Can we close this one?

[2020-07-06 15:17] samyelias commented on #914
Sorry, I probably just forgot what card I linked to the Robots. The reason was probably because I wanted to link Advanced Ecosystems, realized I couldn't, chose whatever I could just to complete the action, and then forgot about it.

So I guess this has morphed into two feature requests that are probably already on the list:

1) indicate on Robots and preferably the linked card too that the link e

[2020-07-06 15:31] mloballer opened #930 "Removing plants from no one"
I noticed if you play an astroid card that lets you remove plants from someone and there is only one person with plants, it automatically removes it from them. I was wondering why there is not an option to not remove any plants at all? Although obscure, I can see a strategy where you may want to leave the plants to that person so they can push the oxygen out to let you play a powerful card early?

[2020-07-06 16:31] jijiqw opened #931 "Bug : edge case for MANUTECH"
1.the same as [https://github.com/bafolts/terraforming-mars/pull/853](https://github.com/bafolts/terraforming-mars/pull/853), plays with corp MANUTECH  should be able to play Moss with 0 plants and Nitrophilic Moss with 0 plant.

2. the player with corp MANUTECH should be able to place the city tile on the south pole .  Get 3 MC for 3MC prod according to MANUTECH‘s effect  , then he have 6MC to pa

[2020-07-06 17:04] nwai90 commented on #931
You could define `bonusMc` property for each affected card and add it to `player.megaCredits` if that player's corporation is Manutech. This change will probably touch a lot of cards

[2020-07-06 17:04] alrusdi commented on #888
I think so

[2020-07-06 17:04] #888 closed

[2020-07-06 17:20] jijiqw commented on #931
It  seems to be a good idea !

BTW,  another case:
The player has 2MC  , then play a card that increase 2MC pro ， place a tile on south pole , place a ocean which adjacent to another ocean to get 2MC bonus .  at last  he can pay  6 .
A lot of work to do if we want to strictly  implement the rule

[2020-07-06 17:30] nwai90 commented on #931
The `bonusMc` is currently used for some Prelude cards to resolve issues related to play order in https://github.com/bafolts/terraforming-mars/issues/761, you can use that implementation as a reference. I think the normal edge case can be handled with this approach.

For the other case:
[code]

I think this is quite an extreme edge case, albeit a valid scenario. Maybe deal with it later

[2020-07-06 18:29] duckmammal opened #934 "No options for whom to target in many attack situations"
In many situations there have been no way to indicate to the game which person's plants should be lambasted.

The most common is that there is some sort of comet or asteroid that would destroy some number of plants, let's call it 5 plants.
Player A has 6 plants, Player B has 4 plants. It will auto-target the player that can have 5 plants removed, in this case, Player A. This should **Absolutely No

[2020-07-06 18:32] duckmammal commented on #926
Better yet, would be to leave things as they are, but have a floating panel that has all the global parameters listed on it that is anchored to the right side of the screen, in much the same way your production levels / resources are anchored to the top of the screen.

[2020-07-06 18:38] duckmammal commented on #877
My home group also likes to draft the preludes.

But we draft the initial cards (one at a time) thusly:

- 5 cards to the left
- 5 cards to the right

I've seen groups pass out all 10 cards, and then take 2 cards at a time, while passing to the right.

But honestly, this is all tweaking small details. There are a lot bigger problems to take care of than making sure everyone's got their implementat

[2020-07-06 19:05] duckmammal opened #935 "Too much scrolling, too hard to see important info"
There's a big problem right now in the game, and it stems from the fact that if you're playing interactively, you have to check many things quite often. The problem is that there is a lot of information that the game contains, and to see what's important, you have to do a loooot of scrolling. So much scrolling that there can be a significant amount of time spent on a players turn checking the glob

[2020-07-06 19:06] duckmammal commented on #935
If you'd like me to separate out these points into different issues i could do that.

[2020-07-06 19:14] duckmammal commented on #775
I like the option being pre-selected, but not automatically done.

[2020-07-06 19:29] duckmammal opened #936 "Option to have 5 Random Milestones / Achievements"
Right now, when playing with the Venus Expansion and Randomizer, there are 6 milestones and 6 awards, and Venus is not required to be among them. My group likes to play with 5 of each, even when Venus is in play.

[2020-07-06 20:08] duckmammal opened #937 "Corps Auction beginning of game variant"
The corps are wildly imbalanced, and everyone who has played the game even a handful of times knows this.

Some people are of the opinion that a good solution is to increase the number of Corps that each player is initially dealt, to increase the chances that all players get a reasonable Corp.

The downside of this option is that it pushes games towards a "same-ish" state, where the same corps are

[2020-07-06 20:10] duckmammal commented on #937
I'd also say that a blind auction (non-Vickrey) would also be a good option to have.

[2020-07-06 20:11] duckmammal commented on #937
One further comment that seating matters a lot when it comes to getting onto valuable colonies and when you get your first good income boost, which is why we tie the corps to seats in order to start the bidding.

[2020-07-06 20:31] samyelias commented on #937
Interesting, I'd never read about an auction system where you pay the second-highest bid.

[2020-07-06 21:56] duckmammal commented on #937
It incentivizes you to bid your true value and not have to worry about overpaying. In my example someone bid 12 and only had to pay 8, and everyone thought it was fair.

[2020-07-06 22:00] samyelias commented on #926
I thought this combination worked well, and is easy to distinguish in normal and night light mode.

![example1](https://user-images.githubusercontent.com/10133229/86652505-7b2f4200-bfb2-11ea-95cd-cecd6db68421.JPG)

[2020-07-06 22:16] duckmammal commented on #926
I think it still doesn't settle the problems of not being able to see the global parameters while looking at the cards in your hand and the related issue of the game taking too long due to too much scrolling.

[2020-07-07 01:03] nwai90 commented on #934
I took a look at the code. Sabotage always provides options and never a default selection.

Similarly for event cards that remove plants, all players that have at least 1 plant should be listed as a possible target.

Can you provide a specific example of when this happens?

[2020-07-07 01:49] duckmammal commented on #934
I thought it happened in a game yesterday when I played Sabotage, but maybe I just double clicked something.

I wasn't given the option of hitting someone with 0 plants when I knew the other player was holding a Law Suit.

[2020-07-07 01:52] jijiqw commented on #937
sounds good , but a little difficult to  implement

[2020-07-07 02:19] duckmammal commented on #937
I totally understand that side of things. The logic for the bidding is the easy part, but your system seems like it would have difficulty in assigning seats after the game has been set up. I just wanted to put it out there in case anyone felt like working on it.

[2020-07-07 02:23] duckmammal opened #938 "Show card linked to Self-Replicating Robots"
There's no way to see what card is under SRR after you have put it there. There's also no way of adding a 2nd card underneath SRR once a first is added.

I know that you can only double on one card at a time, but sometimes a card's cost is fully covered by SRR and the conditions are still not high enough to play it. You should definitely be able to add a 2nd card under SRR, as is written on the ca

[2020-07-07 03:18] jijiqw commented on #938
#664

[2020-07-07 03:21] jijiqw opened #939 "Bug: MARKET MANIPULATION"
Noting to do and the  game suspend when there is only one  colony is active. it  should't be played in this case
![image](https://user-images.githubusercontent.com/16096558/86700484-ba59a380-c043-11ea-80e7-44048f8af68d.png)
![image](https://user-images.githubusercontent.com/16096558/86700514-bfb6ee00-c043-11ea-8d90-cf6f19be6aac.png)

[2020-07-07 05:42] alrusdi commented on #926
@samyelias this variant is less readable in black&white. I think it is not that better than current to change

[2020-07-07 05:51] alrusdi commented on #931
Why do we read the rules like this? Player must met all requirements before playing the card isn't it?

[2020-07-07 06:41] nwai90 commented on #931
@alrusdi I thought so too, but apparently the card effects can be applied in any order. Found a clarification from the designer here: https://boardgamegeek.com/thread/2009076/manutech-nitrophilic-moss

That being said, Manutech's ability opens up a lot of edge cases.

My $0.02: We can probably address 90% of them (i.e. Moss cards and City cards) using approaches contained in existing code logic, b

[2020-07-07 06:51] jijiqw commented on #931
Here about south pole :  https://boardgamegeek.com/thread/1705209/article/28391249#28391249
lose 6MC is a part of the effect, not the cost,also not requirement

[2020-07-07 08:43] nwai90 commented on #934
This should be resolved by https://github.com/bafolts/terraforming-mars/pull/941 to account for situations  like Law Suit where a player does not want to trigger the optional "remove plants" effect. Will close the issue; feel free to comment if you don't see that option available for plant removal cards.

[2020-07-07 08:43] #934 closed

[2020-07-07 08:43] nwai90 commented on #930
Closed as resolved in https://github.com/bafolts/terraforming-mars/pull/941. Feel free to comment if you find any issues!

[2020-07-07 08:43] #930 closed

[2020-07-07 10:49] ssimeonoff opened #943 "UI improvements: selects and submit"
## Idea 1: Style them in the webpage's black-grey-brown style
Example:
![active_buttons](https://user-images.githubusercontent.com/6917565/86768148-5b992780-c04d-11ea-957b-f0a3e4307deb.png)
![save](https://user-images.githubusercontent.com/6917565/86768210-79ff2300-c04d-11ea-8f34-fdcd13477a5b.png)
Bigger buttons (and margins) will be easier selected on mobile.

## Idea 2: Sub-options to be with sm

[2020-07-07 11:03] nwai90 commented on #943
Love this UI design @ssimeonoff, especially Idea 2. I had a similar thought some time back about using buttons as well, with actions grouped into "sets".

<img width="620" alt="SuggestedActionsUI" src="https://user-images.githubusercontent.com/2408094/86771092-3c69bc80-c084-11ea-81ea-57b53a596195.png">

For example, we would simply omit row 1 if neither option was available to the player, and omit

[2020-07-07 13:24] lostgrail opened #946 "Bug: PR Office raised TR but cannot use UNMI ability"
id=bbb985040232

Playing a solo game to TR, I was unable to use the UNMI ability when either:
* Played UNMI Contractor Prelude card (could be wrong about being allowed to do this)
* Played PR Office (gain one TR directly)

Thanks for all the work! Stay safe!

[2020-07-07 13:26] lostgrail commented on #946
Update: UNMI is totally bugged out, raised Temp with Asteroid standard project, and was also unable to use UNMI ability

[2020-07-07 13:56] alrusdi commented on #943
Unfortunately Prototype font is not that good for i18n - it does not contain other-than-english letters

[2020-07-07 14:06] #914 closed

[2020-07-07 14:21] nwai90 commented on #946
I think I found the issue. Will submit a patch

[2020-07-07 14:36] nwai90 commented on #946
@lostgrail This should be fixed by https://github.com/bafolts/terraforming-mars/pull/947. Will close this issue for now

[2020-07-07 14:36] #946 closed

[2020-07-07 15:41] duckmammal commented on #943
I like style 2 a lot!

[2020-07-08 00:40] nwai90 commented on #939
Closing as fixed in https://github.com/bafolts/terraforming-mars/pull/940

[2020-07-08 00:40] #939 closed

[2020-07-08 03:53] jijiqw commented on #943
Bigger save button!

[2020-07-08 04:16] duckmammal opened #949 "Pluto Colony Bonus incorrect for one player with multiple colonies"
Under the current game play, if a player has 2-3 colonies on Pluto, they will draw 2-3 bonus cards, and then have to discard 2-3 bonus cards.

Instead they should draw 1 bonus card, and discard 1 bonus card, 2-3 times.

Drawing 3 cards all at once gives the player more up front information about which cards they are drawing, and a more informed platform for making discard decisions.

[2020-07-08 07:01] sdas-tech opened #951 "Bug: Card not found when playing any card."
![image](https://user-images.githubusercontent.com/1049519/86887800-75656800-c13c-11ea-905a-1afa6e1773e8.png)

https://terraforming-mars.herokuapp.com/player?id=a5c320217f9d
(Also just wondering if its useful to provide the URL? Is there any extra debug info being logged in the background?)

[2020-07-08 07:09] sdas-tech commented on #951
Just realised that master was updated a few minutes before I posted this bug.
I think the heroku app probably just restarted and messed something up.

[2020-07-08 07:09] #951 closed

[2020-07-08 12:51] ssimeonoff opened #953 "UX: Actions menus rework"
This is a combination of some old ideas and the recent comment:
https://github.com/bafolts/terraforming-mars/issues/943#issuecomment-654776183 , made me revise them.

# Idea 1 - Separate the options and sub-options
Currently when a option is selected (e.g. play a card or sell a card), the sub-options are displayed right under the selected option.

# Idea 2 - Display the options inline
Example:
![t

[2020-07-08 16:55] jijiqw commented on #953
Wonderful!  I love these change so much , can't wait to see it !

[2020-07-09 03:10] jijiqw opened #955 "Bigbox promo corp -Pharmacy Union"
![image](https://user-images.githubusercontent.com/16096558/86992760-c6c13600-c1d4-11ea-8332-ecbf3c811acc.png)
Do we miss the  icon of  -4 MC ？

[2020-07-09 03:13] jijiqw commented on #955
Forget that , my fault

[2020-07-09 03:37] duckmammal opened #956 "Counters for Milestones / Awards"
It'd be great to have a little counter next to each milestone / award indicating how each player is doing.

[2020-07-09 04:42] jijiqw commented on #956
#828
#407

[2020-07-09 06:04] nwai90 commented on #955
Resolved in https://github.com/bafolts/terraforming-mars/pull/957

[2020-07-09 06:04] #955 closed

[2020-07-09 07:01] tmheducation opened #959 "Game always jumps back to a certain point - cannot progress anymore"
In our game https://terraforming-mars.herokuapp.com/player?id=d8632bff556b I already repeated at least 5 times these steps:

- passed my turn as the last player

- bought some cards at the begin of the new generation

When I logged in again, either nothing had changed or the game had reset to the point before I had passed. We couldn't make it into the next round of gameplay (generation 8 past buyi

[2020-07-09 07:22] alrusdi commented on #956
Closing as duplicate

[2020-07-09 07:22] #956 closed

[2020-07-09 07:29] alrusdi commented on #953
Amazing! I would add an small reminder icons on topmost "Spend resources" when you have an option to spend Heat, Plants etc.

[2020-07-09 07:40] ssimeonoff commented on #953
if such reminder is added, then it should be applied and for "Activate Cards".

[2020-07-09 08:33] nwai90 commented on #430
@alrusdi Is this issue still relevant? I saw it was merged and the changes were reverted later on

[2020-07-09 08:36] alrusdi commented on #430
I think it is relevant (at least title part). It needs more careful implementation than mine :-)

[2020-07-10 07:44] alrusdi commented on #953
@ssimeonoff can you provide us a buttons markup like shown for Idea 2? I'll try to prototype it

[2020-07-10 12:43] ssimeonoff commented on #953
The images were just examples of the UX ideas.
For a direct implementation, maybe it will better a more subtle implementations (browser tabs)
![Untitled](https://user-images.githubusercontent.com/6917565/87154978-6e646400-c2ba-11ea-9ced-ac91a208b9c4.png)

`width: 140px;
 height: 55px;
color: #bb8760;
text-shadow: 0 2px 2px black;
padding:5px;
font-size:19px;
text-aligh: center;
border-bottom:2px s

[2020-07-10 20:26] rogerta commented on #910
Thanks for the fix guys!  I'll update my server once our game is done :-)

[2020-07-11 07:38] alrusdi commented on #959
@bafolts can we get db dump somehow to reproduce it on localhost? JSON of this game can be good enough too

[2020-07-11 07:42] alrusdi commented on #935
I like the idea to be able to hide not-blue cards. And it is relatively simple to implement. @duckmammal can you move it to separate issue?

[2020-07-11 08:18] tmheducation commented on #959
We were now able to progress past the point. A similar issue still seems possible though.

[2020-07-11 08:34] alrusdi commented on #959
ok, i am closing this issue then. Please reopen it if you will hit it again.

[2020-07-11 08:34] #959 closed

[2020-07-11 08:50] Arsenki-33 opened #969 "using Iron/Titanium to reduce a card cost can spend excess Iron/Titanium"
Minor UI issue.
When you take the **play a card** action, you often have the option to spend Iron or Titanium instead, or in addition to MC.
However the UI seems to let you spend **one extra material** even though the cost is already reduced to zero.

example: You want to pay for a cost 12 card the UI will let you spend 7 iron instead of 6 which is the useful limit.

PS: I'm completely new to GH,

[2020-07-11 23:50] Dudurandil opened #972 "Bug: Can't play Cultural Metropolis"
Hi,

On game https://terraforming-mars.herokuapp.com/player?id=d375c60c42b3

I couldn't play Cultural Metropolis and I checked that all the conditions were here:
-Energy Production >=1
-2 delegates in Unity or Unity is ruling
-Enough MC/Steel

I suspect that I couldn't play the card because I had less than 2 delegates to place (was playing Septem Tribus, so when I got this card, each generation I

[2020-07-11 23:58] Dudurandil opened #973 "Bug: Nitrogen-Rich Asteroid"
Hi,

On game https://terraforming-mars.herokuapp.com/player?id=325956a40080

When Nitrogen-Rich Asteroid was played, the card didn't give 4 plants production, only 1, even if the player had the 3 plant tags.

Thanks (again!) for your help and your amazing work :)

[2020-07-12 00:22] alrusdi commented on #972
Placing 2 delegates is mandatory. So if you don't have enough delegates - you can't play this card
https://boardgamegeek.com/thread/2201860/cultural-metropolis

[2020-07-12 00:22] #972 closed

[2020-07-12 00:32] alrusdi commented on #973
it is not reproducible. I've played EosChasmaNationalPark, Bushes, Lichen and then after playing NitrogenRichAsteroid i've got 4 plants production.
Please, next time you hit this problem - do not continue the game to give us a chance to investigate the problem.

[2020-07-12 00:32] #973 closed

[2020-07-12 00:41] alrusdi opened #975 "Galilean Waystation does not increase money production for Wild tags"

[2020-07-12 04:28] #975 closed

[2020-07-12 09:51] Dudurandil commented on #972
Oh I didn't know, thanks!

[2020-07-12 09:52] Dudurandil commented on #973
Thanks for your answer, we'll stop the game if it happens a next time.

[2020-07-12 11:15] ssimeonoff opened #977 "Big Box Promos: 12 cards + 2 corporations"
Overview: https://ssimeonoff.github.io/cards-list#X30#X29#X28#X27#X26#X25#X24#X23#X22#X21#X20#X19#X18#X17#X16#X15#X14#X13#CORP39#CORP40

[2020-07-12 12:52] Arsenki-33 commented on #935
Gathering all game informations to make strategic decision, is currently an issue, as you have to scroll a lot as the OP said.
Something I would find really helpful would be to have all players prodcution boxes, as well as tags and cards in hands displayed together like in the following pictures. The picture is just for illustration it is a simple copy and paste of a single box just to show the id

[2020-07-12 14:25] alrusdi commented on #977
They are already on the board. Thanks to @nwai90

[2020-07-12 14:25] #977 closed

[2020-07-13 17:26] alrusdi opened #983 "Play cards from hand prototype"
I am trying to reduce scroll by removing Play card option. Card in the branch **play-card-in-place** can be played by pressing "Play!" button on card in hand
![Снимок экрана от 2020-07-13 16-33-54](https://user-images.githubusercontent.com/394311/87333888-3d548f80-c557-11ea-8c13-f0b768aa5218.png)

On the picture:
- Cards  Mineral Deposit and Peroxide power can be played
- User pressed on Play! but

[2020-07-14 00:21] bobastet commented on #935
I remember when I first started playing, the opponent's quick info was visible above my own cards. When this was changed, I really felt it was not a good idea, because, as stated, it created a lot of scrolling. I am definitely on board with making a change.

[2020-07-14 02:28] nwai90 commented on #983
@alrusdi This looks great! I would suggest to:

(1) make the `Play!` button and text slightly larger,
(2) move the button slightly up so it doesn't cover part of the card, and
(3) use a different colour that does not represent any of the card types (e.g. green is used for automated cards, blue is used for action cards)

Perhaps also add `border-radius` to the `Play!` button and Payment popup to ma

[2020-07-14 08:18] vincentneko commented on #983
This looks great !
I agree with @nwai90 suggestions. Maybe using the same color (light blue) as the save button for the play button.

[2020-07-14 12:52] vincentneko commented on #925
This is consistent with the interrupt mechanism.
Other players interrupts are resolved once current player has finished his actions.
This is unlikely going to change except if it induces a bug or an exploit.

[2020-07-14 12:53] vincentneko commented on #911
As undo button is optional, I'm closing this one.

[2020-07-14 12:53] #911 closed

[2020-07-14 12:55] vincentneko commented on #884
I was using unicode character for demonstration. I think we should use images here so we are consistent across browsers / fonts.

[2020-07-14 12:56] vincentneko commented on #873
Can we close this one ?

[2020-07-14 13:04] vincentneko commented on #848
This is a tricky one. Right now effects will be resolved according to play order.
I'm wondering if it is the only case where we should resolve actions in a specific order.
We could introduce an optional `effectPriority ` parameter to cards in order to trigger some effects before some others.

[2020-07-14 13:06] vincentneko commented on #428
Is this issue still relevant ?

[2020-07-14 13:46] nwai90 commented on #873
@vincentneko Sure, will close it

[2020-07-14 13:46] #873 closed

[2020-07-14 13:49] nwai90 commented on #848
This is the only reported case so far. The two cases I can think of are Olympus Conference and Point Luna, where you would want to receive the drawn card before triggering a discard effect.

[2020-07-14 14:17] jijiqw opened #985 "A turmoil card is missing"
https://ssimeonoff.github.io/cards-list#X09
![image](https://user-images.githubusercontent.com/16096558/87436403-92f46f00-c61f-11ea-911f-feff5046d7c0.png)

[2020-07-14 14:31] nwai90 opened #986 "Able to raise TR without paying when Reds are ruling party"
**Ref:** https://boardgamegeek.com/thread/2196388/article/31885882

If Reds are the ruling party, player must be able to afford to pay 3 MC per TR raised, otherwise he should not be able to take the action / play the card.

[2020-07-14 15:15] alrusdi commented on #428
I think no

[2020-07-14 15:15] #428 closed

[2020-07-14 19:11] diesel314159 opened #989 "Trading when no colony is established"
It looks like you can trade with colonies that have yet been founded.  We are playing a game and no one colonized Ceres but someone was still able to trade with it.

[2020-07-14 20:41] vincentneko commented on #989
You don't need to have a colony established in order to trade with a colony.

[2020-07-14 20:41] #989 closed

[2020-07-15 05:32] nwai90 commented on #985
Resolved in https://github.com/bafolts/terraforming-mars/pull/990

[2020-07-15 05:32] #985 closed

[2020-07-15 05:43] nwai90 commented on #928
Is this issue still relevant?

[2020-07-15 07:56] ssimeonoff commented on #983
"Cards in hand" block can be also removed.

If "Play card" card action shows all cards now (the ones that cannot be played as well), effectively it renders player_home_block--hand obsolete.

[2020-07-15 07:57] alrusdi commented on #983
@ssimeonoff no, my idea is to completely remove Play card option

[2020-07-15 08:20] ssimeonoff commented on #983
Yes I understand the idea, but think about it in reverse.

If "play card" action is selected by default (see #953)  and if it shows all cards (the ones that cannot be played a well in a different styling), the "play card" action will behave exactly as you want.

Another drawback is that "Cards in hand" is visible when the user goes for action "activate card", which is a lot of wasted space.

Plus,

[2020-07-15 10:38] jijiqw opened #995 "Bug:The milestone Tactician should't count event cards in"
https://boardgamegeek.com/thread/2465692/question-about-milestones-tactician

[2020-07-15 11:09] alrusdi commented on #928
irreproducible (c)

[2020-07-15 11:09] #928 closed

[2020-07-15 12:30] ssimeonoff commented on #983
Example:
![1](https://user-images.githubusercontent.com/6917565/87544425-b9a9b880-c6a6-11ea-9479-f62c36131597.png)
From left to right:
1. "Play card" option is selected. The card is clicked (the submit button is called "Play".
2. "Play card" option is selected. The card is not clicked (no extra buttons)
3. "Activate card" option is selected. The card is clicked (only one way to activate the card)

[2020-07-15 15:58] nwai90 commented on #983
@alrusdi Could we also remove the dark grey background for Self-Replicating Robots card target? It seems to make the black text much harder to read compared to the original card.

<img width="208" alt="Screenshot 2020-07-15 at 11 53 50 PM" src="https://user-images.githubusercontent.com/2408094/87567605-0ae19880-c6f7-11ea-89ca-d5e593414117.png">
<img width="210" alt="Screenshot 2020-07-15 at 11 54

[2020-07-15 16:40] jijiqw opened #997 "css error: turmoil reserve"
when  5 or  6 players:
![image](https://user-images.githubusercontent.com/16096558/87571630-ea1c4180-c6fc-11ea-92b1-7ac19405531d.png)

[2020-07-15 16:42] jijiqw commented on #997
Tried to fix it but failed -_-||

[2020-07-16 00:54] duckmammal opened #998 "Hide all not-blue cards"
It would be nice to hide all my cards that are not-blue, because the greens literally don't matter except for the tag, after they've been played, and the tag is important.

It would be nice to have this option for all players, and not just myself.

[2020-07-16 00:55] duckmammal commented on #935
@alrusdi
done here https://github.com/bafolts/terraforming-mars/issues/998

[2020-07-16 01:04] duckmammal opened #999 "Show all discounts and extra costs while paying for a card"
There have been more than 20 times when I've played a card, thinking I was going to pay one price (the one written on the card), but ended up paying paying more or less, due to discounts, or the reds policy tile.

It would be visual reminder if, for each action that had a price, you could show the calculation.

It could easily be something along the lines of:
"Pay [Original Price] (- [Discounts])

[2020-07-16 01:38] nwai90 commented on #995
Resolved in https://github.com/bafolts/terraforming-mars/pull/996

[2020-07-16 01:38] #995 closed

[2020-07-16 02:00] jijiqw commented on #999
#776  repeat issue

[2020-07-16 02:18] jijiqw opened #1000 "Bug:buy cards with corporation helion"
![image](https://user-images.githubusercontent.com/16096558/87618843-62125800-c74d-11ea-8709-aa3310fd4816.png)
Can't  adjust mc  by  '+-' button  , however  'pay by heat'  buttons  work fine .

[2020-07-16 06:49] alrusdi commented on #999
Closing it as duplication. It's relatively easy to show price with discounts, but reds tile effect is little bit out of scope of price calculation (because it is an effect - not requirement).

[2020-07-16 06:49] #999 closed

[2020-07-16 06:57] alrusdi commented on #983
@nwai90 of course we can
@ssimeonoff isn't it strange to see unplayable cards in Play card action? If it is not then we should separate them somehow. Can it be something like horizontal line with caption **Not playable cards** ?

[2020-07-16 07:53] ssimeonoff commented on #983
Actually it is a pretty much expected, since playing cards is done by picking a card from the hand, so effectively "Play cards" and "Cards in hand" lists should be identical (which is actually my initial point: don't add "play" functionality to the "cards in hand" list, but instead improves the "play card" list and remove completely "cards in hand").

The cards that are displayed, but cannot be pl

[2020-07-16 08:08] nwai90 commented on #983
This looks great! Technically, I think the only two reasons why a card cannot be played are "Requirements not met" or "Cannot afford card". It would look quite nice with the above two colours.

[2020-07-16 11:55] nwai90 commented on #1000
Should be resolved in https://github.com/bafolts/terraforming-mars/pull/1001

[2020-07-16 11:55] #1000 closed

[2020-07-16 21:07] duckmammal opened #1004 "Add warning alert if player might not be able to afford selected Prelude(s)"
When I select Huge Asteroid as a Prelude in a Solo variant, it doesn't appear as a card to play during the preludes phase.

The game continues, with me having played only 1 prelude.

[2020-07-17 02:12] jijiqw commented on #1004
I guess you don't have 5 mc to pay

[2020-07-17 02:14] nwai90 commented on #1004
Yes, the game will remove Preludes that are unplayable if the cost cannot be paid

[2020-07-17 03:28] duckmammal commented on #1004
There should be some sort of notification about that before it happens?

[2020-07-17 03:54] nwai90 commented on #1004
It might be possible to add an optional warning alert if corporation's start MC - total cost of selected Project cards - cost of prelude cards is negative. Will add to list of queued features

[2020-07-17 06:06] nwai90 commented on #936
Closed as resolved in https://github.com/bafolts/terraforming-mars/pull/993

[2020-07-17 06:06] #936 closed

[2020-07-17 06:07] vincentneko commented on #949
Fixed and merged

[2020-07-17 06:07] #949 closed

[2020-07-17 06:10] nwai90 commented on #986
Resolved in https://github.com/bafolts/terraforming-mars/pull/987

[2020-07-17 06:10] #986 closed

[2020-07-17 06:15] vincentneko commented on #848
A quick and dirty fix could be to add the Olympus Conference card in the playedCards with unshift instead of push.
I've not tested it though.

[2020-07-17 07:40] duckmammal commented on #937
Another couple points occurred in a game recently.

In one example bids came out like this:

Player | Seat1 | Seat2 | Seat3
Alice:     4 4 0
Bob:      3 3 0
Charlie:  2 1 0

Normally, we say that Alice gets the highest value pack, because Alice bid the highest amount.

But Alice bid the same amount on two different Seats. Alice is indifferent as to which seat she gets, so we should look at the nex

[2020-07-17 16:40] nwai90 opened #1008 "Team Versus"
For 4 players (2v2) or 6 players (2v2v2). Teammates must sit opposite each other (in 4p) or 2 spaces apart (in 6p).

Modifications:
- Total up members' scores for each team at game end
- Tiles may be placed adjacent to teammates' placements
- Milestones and awards are still fulfilled and scored separately, however 2 players on the same team can win both 1st and 2nd place for an award

[2020-07-17 16:45] vincentneko commented on #938
Fixed and merged

[2020-07-17 16:45] #938 closed

[2020-07-17 16:46] vincentneko commented on #664
Fixed and merged

[2020-07-17 16:46] #664 closed

[2020-07-17 18:00] ssimeonoff opened #1009 "Idea: Common Tags and Resources boards"
### Reason
Before taking an action, often you scroll up to check an opponent resources or tags count. This causes a lot of scrolling and keeping the other players tableau open.

### Idea
Display the opponents tags and resources close to the player's resources and tags. The assumption is that if the player can see an overview of the opponents' resources and tags, and with the actions log visible, t

[2020-07-17 22:31] Dudurandil opened #1010 "Bug? Ecology Experts count for Tactician milestone?"
In this game : https://terraforming-mars.herokuapp.com/player?id=a150ad814f16

This player had Electro Catapult, Natural Preserve, Supported Reasearch and Eos Chasma National Park and could pay for Tactician milestone even if he had only 4 cards with requirements (if we counted correctly)

He played the prelude Ecology Experts so does the game mistakenly counted this card as a prelude?

Thanks for

[2020-07-18 03:33] nwai90 commented on #1010
Hi @Dudurandil When was this game created?

The likely cause is due to a previous bug where event cards were counted for Tactician as noted by @jijiqw. In this case, Crash Site Cleanup would have been incorrectly included.

This issue has been fixed as of 15 July: https://github.com/bafolts/terraforming-mars/wiki/Changelog#15-july-2020

[2020-07-18 03:38] nwai90 commented on #1009
This is a nice idea! That way, players only need to click to open tableaus if they want to see more detailed information. Agree that this can be controlled by a preference toggle

[2020-07-18 04:09] jbmate opened #1011 "Reds Policy to pay 3MC allows you to use Steel and Titanium"
Reds Policy to pay 3MC allows you to use Steel and Titanium, it should not allow it.

[2020-07-18 06:01] jijiqw commented on #1010
There are some cards‘s  hasRequirements  prop need  be  false , I would create a pr later to fix it ,

[2020-07-18 06:11] jijiqw commented on #1010
It seems  have been fixed by pr #1006

[2020-07-18 10:36] Ronnoc opened #1014 "Randomize Origrinal Board; Feature Description and Implement"
Hi,
I have made the Original Board shuffable and restorable

code in https://github.com/Ronnoc/terraforming-mars/commit/859ea881f19154e2c3fcc4e6d24a32e96b4df1fc

I can make a pull request if needed

sample output image like (the noctis city may in water)

![shuffledboard](https://user-images.githubusercontent.com/5140023/87850789-80cb4700-c925-11ea-9c86-259c8bc4a72c.png)

[2020-07-18 12:03] nwai90 commented on #1014
It's interesting, I like the idea. Having an option for a dynamic board would make every game quite different.

Noticed that the commit contains some other changes though (e.g. fan-made awards, localization). Could you raise a PR with isolated changes for this specific feature?

We may also want to find a way to deal with the labels for Noctis City and volcanic areas, since those areas will also (

[2020-07-18 13:33] Dudurandil commented on #1010
Hi @nwai90 , the game was created yesterday (17 July) :)

[2020-07-18 13:40] Dudurandil commented on #1010
A little precision: at the time the player claimed Tactician, he hadn't played Crash Site Cleanup yet, only
Subterranean Reservoir, Mineral Deposit and Lava Flows

[2020-07-18 15:11] jijiqw opened #1016 "bug: srr"
![image](https://user-images.githubusercontent.com/16096558/87855581-ee8a6980-c94b-11ea-84a4-e8d94fafaa6a.png)

play  a  card  linked with srr after someone undo or  game server  restart

[2020-07-18 15:39] nwai90 commented on #1016
The object is missing the type, e.g.:

[code]

[2020-07-18 15:45] jijiqw commented on #1016
Similar to #888

[2020-07-18 15:48] nwai90 commented on #1010
@Dudurandil There was a patch on 17 July as well, some of the cards here incorrectly counted for Tactician. Do you remember if any of these were played?

https://github.com/bafolts/terraforming-mars/pull/1006/files

If yes, we can close this issue as it has been fixed

[2020-07-18 15:57] #1009 closed

[2020-07-18 15:58] ssimeonoff opened #1017 "Idea: Common Tags and Resources boards v2.0"
### Reason
Before taking an action, often you scroll up to check an opponent resources or tags count. This causes a lot of scrolling and keeping the other players tableau open.

### Idea
Display the opponents tags and resources close to the player's resources and tags. The assumption is that if the player can see an overview of the opponents' resources and tags, and with the actions log visible, t

[2020-07-18 15:58] vincentneko commented on #1016
I though I had tested the info feature After the change. Could it be a saved game before the change. If yes, the json is not compatible between versions.

[2020-07-18 16:04] jijiqw commented on #1016
It's  a new game  created today,  I would create a pr to fix it later

[2020-07-18 16:09] ssimeonoff commented on #1014
Removes the labels from the "mars.png" and adding them to the respective "data_space_id" should be easy.
E.g. "Noctis" and "Volcano" for all the rest.

[2020-07-18 17:21] jijiqw opened #1019 "bug: CometAiming"
1. can select action 1 even if  there are already 9 oceans .  this happens when player can perform action2.

2. action 2 don‘t  decrease player's  titanium amount  if  CometAiming has one or more resouces on it already.

![image](https://user-images.githubusercontent.com/16096558/87857930-264ddd00-c95d-11ea-9c85-27dc7fca293a.png)

[2020-07-18 17:29] duckmammal commented on #848
it feels to me like you should be able to show players the effects that are happening as a result of their actions, and let them choose the order in which the effects are resolved, but maybe that level of abstraction is not programmed in

[2020-07-18 17:34] nwai90 commented on #1016
@jijiqw Can we close this one?

[2020-07-18 17:36] jijiqw commented on #1016
@nwai90  I think so , it should be solved now

[2020-07-18 17:37] #1016 closed

[2020-07-18 17:40] nwai90 commented on #848
@duckmammal You're right, it currently isn't. One consideration is that having to choose the order of effects every time might potentially introduce a lot of extra clicks for the user.

In most cases, order is likely not critical, except for the effects that draw cards (and maybe those that give resources too, though I can't think of any scenarios at the moment). Have you encountered any of them b

[2020-07-18 17:43] nwai90 commented on #1019
@jijiqw Do you want to submit a PR for this? I can look into it in a day or so as well.

[2020-07-18 17:45] jijiqw commented on #1019
May be better if you can handle this one

[2020-07-18 17:46] nwai90 commented on #1019
Ok, will look at it. Should be a fairly simple fix

[2020-07-18 20:51] duckmammal commented on #848
There are a lot of options that are done incorrectly, but they're all corner cases that won't matter to many players, imo. Another big one is placement on the south pole of Hellas. Another would be when you have viral enhancers in play, and 3 oceans on the board, but no plants, you should be able to play moss, to choose to gain a plant when the plant tag enters, and then immediately spend the plan

[2020-07-18 21:09] duckmammal opened #1021 "Can purchase more cards than MC should allow"
![image](https://user-images.githubusercontent.com/4755233/87861956-1bb12a80-c900-11ea-8977-61683608b509.png)

I had 6 MC and purchased 4 cards at the start of the round.
Now when I want to pay for something I need to overpay by 6 MC.

[2020-07-19 00:12] Dudurandil commented on #1010
Yes! I remember that he had played Subterranean Reservoir before claiming Tactician, so you can close this issue, thanks!

[2020-07-19 01:53] #1010 closed

[2020-07-19 01:57] nwai90 commented on #1021
@duckmammal Which corporation were you?

[2020-07-19 07:22] nwai90 commented on #1019
Resolved in https://github.com/bafolts/terraforming-mars/pull/1020

[2020-07-19 07:22] #1019 closed

[2020-07-19 07:26] nwai90 commented on #1021
Resolved in https://github.com/bafolts/terraforming-mars/pull/1022

[2020-07-19 07:26] #1021 closed

[2020-07-19 10:13] duckmammal opened #1023 "Venus Soils prompt incorrect"
The prompt asks the user to select a card to which it will add 1 resource. The card is supposed to (and does) add 2 resources, not 1, but the prompt after playing Venus Soils does not reflect this.

[2020-07-19 15:40] nwai90 commented on #848
Both Moss cards should be playable for edge cases now. South Pole is tricky as the ocean placement on Hellas could theoretically give anything between 0-12 MC, maybe tackle this edge case someday

[2020-07-19 16:15] meussiebeaucoup commented on #1017
In my custom build for our games I've added a 'Tag Overview' section:

![image](https://user-images.githubusercontent.com/68510105/87879490-68bdfb00-c9eb-11ea-90bc-46b0c278088e.png)

We find that it works pretty well as it saves a lost of time of scrolling through all the players their tableau's. Of course it could use some better styling, but for a first draft I was pretty happy with how it turne

[2020-07-19 17:06] vsrisuknimit opened #1026 "Astrodrill - wrong activation power"
Astrodrill has essentially 3 possible actions:

1. Gain an asteroid to any card
2. Gain a standard resource
3. Spend an asteroid here for 3 titanium.

As the card is currently implemented, action 1 and 2 is combined. That is not correct.

https://ssimeonoff.github.io/cards-list#CORP39

[2020-07-19 20:16] duckmammal commented on #848
actually, with lakefront the upper-bound is 18, :P but in any case the upper bound is unlikely to matter, as long as it's above 6.

[2020-07-20 07:34] mloballer opened #1028 "Saturn Surfing bug"
We started a game the other day, and in my starting hand I had Saturn Surfing, even though we had promo cards off, we still got it. We were playing with Preludes, Colonies, Corporate Era and Venus. You can see in the image, in a 3 player game it's showing 284 cards, but with all the expansion I mentioned we played, there should be 283 cards remaining after the first 3 players get dealt there 10 ca

[2020-07-20 07:57] nwai90 commented on #1028
Resolved in https://github.com/bafolts/terraforming-mars/pull/1029

[2020-07-20 07:57] #1028 closed

[2020-07-20 09:22] nwai90 commented on #1023
Resolved in https://github.com/bafolts/terraforming-mars/pull/1025

[2020-07-20 09:22] #1023 closed

[2020-07-20 09:27] nwai90 commented on #1011
Resolved in https://github.com/bafolts/terraforming-mars/pull/1012

[2020-07-20 09:27] #1011 closed

[2020-07-20 09:38] alrusdi commented on #1026
It's a bug indeed. Thank you for reporting!
![astrodrill](https://user-images.githubusercontent.com/394311/87923280-acba0a00-ca96-11ea-9e66-a5b4005fd0b0.png)

[2020-07-20 16:06] jijiqw commented on #1026
Prefer the combined version personally

[2020-07-20 21:40] duckmammal opened #1030 "Cultural Metropolis Requirements wrong"
Currently, on your server, in order to play Cultural Metropolis you need to have 2 free delegates, and to place them.
In reality the delegate placement is a bonus for playing Cultural Metropolis. The number of free delegates you have should not impact whether or not you are allowed to play the card.

[2020-07-21 02:28] nwai90 commented on #1030
I believe the current implementation is correct, as per this thread: https://boardgamegeek.com/thread/2201860/article/32015727#32015727

An official clarification is provided at https://boardgamegeek.com/thread/1705209/article/24723217#24723217. All effects are mandatory when playing a card, with only 3 allowed exceptions (raising maxed out global parameters, removing resources from other players,

[2020-07-21 10:40] duckmammal commented on #1030
Whoa, sorry! I think you're completely right! This issue had come up in a friendly game and I thought I had looked up the ruling at that time, but the links you're pointing at are pretty indisputable! So sorry to have wasted your time!

[2020-07-21 10:40] #1030 closed

[2020-07-21 11:39] vincentneko commented on #1026
Do we have the full card text somewhere ?
IMO it make more sense actions 1 & 2 are combined...

[2020-07-21 11:45] vincentneko commented on #407
@alrusdi and @nwai90
I've created `improve_ms_awards `branch. In this branch scores for milestones and awards are exposed for client.
Do you mind taking care of the client side as I'm pretty bad with this ?

![Screenshot 2020-07-21 13 32 54](https://user-images.githubusercontent.com/56086992/88051032-41387100-cb58-11ea-8997-621980341c57.png)

[2020-07-21 11:55] alrusdi commented on #407
I think stats data needs more generalization. Now we need an award counts. Tomorrow we will need Milestones counts. Next day we will need Turmoil Influence values...
May be it is better to have separate section in player response for stats? It can be a list with StatsModel structure (id="awards", name="Awards", scores=[...])
And then implement UI like panel with tab for each StatsModel item in tha

[2020-07-21 12:04] vincentneko commented on #407
In my opinion it makes sense to store Milestones / Awards additional information within Milestones / Awards.
This information can then be extracted on the client side to be displayed either with Milestones / Awards or somewhere else.

[2020-07-21 12:04] alrusdi commented on #1026
I saw it on bgg https://boardgamegeek.com/thread/2449277/lets-discuss-astrodrill
(Action: Either add 1 asteroid to ANY CARD **or** gain any standard resource **or** remove 1 asteroid from this card to gain 3 titanium)
But it can be just interpretation.

[2020-07-21 12:08] vsrisuknimit commented on #1026
Unless Slash (/) is used to mean PER (jovian tag, earth tag, etc), the slash symbol (/) always mean OR in this game.

Example: https://ssimeonoff.github.io/cards-list#069#074#128#131#C03#T06

AND would have no symbol at all. Just pictures of asteroid and standard resource.

Example: https://ssimeonoff.github.io/cards-list#163#C09#X26

[2020-07-21 12:18] nwai90 commented on #1026
Yes, I saw this too. The original poster edited his post from "and" to "or" here: https://boardgamegeek.com/thread/2449277/article/35125663#35125663

Could not find any official confirmation yet though. Should we change it or wait?

[2020-07-21 12:21] alrusdi commented on #1026
I think it is pretty safe to change. Logic with / symbol (by @vsrisuknimit) sounds very solid

[2020-07-21 12:35] vsrisuknimit commented on #1026
It is possible the designer might change the design later on since these cards are still being developed after all. That was the case for Lakefront Resort, Pristar, and Terralabs. Their current forms are slightly different from when they were first revealed in Turmoil Kickstarter (https://www.kickstarter.com/projects/strongholdgames/terraforming-mars-turmoil)(https://imgur.com/h2yoe5M)

In the end