[2020-07-21 14:19] alrusdi commented on #1017
@meussiebeaucoup can you push your version to guthub? We will check your implementation and take ideas from here.

@ssimeonoff main idea here is to have a table to compare values faster. What if we introduce a button like "Others" to show a comparison table with given parameter (tags, production+resources, influence, awards and milestones scoring)?

[2020-07-21 15:44] #997 closed

[2020-07-22 06:41] charlielam opened #1033 "Bug: Ocean and Temperature should not be reduced when the maximum is reached"
Right now the ocean and temp can be reduced even it reached the maximum, which is contradict with the turmoil game rule: "if a global parameter is at its maximum, it may not be affected again for the rest of the game"

[2020-07-22 07:22] ssimeonoff commented on #1017
If you are moving the tags in a common table then the resources can be displayed in a minimized way right under the player name:
![2](https://user-images.githubusercontent.com/6917565/88146833-a9409300-cbfc-11ea-8ff3-cc93872b072a.png)

[2020-07-22 08:45] nwai90 opened #1035 "Game gets stuck if some players pick Beginner corp and others do not"

[2020-07-22 09:18] charlielam opened #1036 "Bug : Helion failed to spend heat as MC and can reach negative MC in some rare case"
Refer to the image below, when a player want to spend heat as MC when his MC is not enough, he spend his MC instead and his MC become negative.

![image](https://user-images.githubusercontent.com/6376909/88158589-d31aa980-cc3e-11ea-8746-87f5ebdadaba.png)

[2020-07-22 09:35] nwai90 commented on #1036
@charlielam Could you provide more information about when this rare case happens? What was the action that the player was trying to perform?

[2020-07-22 09:54] sccblazer opened #1037 "Bug: Playing Magnetic Field Generators Promo while Reds are ruling may result in negative MC"
After playing Magnetic Field Generators Promo card while Reds party was ruling one player in our game temporarily ended with -3 MC. He placed the tile near 1 ocean, so he was at -1 MC after all.
I can't remember whether he could place the tile near 2 oceans (that would be the legal play, since he would never have negative MC).
Maybe there should be tile placement restriction in case player doesn't

[2020-07-22 10:07] nwai90 commented on #1037
This is indeed a bug. We missed out this card when checking whether player can pay for Reds tax. Thanks for highlighting!

[2020-07-22 12:01] bluesleona opened #1040 "Bug: Pristar + Global Government and Mud Slides Global Event"
Bug : Pristar do not get resource if you are first player and act as Global government
Also it will stop gaining resource after this happen. Even if you play a game without get any TR you can only have maximum three time activate it effect in one game.

Bug : Mud Slides count tile aside EMPTY ocean. Even if there is no ocean placed, u will get MC reduction.

Thank you for fixing them. Great work

[2020-07-22 12:22] nwai90 commented on #1037
Resolved in https://github.com/bafolts/terraforming-mars/pull/1039

[2020-07-22 12:22] #1037 closed

[2020-07-22 12:23] nwai90 commented on #1033
Resolved in https://github.com/bafolts/terraforming-mars/pull/1038

[2020-07-22 12:23] #1033 closed

[2020-07-22 12:23] nwai90 commented on #1040
Mud Slides should have been fixed by @jijiqw

[2020-07-22 14:32] Zolib80 opened #1041 "Teractor + Business Empire"
I have just started a game and I have found out that Business Empire (Prelude: 6 M€ production & -6M€) give only 6M€ production.
![Bug](https://user-images.githubusercontent.com/68651711/88189014-7c0dd800-cc30-11ea-9ab2-1c19f3cbd470.PNG)

[2020-07-22 14:59] duckmammal commented on #1041
if you're playing the solo variant with preludes, you normally start with -2 income, so your income afterwards will be (-2) + 6 = +4 income.

[2020-07-22 15:11] Zolib80 commented on #1041
Hm, I have missed this bit. It is working correctly then. :)

[2020-07-22 15:11] #1041 closed

[2020-07-22 15:24] jijiqw commented on #1040
Pristar's bug should also be fixed some days ago , and  it's caused by someone undo action or game server restarts,   you can pull these recent changes from  bafots and check again .

[2020-07-22 15:46] SliceOfBread opened #1043 "Local Heat Trapping playable by Helion without heat"
The card Local Heat Trapping should not be playable unless a player has 5 heat. There is an exception in the code for Helion but it incorrectly allows Helion to use MC as heat. Helion is only allowed to use heat as MC. I believe I fixed this in #1042 but I am not a TS coder.
You can see that the card is shown as playable in this screenshot even though there is 0 heat.  (game id was id=4ed73f5ec600

[2020-07-22 16:47] mloballer opened #1045 "Loading finished games"
I have been running mars on my own server. When I stop the server, update code, and start it again, it only looks for the games that are running, not finished to load. It would be nice to also load the finished games in case I wanted to go back and look at the results from that game, thanks.

[2020-07-22 16:59] vsrisuknimit opened #1046 "Mon Insurance's Edge Case"
This edge case happen when Mon Insurance play Giant Ice Asteroid or Comet (something that destroy plant but give ocean) or new Deimos Down or play any asteroid with rebate cads (Media Group, Optimal Aerobraking) when it has exactly the money to play the card. Here is what happen.

1. Mon pays for the card with its remaining mc.
2. Mon has no mc left.
3. Mon destroy some plants.
4. Mon says this is

[2020-07-22 17:12] nwai90 commented on #1040
@bluesleona Will close this issue for now, do let us know if you still encounter those bugs with the latest version of the code and we'll reopen it then

[2020-07-22 17:12] #1040 closed

[2020-07-22 17:56] SliceOfBread commented on #1043
Fixed by #1042

[2020-07-22 17:56] #1043 closed

[2020-07-22 20:08] vsrisuknimit commented on #903
In the case this issue still open, you can change "pass" to "pass for the generation". This way it is clearer what pass is.

[2020-07-22 20:15] vsrisuknimit commented on #1017
Having the current values for Milestone and Award as @ssimeonoff  suggested would be really cool!

[2020-07-23 06:33] vincentneko commented on #903
Can we close this one ?

[2020-07-23 07:20] duckmammal opened #1048 "Interaction between Parliament Hall and Robotic Workforce bug"
While trying to copy a brown tag's production with Robotic Workforce,
![image](https://user-images.githubusercontent.com/4755233/88260867-147c7a80-cc7a-11ea-8f06-9e688f7e9dfe.png)

I don't seem to have the option to copy Parliament Hall
![image](https://user-images.githubusercontent.com/4755233/88260965-44c41900-cc7a-11ea-9097-e80f30c7800a.png)

[2020-07-23 07:22] duckmammal commented on #1048
It also looks like I can't copy Cultural Metropolis, which is also a card with a political requirement.

I think maybe the interaction between political requirements and Robotic Workforce is broken. Could this be the case?

[2020-07-23 08:40] nwai90 commented on #1014
Implemented by @Ronnoc in https://github.com/bafolts/terraforming-mars/pull/1015

[2020-07-23 08:40] #1014 closed

[2020-07-23 08:41] #1048 closed

[2020-07-23 16:02] SliceOfBread commented on #1036
This might be similar to #1043.

[2020-07-23 19:38] duckmammal opened #1052 "Random board option now unclear"
Here's what the option looks like at game setup
![image](https://user-images.githubusercontent.com/4755233/88330450-4294a580-cce0-11ea-8b7d-31fb6da58c1d.png)

Before there was the "radomized orange board locations" this button meant that a player wanted to have one of the 3 base maps, but didn't want to decide on their own (very similar to "random start player"). This button now means something di

[2020-07-24 01:56] nwai90 commented on #1052
@duckmammal Can you clarify what the issue is?

I tried it out - if "Random" is selected, it will give one of the three boards chosen at random. This behaviour is the same as before.

If "Random" is selected together with "Randomize board tiles", a random map will be chosen and the tiles will be shuffled. This is also consistent with what the options mean.

[2020-07-24 07:05] vincentneko commented on #1017
This one is well underway !

[2020-07-24 09:57] duckmammal commented on #1052
ack you're right! I didnt realize that "randomize board tiles" was an option, and i was just turning on all the options, which is how i was setting up a game!

[2020-07-24 09:57] #1052 closed

[2020-07-24 10:22] vsrisuknimit commented on #1046
This edge case should also cover many other situation that Mon has no money after doing an attack but getting rebate later  such as the following:

- Sabotage, Media Group
- Mining Expedition, Media Group
- Virus, Media Group
- Comet for Venus, Media Group
- Impactor Swarm, Media Group
- Using Predators while having no mc, pay no insurance, get rebate from Meat Industries
- Using Ants while having

[2020-07-24 12:08] vincentneko commented on #715
Merged from @jijiqw repo.

[2020-07-24 12:08] #715 closed

[2020-07-24 13:57] SliceOfBread commented on #1046
There are many edge cases (with this corp and others) where the order that effects are applied is important. Currently, these effects are done in a fixed order and that order is not optimal or, perhaps, there is no optimal order.

My suggestion is to add an option to allow the order to be selected by the player. In cases where the player does not care, it could work as it does now. When it does ma

[2020-07-24 15:36] vsrisuknimit commented on #1046
Most of the time there is an optimal order for Mon. Pay for card -> no mc -> attack -> rebate or placement

There is only one situation I could think of where the order could be up in the air.

Player 1: Mon Insurance, playing Giant Ice Asteroid/Comet such that there is no mc left.
Player 2: Someone with a few plants and Arctic Algae.

Option A: Ocean placement first, get money from ocean, Arctic

[2020-07-24 15:38] charlielam opened #1056 "Bug: Turmoil global event "Corrosive Rain" appear in games without colonies expansion"
When a game is created with turmoil expansion but without colonies expansion, "Corrosive Rain" can be appeared in global events

[2020-07-24 16:08] nwai90 commented on #1056
I saw that this card is part of the Turmoil promo pack here: https://boardgamegeekstore.com/products/terraforming-mars-turmoil-promo-card-pack

Should it not appear in games with Turmoil expansion?

[2020-07-24 16:15] charlielam commented on #1056
the problem is that card is with a black triangle icon on bottom left, which means it only applies to game with colonies exp added.
If the game is created with turmoil exp but without colonies exp, it shouldn't appear

[2020-07-24 16:39] nwai90 commented on #1056
It could be that the icon is wrong. Can anyone confirm if this is a Turmoil card or a Colonies card?

[2020-07-24 17:46] charlielam commented on #1056
![IMG_20200725_014500](https://user-images.githubusercontent.com/6376909/88419935-9acec300-ce18-11ea-972d-d3fc8ddf7901.jpg)

[2020-07-24 17:47] charlielam commented on #1056
FYR, there are total 4 global event card within colonies exp

[2020-07-25 03:10] mloballer opened #1058 "Bug: Beginner corp does not receive prelude cards"
When starting a game, we had preludes on, and someone wanted to be a beginner corporation, but they were not dealt any prelude cards.

[2020-07-25 05:38] charlielam opened #1059 "Bug: First player receive map bonus when performing world gov action"
refer to the pic
![IMG-20200725-WA0008](https://user-images.githubusercontent.com/6376909/88449770-20d02580-ce7c-11ea-8edd-409da4eba36b.jpg)

[2020-07-25 14:38] charlielam opened #1060 "Award "Excentric" did not calculate when end game"
For unknown reason, award "Excentric" (Player with most resources on cards) did not calculated when end game. Not sure if this problem can be reproduced.

![80415ffa-761d-44ca-a05c-51a334269f8f](https://user-images.githubusercontent.com/6376909/88459328-24d56500-cec7-11ea-803e-ee170cbef9ad.jpg)

[2020-07-25 15:52] vincentneko commented on #1060
Fixed and merged, thanks for reporting !

[2020-07-25 15:52] #1060 closed

[2020-07-25 15:54] vincentneko commented on #1059
Just tested it in a solo game with world gov activated, it did not occur.
Were you playing with Turmoil option and it was a global event that required to add an ocean maybe ?

[2020-07-25 15:54] nwai90 commented on #1058
@vincentneko I was attempting to address this issue, but the below approach seems to fail intermittently. Could you have a look at it?

[code]

With this approach I noticed that some Beginner players sometimes don't get to select Preludes at all, and it also seems to intermittently produce `unsupported waitingFor`

[2020-07-25 16:00] vincentneko commented on #1058
Beginner corp is not letting you choose anything so changing it's behavior might be a lot of tedious work.
I suggest we disable beginner corp if any option is selected.

[2020-07-25 16:05] vincentneko commented on #1056
I've noticed we forgot to implement Microgravity Health Problems global event !

[2020-07-25 16:10] vincentneko commented on #1045
I'm afraid we cannot do this right now, because of memory constraints.
(having every game loaded would eventually wreck havoc server memory)
I'm planning to create another table in the database to store game results.

[2020-07-25 16:15] nwai90 commented on #1058
https://boardgamegeek.com/thread/2268219/article/32891016#32891016
https://boardgamegeek.com/thread/2130044/article/30959133#30959133

Agree with the suggestion. I think it is fine to leave beginner corp just for the base game without any expansions. Modifying this seems to open up more problems and it is also recommended against by the game designer.

[2020-07-25 16:19] vincentneko commented on #1056
I will add it asap.

[2020-07-25 16:56] vincentneko commented on #1056
Bug fixed and missing event added.

[2020-07-25 16:56] #1056 closed

[2020-07-25 16:57] nwai90 commented on #1026
Resolved in https://github.com/bafolts/terraforming-mars/pull/1064

[2020-07-25 16:57] #1026 closed

[2020-07-25 17:01] vincentneko commented on #1017
This one is done !

[2020-07-25 17:11] mloballer commented on #1058
I agree, a person should not be using the beginner corporation in an expansion, I will let him know he shouldn't be using it, thanks.

[2020-07-25 17:18] vincentneko commented on #1058
We will update the UI so this will not be possible in the future.

[2020-07-26 16:52] mloballer opened #1066 "Awards UI"
Thanks for the new awards interface that show you how much each player has. I was wondering, maybe it's already being worked on, but after someone funds an award, it gets gray, and then it's hard to tell which color is which. If you could still see the colors well after the award is funded would be nice, not sure what is the easiest way to do that. thanks.

[2020-07-26 18:58] duckmammal commented on #1066
yeah, the funded milestones being greyed out makes sense, but not the funded awards.

[2020-07-27 02:32] jijiqw opened #1067 "bug: red policy"
![image](https://user-images.githubusercontent.com/16096558/88497921-5730b080-cff4-11ea-9a10-abfe0813fe41.png)
![image](https://user-images.githubusercontent.com/16096558/88497944-61eb4580-cff4-11ea-8747-031c030af8e2.png)
![image](https://user-images.githubusercontent.com/16096558/88497952-657ecc80-cff4-11ea-9634-7db09c67a02a.png)

The player canot play  "NITROGEN FROM TITAN"  with 25+6-2 = 29 MC

[2020-07-27 07:15] nwai90 commented on #1067
Hi @vincentneko I took a look at this, seems we have to replace all cases where REDS_RULING_POLICY_COST is involved in determining `canPlay()`. E.g. for NitrogenFromTitan:

[code]

[2020-07-27 07:39] vincentneko commented on #1067
Hi @nwai90 , yes I work on it today.

[2020-07-27 12:51] #1045 closed

[2020-07-27 13:49] nwai90 commented on #1067
Resolved in https://github.com/bafolts/terraforming-mars/pull/1069

[2020-07-27 13:49] #1067 closed

[2020-07-27 13:49] nwai90 commented on #1066
Resolved in https://github.com/bafolts/terraforming-mars/pull/1068

[2020-07-27 13:49] #1066 closed

[2020-07-27 16:25] Ronnoc opened #1072 "2 Awards not show info when cilck"
![image](https://user-images.githubusercontent.com/5140023/88566296-66e9dc80-d068-11ea-890c-1b9f03c8896c.png)

[2020-07-27 17:10] vincentneko commented on #998
Done !

[2020-07-27 17:10] #998 closed

[2020-07-27 17:20] vincentneko commented on #1072
This is a client side related bug. Awards descriptions are passed to the vue js component.
I'm wondering if it's related with the award name being 2 words instead of one...

[2020-07-27 17:36] SliceOfBread commented on #1072
I think I can fix this, if you want.

[2020-07-27 18:28] vincentneko commented on #1072
Sure please go ahead !

Le lun. 27 juil. 2020 à 19:36, SliceOfBread <notifications@github.com> a
écrit :

[2020-07-27 20:32] SliceOfBread commented on #1072
@vincentneko I updated component Award.ts and check failed a Turmoil test and I have no idea how that might be related. But I updated Milestone.ts also (as it had the same bug) and check passed.
I have not yet built local server but fix is simple enough and easy for someone to check before I can get my local server going.

[2020-07-27 21:58] ssimeonoff commented on #1072
@Ronnoc , what browse/os do you use?

[2020-07-28 01:07] mloballer opened #1074 "Feature request: Random Milestones/Awards toggle"
Hello, my game group is wondering if it would be possible when choosing Random Milestones/Awards to be able to toggle some milestones off. We find that in our game Tycoon is never ever going to get claimed in a 3 player game. Also, I am sure many may disagree with me, but I hate planner, although I can see how in some rare strategies it's viable. But either way would be nice to remove some of them

[2020-07-28 01:10] nwai90 opened #1075 "Helion cannot spend heat to buy cards during Research phase"
MC is always spent, even if the player chose to use heat.

<img width="810" alt="Screenshot 2020-07-28 at 8 55 08 AM" src="https://user-images.githubusercontent.com/2408094/88607580-29aa3c80-d0b2-11ea-979f-8024935be027.png">

[2020-07-28 02:28] bafolts opened #1076 "Heroku site was unresponsive but did not crash."
Around 00:50 UTC on July 28th the heroku service became unresponsive. The response time seemed to cap out to 30 seconds and no throughput was happening. I assume an infinite loop of some kind has been introduced which locked up the node process. Has anything gone out recently which could have introduced this? I have not been paying full attention to the commits. I restarted the server but if the a

[2020-07-28 02:30] bafolts commented on #1076
@vincentneko or someone else who has been watching stuff go in. I assume some recent change on the server introduced this infinite looping. I may start checking out recent pull requests that have gone in. If someone stands out that may have caused this please chime in. If this is something common it could continue to take down the heroku site. I will monitor and keep manually restarting it if I se

[2020-07-28 05:32] Ronnoc commented on #1072
Chrome in mac/Linux

[2020-07-28 05:41] vincentneko commented on #1076
@bafolts Right now I have no idea of what could cause the issue. Did you notice an increase in the number of games created ?

[2020-07-28 05:41] #1072 closed

[2020-07-28 05:42] vincentneko commented on #1072
@SliceOfBread Thanks for fixing !

[2020-07-28 06:14] nwai90 commented on #1076
I think there is a small chance that the while loops in this PR could go on indefinitely.

12/61 spaces on the board are ocean spaces. The odds of drawing an ocean space repeatedly are extremely low, but it is still present.

It may be better to set a MAX_RETRIES variable and definitively exit the loop once this limit is reached.

https://github.com/bafolts/terraforming-mars/pull/1015/files#diff-d

[2020-07-28 09:10] charlielam commented on #1059
that game is played many days ago and i can't remember the details, but yes it's with turmoil exp i'm sure

[2020-07-28 11:12] vincentneko commented on #925
As I do not see any drawback or exploit with this, I'm closing this one.

[2020-07-28 11:12] #925 closed

[2020-07-28 13:59] bafolts commented on #1076
The server was hung for 30 minutes straight which would have had to draw an ocean space a very large number of times in the millions. Seeing that `while (true)` merged recently it is worthwhile to attempt to leave that while loop. I am assuming there is an unseen issue which leads to infinite looping here.

[2020-07-28 14:37] Ronnoc commented on #1076
I got it...
sorry for bug
let idx = Math.floor(this.mulberry32() * (land_list.length + 1));

here land_list should be is_ocean

[2020-07-28 14:37] Ronnoc commented on #1076
I will create a PR to solve this

Sorry for that...

[2020-07-28 14:43] bafolts commented on #1076
I am also going to put up a PR to throw an error if these loops iterate more than 1000 times so the heroku site can stay up.

[2020-07-28 14:56] #1076 closed

[2020-07-28 14:59] nwai90 commented on #1075
Resolved in https://github.com/bafolts/terraforming-mars/pull/1077

[2020-07-28 14:59] #1075 closed

[2020-07-28 21:05] SliceOfBread opened #1080 "Bug: Solo neutral cities placed next to each other"
When placing the neutral cities in solo mode, only legal spots are counted. After the first city is placed, the hexes adjacent to it are illegal and should be skipped.

![Screenshot from 2020-07-28 11-21-47](https://user-images.githubusercontent.com/13003705/88721318-449da080-d0f4-11ea-9dfe-d298833f4515.png)

[2020-07-28 22:07] Zolib80 opened #1081 "Why did I lose?"
I have played a solo game, and I have reached the maximum of every global parameter, but the games say 'Sorry, you lose'
Can someone explain this, please?
![Bug](https://user-images.githubusercontent.com/68651711/88727180-fbb30f80-d126-11ea-931b-786b073fff37.PNG)
Game id was 1957f56780fd

The same issue happened with the next game too: abed8ed213c4
![bug 2](https://user-images.githubusercontent.co

[2020-07-29 00:34] nwai90 commented on #1081
Did you select TR solo mode? If this option is selected you need to obtain 63 TR to win the game

[2020-07-29 03:28] vincentneko commented on #1081
Maybe we could rename the option from TR solo mode to 63 TR solo mode.

[2020-07-29 07:22] Zolib80 commented on #1081
Yes, I have selected TR solo mode, however, I thought its only an option to win. My bad...
Thank you for the quick answers.

[2020-07-29 07:31] nwai90 commented on #1081
We've updated the option text to make it clearer. Will close this issue

[2020-07-29 07:31] #1081 closed

[2020-07-29 11:32] alrusdi opened #1085 "Imported Nitrogen cheat"
1) Add microbe card to played cards (RegolithEaters)
2) Add animal card to played card (Predators)
3) Play Imported Nitrogen
4) Select "Select card to add 3 microbes" but DO NOT SELECT "Select card to add 2 animals"
5) Hit Save

As result you will have 3 microbes on RegolithEaters and "Not enough cards selected" error mesage.
Then you will be able to repeat step 4-5 to collect any amount of microb

[2020-07-29 11:38] vincentneko commented on #1080
Fixed and merged

[2020-07-29 11:38] #1080 closed

[2020-07-29 14:49] nwai90 commented on #1036
@charlielam This should be resolved with the recent patches for Helion, will close the issue. Feel free to reopen it if you encounter it again

[2020-07-29 14:49] #1036 closed

[2020-07-30 10:12] charlielam opened #1088 "Typo of astrodrill action explanation"
Refer to #1026 , the action should be "OR", not "AND"

![image](https://user-images.githubusercontent.com/6376909/88911267-34222d00-d290-11ea-9458-5ba60b9e3a64.png)

[2020-07-31 10:50] vincentneko commented on #1035
Fixed and merged

[2020-07-31 10:50] #1035 closed

[2020-07-31 13:37] SliceOfBread opened #1094 "Bot/AI player"
Has any thought been given to creating a bot (AI) player? I had been working on my own vision for this before I found out about this project.
To start, I think it would need to be best to extremely limit it to something like:
-base + CE (maybe)
-Original board only
-plays 2 player games only
-no draft

Ideas on these limits, bot types and pointers on how/where this might be hooked into the code we

[2020-07-31 13:49] chosta commented on #1094
I think it is a good idea and a fun one to work on. My immediate thoughts on this:
There shouldn't be any restrictions on boards, nr players, draft etc. imo. Instead we start with core mechanics. E.g. teach the bot to only play on the board with cities, greeneries and tiles. Once the bot has the optimal algorithms for any map / corporation / game mode - we start teaching it to play with cards.
Thi

[2020-07-31 14:24] SliceOfBread commented on #1094
You can look at my automatm at https://github.com/SliceOfBread/tm as it is along the lines of what you are saying. It does not play corps (but has some of their features) and does not play cards. I added some rules (bots can buy production, bots can use steel/titanium to help build cities) to make things fun. It support Milestones but not Awards. It is designed to be played 2 bots vs 1 human (who

[2020-07-31 14:29] nwai90 commented on #1088
Resolved in https://github.com/bafolts/terraforming-mars/pull/1089

[2020-07-31 14:29] #1088 closed

[2020-08-01 02:57] vsrisuknimit opened #1095 "Feature request: warning for discard"
This situation happens to me a lot, not sure if that happen to you too. When Mars University or Pluto is in play, you may be prompted to discard a card. Too often, I did not realize the action is to discard; I thought it would be to play. So I will accidentally discard something that I mean to play.

Suggestion:

A) At the top right of the screen, floating so it follows as you scroll up and down,

[2020-08-01 07:53] vincentneko commented on #1094
Having bots / AI players would be a great addition.

This is something that would take a tremendous amount of work, and I'm not sure if the result would be satisfying (see how the AI is playing in the official app...)

Anyway, thinking about it, here are some ideas:
- We should try to separate AI code whenever it's possible to avoid interfering too much with core classes (Player, Game)
- Cards wit

[2020-08-02 08:04] alrusdi commented on #1085
Fixed. Thanks to @nwai90

[2020-08-02 08:04] #1085 closed

[2020-08-02 13:16] ssimeonoff commented on #1095
It would be nice the button "save" to change label based on the action that is being confirmed:
- play
- activate
- discard
- keep
- sell

[2020-08-02 20:33] numaanrally opened #1099 "Helion Corp game breaking bug"
When playing Helion, I chose to put a tile on Helis location that requires -6 loss to place a Water. At the time, I had $0, but 6 heat. The game allowed me to place the tile, but then deducted $6 from my account, giving me -$6. At first I thought I had lucked out! But then I got stuck trying to play my next turn. When trying to play an action from a card that I have enough heat to pay for, I tried

[2020-08-03 00:34] nwai90 commented on #1099
This is a bug indeed. It should remove 6 heat in this case since there is no MC available but Helion is still able to afford the -6 cost of placing the tile.

[2020-08-03 09:48] chosta commented on #1095
I'll work on that. Seems like a nice improvement.

[2020-08-03 10:13] pmp888 opened #1102 "Mobile webapp Suggestion #1"
Make it full screen enabled when adding to the homescreen on iOS by adding this couple lines -
https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html

There's the equivalent for Android too.

[2020-08-03 10:13] pmp888 opened #1103 "Mobile webapp Suggestion #2"
add a Home button on the score results page. There is no way out of there, except by going on the url bar again.

[2020-08-03 10:18] alrusdi commented on #1102
SO page with recipe for Android
https://stackoverflow.com/questions/7517352/fullscreen-web-app-for-android

[2020-08-03 10:21] pmp888 opened #1104 "Mobile webapp Suggestion #3"
The save button is very small (for submitting an action) - if you could enlarge the save button when choosing an action it leads often to misclick, either on desktop browsing or on mobile (i.e. iPad).

Same applies for the actions, where the circle is small, and if it would be possible to add a button enveloping the whole text of each action that would be large in height, it would make it so much

[2020-08-03 10:33] alrusdi commented on #1104
You can click anywhere on action text to activate given action

[2020-08-03 10:36] pmp888 commented on #1104
Yes, that is correct.
However, height needs to be higher for each, as still misclick happens on
touchscreen.
Also, for new users, it is not intuitive. an enveloping box would be better
UX, and would allow the borders to be better distinguished between each
action.

On Mon, Aug 3, 2020 at 2:33 PM alrusdi <notifications@github.com> wrote:

[2020-08-03 11:42] vincentneko commented on #1099
Fixed and merged

[2020-08-03 11:42] #1099 closed

[2020-08-03 12:36] #1103 closed

[2020-08-03 13:23] etiennepetit opened #1107 "Negative megacredits on Hellas"
I had 18 megacredits, playing on Hellas. Then, I played Lava Flows (cost: 18M) on the southmost tile with ocean and -6M as placement bonus. I was actually allowed to place the tile there and ended up with -6M, after placing the ocean.

[2020-08-03 14:04] vincentneko commented on #1107
EcologicalZone may be subject to the same bug.

[2020-08-03 14:46] nwai90 opened #1109 "Enhancement: Add onsite link to make it easier to report bugs"
Suggestion to add a “Report a bug” link/icon somewhere unobtrusive so that players can raise issues directly.

For simplicity the link/icon could simply open Discord #general channel in a new tab.

[2020-08-03 14:49] nwai90 opened #1110 "Feature Request: Game log download"
Request is to be able to download a text file containing all game logs at game end

[2020-08-03 15:03] SliceOfBread commented on #1110
If the log contains all the choices made then the log can be used to recreate the game which can be very useful for recreating bugs. It also allows for easy Undo (delete the last choice made then re-run the log). In the versions of the Web App boards that I've done, I kept two logs: One human readable and one more machine readable.

They look like this:
### Human readable
Anna gains 40 MC;
Anna in

[2020-08-03 15:26] bafolts commented on #1110
If someone knows the format they want this log to be I can write the node code to provide the file download link via a game id.

[2020-08-03 15:35] bafolts commented on #1094
Isolating the code for the computer based player would be helpful. One strategy for this would be to have some code on the server running on some interval. On some time interval it goes through every running game running in memory and determines if one of the _waiting for_ is available for a computer player. It would then act on that waiting for making choices as a human would have to with those o

[2020-08-03 16:30] nwai90 commented on #1110
The ideal scenario would be that a game can be recreated (on a physical board or otherwise) by relying purely on the game logs.

One gap at the moment is that the exact locations of placed tiles are not captured in the logs yet, e.g. `Red placed a tile on (x, y) and gained 2 plants`. I will send a PR to add a basic log to capture coordinates of placed tiles.

[2020-08-03 19:30] SliceOfBread commented on #1094
@bafolts I really like the 'random action' idea for working out kinks.

Running things on an interval would probably work fine for actual play. On my previous projects, I've always used a type of genetic coding. A bot evaluates things based on weights. You randomly modify some of these weights then play the bots against each other. (With random games, like this, I play each game twice using the sa

[2020-08-03 21:25] vsrisuknimit opened #1112 "Very minor bug: Set predefined game toggle button off does not work"
Once you 'toggle on' the predefined game AND pick any seed, it does not matter if you 'toggle this option off'. You will be forced to play with the selected seed (that is now hidden) and forced to play with the defined number of players according to the seed. Need to refresh the page to go back to no-seed option.

[2020-08-04 06:38] nwai90 commented on #1107
Closed as resolved in https://github.com/bafolts/terraforming-mars/pull/1108

[2020-08-04 06:38] #1107 closed

[2020-08-04 12:04] charlielam opened #1114 "Is there any way to know what building card Factorum draw?"
as title, when a player decide to use Factorum's corp action, he reveals the top deck until he find a building card, it seems that we can only know what cards he discarded, but no way we can know what building card did he get.  Are we missing a message that show what card did he get?

[2020-08-04 12:20] nwai90 commented on #1114
@charlielam I'll take a look at this

[2020-08-04 12:42] nwai90 commented on #1114
Fixed and merged in https://github.com/bafolts/terraforming-mars/pull/1115

[2020-08-04 12:42] #1114 closed

[2020-08-04 14:14] charlielam opened #1116 "Turmoil Global Event "Revolution" counting player with Earth tag+ Influence "at least 1"?"
as title, we are having a game which one players have 1 (EarthTag + Influence), other 3 players have 0 (EarthTag + Influence), it turns out other 3 players was being reduced TR even the total of (EarthTag + Influence), as the description on the event card said (at lease 1), does it means player with 0 (EarthTag + Influence) will not reduce TR?

[2020-08-04 15:40] vincentneko commented on #1116
Looks like a bug. Just checked the code, there is no check that (EarthTag + Influence) should be greater than 0.
Will submit a PR for this.
Thanks for the feedback.

[2020-08-05 00:10] vsrisuknimit opened #1118 "Feature request: after game end, option to submit statistics to Simeon's database"
After the game end, present an option to submit the game result to Simeon's database (https://ssimeonoff.github.io/stats). @ssimeonoff

[2020-08-05 00:42] nwai90 commented on #1118
This is a nice idea! I can see it potentially being combined with social sharing as well (e.g. share game result to FB/Twitter/Telegram/Whatsapp)

[2020-08-05 08:13] ssimeonoff commented on #1118
Firebase is running out of juice, so it is better push to a new proper db.

It is really badly built - I download the whole db in the client and then do all calculations there.  My excuse is that when I built it I barely knew any frontend and had no idea about backend or databases.

Stats are fun, but if you do it now - do it properly, instead of pushing data to my dying Firebase.

[2020-08-05 08:23] vincentneko commented on #1118
We could use the same database used by the app.
The problem right now is that we do not authenticate users, so any one can use any name.
We could start this way and update once we have a proper authentication method.

I will submit a PR with a new database table along with a query to populate game results.

[2020-08-05 08:31] nwai90 commented on #1116
Fixed and merged in https://github.com/bafolts/terraforming-mars/pull/1117

[2020-08-05 08:32] #1116 closed

[2020-08-05 09:35] vsrisuknimit commented on #1118
I would not care too much about personal stats. So player names should not matter much.

I am more interested in looking at corps win rate, points, number of generations played, number of players, etc.

[2020-08-06 11:56] etiennepetit opened #1121 "TR increase when Red is ruling"
As far as I know, the 3MC cost of a TR increase when the Red party is ruling is optional, you can choose not to pay it and not get the TR while still increasing temp/oxygen/other stuff. I would suggest to add a textbox when increasing your TR while Red is ruling to ask if you're willing to pay 3MC.

Forgetting that Red is ruling and still increasing your TR is a common thing, this addition would l

[2020-08-06 12:52] chosta commented on #1095
#1122

[2020-08-06 12:56] nwai90 commented on #1121
Is there an official ruling on this? As far as I'm aware, it is mandatory for all effects have to be applied other than the famous three exceptions (gaining card resources, raising a maxed out global parameter, removing other players' resources / production): https://boardgamegeek.com/thread/2009076/article/29316424#29316424

Maybe it will be helpful to add a confirm popup to warn the player that

[2020-08-06 13:22] SliceOfBread commented on #1121
It is mandatory.
https://boardgamegeek.com/thread/2196388/article/31885882#31885882

[2020-08-06 13:36] etiennepetit commented on #1121
Wow, I'm sorry for the wrong infos.. I remember reading something in the rulebook stating that it was possible to deny the TR increase if you didn't feel like paying 3MC, I guess my memory failed me this time!

[2020-08-06 13:36] #1121 closed

[2020-08-08 01:13] Elonka opened #1125 "Feature request: Toggle "Click on player name to see details" on and off"
First, thanks for all the work on this, my group is loving it!

Right now, we can click on a player's name to see their cards/score, and then have to "X" to close out that screen. Would it be possible to make this a toggle, so click once on their name to open another player's info, and then click again on their name to close it? Thanks!

[2020-08-08 02:26] Elonka commented on #1017
As another idea of how to implement this, how about putting reduced versions of the player trays in the area to the right of the map?

Thiw would be the same as what is already at the top of each player's tableau:
* Their trays (that we already see elsewhere), with their money, resources, production, etc.
* Their tag quantities
* Their score

It would be helpful to see all players' information "at

[2020-08-08 06:43] chosta commented on #1118
We are thinking about an app that is running on a separate server to hold any kind of statisical data.
It would be an API that would allow writing and reading (and storing) of game scores. Will keep you updated on this one.

[2020-08-08 06:46] chosta commented on #1125
Yes, this one has been bugging me for a while so I guees its time has come :)

[2020-08-08 06:48] vincentneko commented on #1118
I've also added a new table to the database to store game results.

[2020-08-08 06:51] vincentneko commented on #1058
Fixed and merged

[2020-08-08 06:51] #1058 closed

[2020-08-08 06:56] vincentneko commented on #870
I'm closing this one as the bug seems not to occur again.

[2020-08-08 06:56] #870 closed

[2020-08-08 07:08] vincentneko commented on #1059
Just tested turmoil global event that add an ocean to the board, did not got bonus heat.
I'm closing this one as it is not reproductible.

[2020-08-08 07:08] #1059 closed

[2020-08-10 07:39] #1112 closed

[2020-08-10 10:31] nwai90 commented on #969
Fixed and merged in https://github.com/bafolts/terraforming-mars/pull/1070

[2020-08-10 10:31] #969 closed

[2020-08-11 02:45] mloballer opened #1127 "Strange card selecting bug on initial hand"
So I was playing a game, selected all my cards and hit save. There was an orange outline around them, so I know they were all selected. I got the error message not enough cards selected, so I thought I forgot to select a prelude or corp, but I saw that it was selected, so I decided to unselect and reselect my cards, and then I decided to change my mind and select capital ( didn't chose this one in

[2020-08-11 06:15] chosta commented on #1127
Thanks for the nice description. I'll try to recreate this.
We have to add a backend exception to not allow card duplication in the initial selection IMO anyway.

[2020-08-11 07:17] chosta opened #1130 ""Smaller cards" selection problem"
@ssimeonoff
It seems that "smaller cards" options breaks the new (and awesome) card highlighting

![smaller-cards](https://user-images.githubusercontent.com/836179/89868440-7a925880-dbbb-11ea-9ab5-b8158ac08010.png)

Also I noticed that in the initial phase the board is showing NaN for oceans.

![nan](https://user-images.githubusercontent.com/836179/89868578-b3323200-dbbb-11ea-85be-e9fea50648bf.png

[2020-08-11 07:23] chosta commented on #1130
Also, I think the yellow that we used to mark the already terraformed global parameters looked good. It gives the feeling that you've made progress. The new marker is awesome but I'd suggest we add the coloring back :)

[2020-08-11 07:46] ssimeonoff commented on #1130
ugh, yes, please remove the
`transform` property for selected cards.

[2020-08-11 08:31] chosta opened #1131 "Trade fleets design suggestion"
The unflown (during that generation) trade fleets and the ones that have already landed on the moons could have the same graphic, no reason really for them to be rockets at first, and then turn into spaceships.

(as suggested by Krivis in discord)

[2020-08-11 08:32] chosta opened #1132 "Funded awards to show winner at a glance"
it might be nice to see, without opening the Awards tab, who is winning the funded awards, because now we only get the award name, and the cube of the person who funded it. But it could just show the stat tracking bubbles (like when you open the tab) but only for the funded awards.

(as suggested by Krivis in discord)

[2020-08-11 08:35] chosta opened #1133 "Board issue during turmoil initial phase"
During the initial draft, when you open the ">Board" tab, and under the turmoil board, press the "Policies" tab, it closes the whole ">Board", but inside it remembers that you opened the policies, so you have to open board again to see them

(as suggested by Krivis in discord)

[2020-08-11 08:38] chosta opened #1134 "Rename Use solar phase suggestion"
This rule is called WGT (world government terraforming) in the rulebook, the solar phase is the colony reset and turmoil phase combined, so it might be nice to rename the "Use solar phase" toggle button in the game creation.

(as suggested by Krivis in discord)

[2020-08-11 09:57] alrusdi commented on #1132
There are possible more than one winner, and second place is also important. Too hard to fit this info in small box. Let's reject this FR?

[2020-08-11 10:45] nwai90 commented on #1132
@alrusdi I'm good with that. The full info is available when the awards tab is opened

[2020-08-11 10:46] #1132 closed

[2020-08-11 13:46] vsrisuknimit opened #1136 "Wiki: adding instruction on how to run the web app on Heroku to this repo Wiki"
Can someone add this to the wiki? https://www.notion.so/TM-web-app-on-Heroku-6e0e700d889b473c9b36f0b214f1bbca

[2020-08-11 13:57] nwai90 commented on #1136
Done at https://github.com/bafolts/terraforming-mars/wiki/Heroku-Setup. You'd need to make the objects in the S3 bucket public for the images to display correctly though

[2020-08-11 16:05] vsrisuknimit commented on #1136
How can I edit the wiki page? Here are the images but on IMGUR: https://imgur.com/a/zKJgNHO

[2020-08-11 16:10] vsrisuknimit commented on #1136
I would also like to fix line 5 on the installation part to just git clone https://github.com/bafolts/terraforming-mars.git. Remove the url link tag.

[2020-08-11 16:57] chosta commented on #1130
We can close this one

[2020-08-11 16:59] #1130 closed

[2020-08-11 19:56] Dudurandil opened #1138 "Bug? Unable to begin solo game after choosing cards"
Hi,

I can't start this game https://terraforming-mars.herokuapp.com/player?id=8692aacac00e after choosing Corporation, Preludes and starting project cards. (All expansions)

"Not your turn to take any actions" appears on screen.

Thanks for your help!

[2020-08-12 00:45] nwai90 commented on #1136
@vsrisuknimit Done, will close this

[2020-08-12 00:45] #1136 closed

[2020-08-12 06:55] chosta commented on #1138
Hi, you are correct. There seems to be a bug that does not let you play your turn. I'll try to find the problem. We get these now and then and until we fix all the problems my advice is to start over :)

[2020-08-12 07:49] Dudurandil commented on #1138
Oh I see, I'll apply your advice :) Thanks again!

[2020-08-12 08:11] vincentneko commented on #1138
Looks like a bug related with prelude, as the game should prompt prelude cards to play.
Do you remember the preludes you had chosen ?

[2020-08-12 08:16] vincentneko commented on #1138
@bafolts do you have a way to get the game_id linked with player_id 8692aacac00e ?
Having the game id would enable to replay this game and investigate more.

[2020-08-12 10:14] vsrisuknimit opened #1139 "Feature request: handicap system"
As an advanced option, I think it will be nice to have a handicap system. The simplest method of handicap that I saw around on the forums is giving new players extra TR at the beginning of the game. This way you can still have fun and challenging (and short) games with new players.

1. Under Options: a toggle for handicap system
2. When that choice is picked, under player name, next to [ ] Beginne

[2020-08-12 10:14] vsrisuknimit opened #1140 "Feature request: handicap system"
As an advanced option, I think it will be nice to have a handicap system. The simplest method of handicap that I saw around on the forums is giving new players extra TR at the beginning of the game. This way you can still have fun and challenging (and short) games with new players.

1. Under Options: a toggle for handicap system
2. When that choice is picked, under player name, next to [ ] Beginne

[2020-08-12 10:39] nwai90 commented on #1140
@vsrisuknimit Is this a duplicate of #1139 ?

[2020-08-12 10:44] vsrisuknimit commented on #1140
Yes. Sorry. Double summited somehow.

On Wed, Aug 12, 2020, 06:40 nwai90 <notifications@github.com> wrote:

[2020-08-12 10:47] Dudurandil commented on #1138
If I remember well, I chose Huge Asteroid and Self-sufficient Settlement

[2020-08-12 11:21] #1140 closed

[2020-08-12 14:05] chosta commented on #1134
#1141

[2020-08-12 16:43] Chosrau opened #1142 "Bug? Aridor Colony breaks End-of-Turn Calculations"
In game https://terraforming-mars.herokuapp.com/player?id=44467552d86e

Upon all players passing, game wouldn't properly proceed to next generation. Production Phase did happen. Turmoil Phase did not happen. All Colony tracks before the Aridor Colony would advanace in track, but the Aridor Colony and everyone after it the track would stay the same. Card Phase did not happen.

Game then resumed but

[2020-08-12 20:42] KrivisLTU opened #1143 "Titan Shuttles redundant choices"
Titan shuttles asks you, if you want to generate floaters, even when there are no floaters on it, and it's the only action available. Also - it asks where you want to put them, even if it itself is the only valid location.

[2020-08-12 21:15] FreeLikeGNU commented on #983
I would like to see some hint of the cards type color (blue, green, etc) only in the cards title box to inform the player of the type of card easily.

[2020-08-12 21:19] KrivisLTU opened #1144 "Turmoil Reds party policy terraforming bug"
I increased temperature by paying 8 heat, and the Reds party policy took me to negative MC:

![image](https://user-images.githubusercontent.com/69604652/90069172-97817580-dcfa-11ea-9f4d-fdd24f71e9c6.png)

[2020-08-12 23:51] vsrisuknimit commented on #1144
Another bug to add to Reds. I had 16 mc left and Black Polar Dust. The app does not allow me to play this card while the Reds is ruling, thinking that I don't have enough mc to pay. However, that 3mc loss is an effect, which I must be able to resolve and I can resolve at any time, including after putting the ocean (from Black Polar Dust) next to other oceans to gain the extra mc for payment.

Sour

[2020-08-12 23:52] vsrisuknimit commented on #1144
The resource dashboard does not show up on screen capture, sorry.

[2020-08-13 07:45] nwai90 commented on #1144
Fixed and merged in https://github.com/bafolts/terraforming-mars/pull/1145. Also fixed same issue that occurs when spending 7/8 plants to place a Greenery that raises oxygen.

[2020-08-13 07:45] #1144 closed

[2020-08-13 07:50] nwai90 commented on #1144
@vsrisuknimit The issue you raised is related to https://github.com/bafolts/terraforming-mars/issues/931.

We'd need to implement a way to check total MC gained from each possible tile placement and decide whether the spot is valid or not. This will be more complicated though

[2020-08-13 07:50] nwai90 commented on #926
Closed as resolved in https://github.com/bafolts/terraforming-mars/pull/1123

[2020-08-13 07:50] #926 closed

[2020-08-13 08:06] duckmammal opened #1147 "UI suggestion: Add "MAX" option next to all increment box options"
There are so many times throughout the game you need to use tiny arrows and click lots of times to remove a bunch of cubes because you're not sure how many are on a card, like Titan Shuttles, or Sulfur Eating Bacteria.

Or Philares getting resources for placing next to someone.

Whatever the option is, having a max button, to make the number go as high as possible (but still be able to be adjusted

[2020-08-13 08:08] duckmammal opened #1148 "Luna Governor Interactions"
Earth Office (and probably Terractor too) should have 2x 3 MC = 6 MC total discount for Luna Governor, making it be free, not 1 MC.

[2020-08-13 08:13] duckmammal opened #1149 "Cutting Edge Technology + Vote of No Confidence Interaction"
Vote of No Confidence has a 2 Party Leader requirement, but it isn't discounted by Cutting Edge Technology for some reason. Maybe because the Vote of No Confidence requirement wasn't put in a special box?

[2020-08-13 08:16] duckmammal opened #1150 "Mons Insurance Bug"
When a player "attacks" their own resources (e.g. Ants my own Tardigrades or Predators my own Martian Zoo) it shouldn't trigger a Mons Insurance Payout.

[2020-08-13 08:22] vincentneko commented on #1148
Effect: When playing an Earth **card**, you pay 3 MC less for it

It's not per badge, it's per card, so it is working as expected.

[2020-08-13 08:22] #1148 closed

[2020-08-13 08:31] nwai90 commented on #1148
@vincentneko I saw that the designer gave a thumbs up to agree that Teractor and Earth Office should give discount per Earth tag here: https://boardgamegeek.com/thread/2173302/article/31568994#31568994

It's also discussed in a few other threads like this one: https://boardgamegeek.com/thread/2070625/two-tags-and-discounts

This was a non-issue before Luna Governor was released; it seems that the

[2020-08-13 09:33] vsrisuknimit commented on #1144
@nwai90 should I open my issue separately? I have suggestions to make as well.

[2020-08-13 09:34] nwai90 commented on #1144
@vsrisuknimit Sure, let's do that. It is quite different from Manutech's edge case IMO and should be handled as a separate issue

[2020-08-13 09:45] nwai90 commented on #1149
Fixed and merged

[2020-08-13 09:45] #1149 closed

[2020-08-13 09:45] vsrisuknimit opened #1152 "Red Policy Bug: cannot play card if no mc left to pay Reds policy despite placement bonus"
**Bug**: The app does not allow you to play a card if you are left with too little mc to pay the Reds policy -3mc/TR, even though you could potentially get some mc back from tile placement next to oceans.

**Example scenarios**:

(1)start with 16 mc, play a card Black Polar Dust costing 15 mc, 1 mc left, place ocean next to another ocean, gain a TR, gain 2 mc back, now has 3 mc left, pay 3mc to th

[2020-08-13 09:50] nwai90 opened #1153 "Search for Life improvements"
- Iconography should be "3:science", not "3/science" as it is always 3 VP regardless of number of resources
- Move SearchForLife action to end of list if it already has at least 1 science resource

[2020-08-13 09:51] vsrisuknimit commented on #1153
![image](https://user-images.githubusercontent.com/14239220/90120702-0b3a7700-dd29-11ea-868b-a993c306dce6.png)

[2020-08-13 10:03] nwai90 commented on #1152
One other possible approach is to precompute the MC gain from each tile placement spot, and use this info to decide (1) whether a card is playable / whether an action can be performed, and (2) filter out the spots that don't meet the criteria.

So a card could be playable but only have one or two valid placement spot that give sufficient bonus MC from adjacent oceans to cover any required cost/tax

[2020-08-13 10:10] vsrisuknimit commented on #1152
@nwai90 Things to consider with your solution:
(1) For Giant Ice Asteroid or Ice Asteroid: will you precompute all possible combos for the two ocean placement?
(2) On Hellas map, Helion could gain heat (near south pole or center ocean) from tile placement and also use that as mc to pay back the Reds.

[2020-08-13 10:34] chosta commented on #1153
I'm on it

[2020-08-13 21:58] vsrisuknimit opened #1155 "Enhancement: colony trade log order"
Currently the game log reads from top (oldest) to bottom (newest).

When you trade with a colony however, you get the result of the trade and then the fact that you trade with the colony.

Example:
![image](https://user-images.githubusercontent.com/14239220/90191273-88e49e00-dd8e-11ea-8dd2-7ef729a3ae1f.png)

If possible, it would be more readable to show:
A traded with Pluto
A drew 2 card(s)

[2020-08-13 23:43] vsrisuknimit opened #1156 "Bug: Pharmacy Union triggers Splice once"
I believe Pharmacy Union which has two microbe tags only trigger Splice just once giving only 2 mc to Splice, instead of 4 mc.

[2020-08-14 07:53] nwai90 commented on #1150
Fixed and merged in https://github.com/bafolts/terraforming-mars/pull/1157

[2020-08-14 07:53] #1150 closed

[2020-08-14 10:00] HubrisW opened #1158 "(Minor) Incorrect implementation of rules regarding Mons Insurance"
Mons Insurance ability triggers when a player "steals" his own resources, for example by using Ants on his own microbes or Predators on his own animals. In other words: moving around your own microbes nets you 3MC from the Mons Insurance player. Witnessed in a game on our own server, if necessary logging can be provided.

The wording for Mons Insurance is a bit ambiguous, so I asked the maker of T

[2020-08-14 10:40] nwai90 commented on #1158
@HubrisW This has been raised in https://github.com/bafolts/terraforming-mars/issues/1150 and patched in the recent commit https://github.com/bafolts/terraforming-mars/commit/1b8ba1ce723341d5e94a274d11c5b383d186dbd7. Could you pull the latest version?

[2020-08-14 10:42] HubrisW commented on #1158
Ah very sorry, I thought I looked thoroughly, but it seems I still overlooked #1150. We will pull the latest version.

Thanks for the quick response.

[2020-08-14 10:51] nwai90 commented on #1158
👍 Will close this issue

[2020-08-14 10:51] #1158 closed

[2020-08-14 20:39] duckmammal opened #1161 "Luna Governor Interactions"
Bringing back up the issues from #1148 because the ticket was closed before being considered.

Earth Office (and probably Terractor too) should have 2x 3 MC = 6 MC total discount for Luna Governor, making it be free, not 1 MC.

As @nwai90 points out in a reply https://github.com/bafolts/terraforming-mars/issues/1148#issuecomment-673341445

Having seen these rulings before, and agreeing with @nwai9

[2020-08-14 20:43] duckmammal opened #1162 "Add Event Log to Solo Mode"
I'm sort of confused as to why you can't see the event log in Solo Mode.

There are many times when you, e.g., look at the top cards of the deck until you see a card of type X, and knowing which cards are out of the game is often important.

Is there a reason it's not in the solo game?

[2020-08-14 21:03] duckmammal opened #1163 "Confirm Button for Standard Power Plant has no text"
It's a Purple button that works, but has no text on it.

It's a bit confusing.

[2020-08-15 06:38] chosta commented on #1163
I couldn't recreate this.
Tried it in solo and multiplayer. It would be great if you can be more specific as how it happened.

[2020-08-15 06:41] chosta commented on #1162
You are correct. It is sometimes important to see which cards got discarded and by not having the log its impossible to know.
@vincentneko Do you think an option in start screen to toggle log for solo-mode is appropriate? We can organize the start game options a bit better by grouping them. @ssimeonoff ideas?

[2020-08-15 06:56] vincentneko commented on #1162
An option in game preference panel should be better imho.

[2020-08-15 07:06] chosta commented on #1162
Yes, that would do it. I'll see if I can add this.

[2020-08-15 07:40] chosta commented on #1156
You are correct. It did trigger only once

[2020-08-15 08:20] vincentneko commented on #1134
@chosta thanks for fixing this !

[2020-08-15 08:20] #1134 closed

[2020-08-15 15:58] nwai90 commented on #1143
Resolved in https://github.com/bafolts/terraforming-mars/pull/1165

[2020-08-15 15:58] #1143 closed

[2020-08-15 16:35] SliceOfBread commented on #1163
I had this happen. Forgot to submit. Here's a pic. (This was in solo.)
![image](https://user-images.githubusercontent.com/13003705/90316936-c57dda00-def3-11ea-8036-9f7deeae498f.png)

[2020-08-16 03:10] nwai90 commented on #1163
Resolved in https://github.com/bafolts/terraforming-mars/pull/1169

[2020-08-16 03:10] #1163 closed

[2020-08-16 13:33] nwai90 opened #1170 "Wrong button label when there is only one milestone available for claim"
It should probably show "Claim a milestone" here

<img width="613" alt="Screenshot 2020-08-16 at 8 30 40 PM" src="https://user-images.githubusercontent.com/2408094/90335493-fb13e780-e007-11ea-89c1-7b18b3b1e1f6.png">

[2020-08-16 14:32] nwai90 commented on #1170
Resolved in https://github.com/bafolts/terraforming-mars/pull/1171

[2020-08-16 14:32] #1170 closed

[2020-08-16 14:33] nwai90 commented on #1161
Resolved in https://github.com/bafolts/terraforming-mars/pull/1164

[2020-08-16 14:33] #1161 closed

[2020-08-16 16:21] chosta commented on #1095
@vincentneko I think we can close this one

[2020-08-16 16:26] KrivisLTU opened #1172 "Atmoscoop bug"
During a game today, when I played Atmoscoop, I wasn't prompted the selection between temperature and Venus, and instead temperature was raised instantly. Don't know if it is easily recreatable, as the selection button might have just been bugged and triggered twice.

[2020-08-16 16:27] KrivisLTU opened #1173 "Great dam discrepancy"
Playing Great Dam displays it in the 'Last Actions' section as 'Great Dam Promo'.

[2020-08-16 16:59] vsrisuknimit commented on #1095
either Mars U or Pluto, don't remember which one, still says save at the button instead of discard. I will try to verify.

[2020-08-16 18:51] duckmammal commented on #1172
I've had this happen a number of times too. I came to question my sanity, because it's not reproducible for me.

I kept wondering if I somehow double-clicked the confirm button, and then it took the second confirmation and applied it to the next screen.

[2020-08-17 00:16] nwai90 commented on #1172
This happens when one of the parameters is maxed out. Atmoscoop will automatically raise the other parameter two steps.

[2020-08-17 06:12] duckmammal commented on #1172
But it was not the case that one of the parameters was maxed. I would not be interested in raising a maxed param.

[2020-08-17 06:31] KrivisLTU commented on #1172
Same with me, Venus was at 6%, and temp was at around ~-10°C. But once again, maybe it just lagged and double clicked for us

[2020-08-17 06:38] vincentneko commented on #1172
Just checked the code.
The `play()` method uses `return game.increaseTemperature(player,2);` or `return game.increaseVenusScaleLevel(player,2);`
It should do
[code]

or
[code]
As it is difficult to reproduce I'm not sure if this will solve the issue, but worth to try imho.

[2020-08-17 07:04] vincentneko commented on #1131
Fixed

[2020-08-17 07:04] #1131 closed

[2020-08-17 07:12] vincentneko commented on #1095
Yes, this will be fixed in an incoming MR, I'm closing this one.
@chosta Great addition to the game !

[2020-08-17 07:12] #1095 closed

[2020-08-17 07:32] #1155 closed

[2020-08-17 07:35] vincentneko commented on #1173
Great Dam now have 2 versions, do you have another idea on how to distinguish them ?

[2020-08-17 07:49] nwai90 commented on #1173
@KrivisLTU I recall that making both the same name caused some issues

[2020-08-17 08:00] KrivisLTU commented on #1173
good point, didn't even realize there were two cards with the same name.

[2020-08-17 08:01] #1173 closed

[2020-08-17 08:01] KrivisLTU opened #1177 "Funded award UI improvement"
@chosta

![mockup](https://user-images.githubusercontent.com/69604652/90372381-00f5e100-e079-11ea-90f5-dde9cbeafb75.png)

[2020-08-17 08:54] #903 closed

[2020-08-17 09:10] alrusdi opened #1178 "Wrong execution order of standard project"
The event onStandardProject happens before the end of standard project (if it has interrupts).
For example with the StandardTechnology in play it adds 3MC before the tile placement

[2020-08-17 10:05] duckmammal opened #1179 "GMO Contract + Pharmacy Union ordering issue"
When a PU plays a card with a microbe on it, They often times try to make themselves poor first so they don't have to pay the 4 MC fee.

With a GMO Contract in play, they should be able to get 2 MC after losing 4 MC.

It's always better to lose all the money first before gaining any money back if PU is playing a science tag.

[2020-08-17 11:46] vincentneko commented on #1156
Fixed by @chosta

[2020-08-17 11:46] #1156 closed

[2020-08-17 12:05] vincentneko commented on #1172
If someone knows how to reproduce the bug, please let us know.

[2020-08-17 16:30] SliceOfBread commented on #1178
At least this example is not wrong. The 3MC refund is an effect an effects can be done in any order. There are some corporations (like Mons Insurance) that can make it difficult to decide which order to apply effects.

[2020-08-18 05:04] nwai90 commented on #1178
If I'm reading it correctly, this scenario should be valid since effects can be applied in any order:

- Player has Standard Tech and 28 MC (as an example)
- Player wants to do SP city on Hellas South pole spot
- The 3 MC rebate from Standard Tech should be received right after player has paid for the SP
- Player can use the rebate to pay the required 6 MC for bonus ocean (?)

Are there situations

[2020-08-18 06:52] vincentneko commented on #1178
@nwai90 I think you are right. As long as the SP is paid first, I don't see any problem.
The issue is with Helion, if you have some heat, the SP is paid through an interrupt and therefore is resolved after the 3 MC cashback. This would allow to use MC instead of Heat.
Not sure how we can fix this in a simple way...

[2020-08-18 07:23] nwai90 commented on #1178
@vincentneko I see, let's think about possible solutions first. Adding custom logic to check specifically for Helion and Standard Tech combination is doable, but too hackish IMO.

The same problem might arise with some other cards as well (e.g. Rover Construction)

[2020-08-18 08:20] chosta commented on #1153
@nwai90 we can close this one I think

[2020-08-18 08:21] #1153 closed

[2020-08-18 08:35] chosta commented on #1177
@pierrehilbert lets try assignment again :)

[2020-08-18 09:41] nwai90 commented on #1139
Fixed and merged

[2020-08-18 09:41] #1139 closed

[2020-08-18 10:17] vsrisuknimit opened #1185 "Bug: aquifer pumping payment"
Currently aquifer pumping as first where you want to put the ocean, place the ocean, give the player the rebate, and then ask to pay.

I believe the payment part of the action (left of red arrow) must come first. In this case, you cannot use the ocean rebate bonus to pay for the cost of playing the ocean itself down.

[2020-08-18 10:23] nwai90 commented on #1185
@vsrisuknimit Is this similar to the issue raised in https://github.com/bafolts/terraforming-mars/issues/1178?

For Aquifer Pumping action, we currently check if the player can afford to pay 8 MC using MC and steel. If the player cannot afford this cost, the action will not be available.

There is a minor exploit possible here in that the player might be able to afford using both steel and MC (e.g

[2020-08-18 11:41] vsrisuknimit commented on #1185
@nwai90 I think it might be related to #1178.

Any reason we don't ask the player to pay first before ocean placement? Does that interfere with anything?

[2020-08-18 12:01] vincentneko commented on #1185
This is due to interrupt mechanism. We can switch the order (pay first then place ocean), will submit a PR for this.
Same for Water Import From Europa.

If you think about other cases please let me know.

[2020-08-18 12:14] vincentneko commented on #1185
This one is not related to #1178
#1178 occurs when interrupt events and non-interrupts events are triggered at the same time.

[2020-08-18 13:10] SliceOfBread commented on #1178
This is like #1046 . Here is what I wrote there:
"My suggestion is to add an option to allow the order to be selected by the player. In cases where the player does not care, it could work as it does now. When it does matter they would manually have to apply the effects (click this effect, click that effect, etc.)."

I am not familiar enough with all the code to know how much effort this is but I e

[2020-08-18 13:22] duckmammal commented on #1172
It happened in this Solo game in Gen 10. I can't figure out the circumstances for why it happened though. Maybe because it was going to get me an ocean if I took it as 2 Temperature increases?

[2020-08-18 14:24] vincentneko commented on #1185
Fixed

[2020-08-18 14:24] #1185 closed

[2020-08-20 00:54] vsrisuknimit opened #1190 "Bug: Reds Ruling prevents greenery placement without TR"
Scenario: A player has 23 mc on the last generation. Oxygen is already maxed out. Reds is ruling. He wants to do a standard project greenery which will not give him TR. The game prevents him from doing so.

[2020-08-20 09:10] nwai90 commented on #1190
Resolved in https://github.com/bafolts/terraforming-mars/pull/1191

[2020-08-20 09:10] #1190 closed

[2020-08-20 13:37] vsrisuknimit opened #1192 "Enhancement: spectator link"
Upon game creation, in addition to making each link for each player. Create another link for spectators to watch the game. Spectators cannot see cards in any player's hand but can see everything else. Spectators cannot take any action.

[2020-08-21 16:47] jijiqw opened #1195 "Bug: red policy"
![image](https://user-images.githubusercontent.com/16096558/90914469-8f1eee00-e410-11ea-89da-cadcee63f1c8.png)

![image](https://user-images.githubusercontent.com/16096558/90914460-86c6b300-e410-11ea-890d-bf91e47b0476.png)

![image](https://user-images.githubusercontent.com/16096558/90914488-96de9280-e410-11ea-94ea-c075eb2bacca.png)

![image](https://user-images.githubusercontent.com/16096558/9091

[2020-08-22 14:55] alrusdi opened #1197 "Black list for some cards on game creation form"
What about possibility to ban some cards from the game?

I see it like suggest input box. When user starts to type the text into that input box application is showing max 10 cards matching input by name. If user clicks some of the suggestions it is displayed under that input box (can be removed then). After click by "Create Game" application creates new game as usual but cards from black list are

[2020-08-23 08:57] jijiqw opened #1200 "Bug:Turmoil parties place"
It seems that the Kelvinists and the Greens  switch places

[2020-08-24 00:17] vsrisuknimit commented on #630
Not sure if we can reopen the issue. Trade Envoy and Trading Colony should offer an option when trading with Europa colony. There are some situations where getting energy production is preferable to getting plant production.

[2020-08-24 07:06] vincentneko commented on #1172
Should be fixed now

[2020-08-24 07:06] #1172 closed

[2020-08-24 11:12] vsrisuknimit opened #1205 "Documentation: A more comprehensive guide on setting up and hosting."
Right now the information about how to set up and host are a bit scattered here and there:

- https://github.com/bafolts/terraforming-mars/blob/master/README.md
- https://docs.google.com/document/d/1r4GlqA6DkrSAtR6MMYmX_nmh6o4igVTqDUUETiJYGt8/edit?usp=sharing
- https://docs.google.com/document/d/1y-QnffzkQtpasBkDAFQwBoqhLmUpVTzRPybtvmbktDQ/edit?usp=sharing
- https://drive.google.com/file/d/14hOxxL

[2020-08-24 12:21] ssimeonoff opened #1207 "UX: Combine all info from all players into a single table"
These are many UX changes into one suggestion.

All player's info to look like:
![red](https://user-images.githubusercontent.com/6917565/91042698-7f6ef780-e612-11ea-95d8-e2946ebf522b.png)

Current vs Suggested:
![boards](https://user-images.githubusercontent.com/6917565/91042427-02438280-e612-11ea-86c9-d82f20cd300a.png)

## Idea
All player's information to be on a single row (current player row is

[2020-08-24 12:50] vincentneko commented on #1207
This is wonderful !

[2020-08-24 12:52] chosta commented on #1207
Wunderbar!

[2020-08-24 15:10] markanarmi opened #1208 "Removing Negative (or any) Global Events"
Can we get an option to turn off negative global events? I conjecture that it it would fix Turmoil and maybe even eliminate the need for WGT and excluding Turmoil

[2020-08-24 17:37] alrusdi commented on #1207
Lovely! But we probably need to keep the current player resources bar sticked to the top of the window. It helps very much to make decisions when playing cards.

[2020-08-25 10:05] jijiqw commented on #1207
Cool! wow

[2020-08-25 21:02] kyshantry commented on #877
In my opinion the best way is 5 cards left, 5 cards right, 2 preludes left, turn 2 (first turn with drafting) pass right.

We've starting to come around to having an auction (really this is @duckmammal 's innovation).

Assuming a 4 player game:

4 packs of 2 corps are revealed with a seat order assigned to them. Players each make a single bid. The bids are resolved from highest, with the highest b

[2020-08-26 01:10] duckmammal commented on #877
@kyshantry I laid it all out in #937

[2020-08-26 03:01] kyshantry commented on #877
Cool, they had asked me to lay out how we drafted so I included your
innovations on bidding too, unaware you had done a better job than I did
elsewhere!

On Tue, Aug 25, 2020, 6:10 PM duckmammal <notifications@github.com> wrote:

[2020-08-26 08:35] chosta commented on #1208
I don't see a problem with that as an option.

[2020-08-26 08:38] pierrehilbert commented on #1200
@jijiqw : It's fixed, you can close the issue.

[2020-08-26 08:44] jijiqw commented on #1200
thanks

[2020-08-26 08:44] #1200 closed

[2020-08-26 08:50] vincentneko commented on #1195
Fixed and merged

[2020-08-26 08:50] #1195 closed

[2020-08-26 08:55] vsrisuknimit commented on #877
@kyshantry sorry. I read @duckmammal drafting format previously. When you were explaining to me, it does sound very familiar. I did not connect the dot you were in the same home team.

[2020-08-26 11:31] vsrisuknimit opened #1211 "Bug: Trade Envoy and Trading Colony needs option for Europa"
In certain situation, energy production is preferable to plant production. For example, someone might need energy production to claim generalist or to trade in future turns.

This issue was previously closed without resolution here: https://github.com/bafolts/terraforming-mars/issues/630

[2020-08-26 15:14] pierrehilbert commented on #1138
If no one reproduce the problem, I propose that we are closing this issue

[2020-08-26 17:31] bafolts opened #1214 "Potential bug with Pristar corporation"
I received an email from a player with a potential bug

[2020-08-27 02:23] liupeiqiangmoss commented on #877
I think it is a good idea to add the corps and the preludes to initial hand drafting ，It wound be better to join two company type.

[2020-08-27 06:11] vincentneko commented on #1138
It may be correlated with server restart. Let's close it if it's not reproducible.

[2020-08-27 06:11] #1138 closed

[2020-08-27 06:23] vincentneko commented on #1211
Thanks @nwai90 for fixing. Merged.

[2020-08-27 06:23] #1211 closed

[2020-08-27 23:24] vsrisuknimit opened #1220 "Feature request: Fast mode - remove option to end turn."
Fast mode: remove the option to end turn. Players now must take two action, one action and pass for the generation, or just pass. (The player will have to sell a card for one action if they want to stay in for longer.)

Suggested by Kyshantry.

[2020-08-28 01:26] markanarmi commented on #1220
I like it as an option. I like all the options!

[2020-08-28 06:02] chosta commented on #1220
I like it too. It takes away the original rule but adds a strategical element as you might want to increase your free actions count if you want to be the last to act.

[2020-08-28 06:54] vincentneko commented on #1220
Done and merged.

[2020-08-28 06:54] #1220 closed

[2020-08-28 08:29] ssimeonoff opened #1222 "Feature: Backlog of actions to be divided into tabs"
- first tab is preselected and shows all (as now)
- one tab per player (left-to-right order -last tab is current player) showing only that player backlog
- optional: show icons into the tabs (play/arrow button for currently playing player, X for passed players, "1" for first player in this gen)

![backlog](https://user-images.githubusercontent.com/6917565/91539253-5489e980-e919-11ea-8534-533829bb0

[2020-08-28 13:36] pierrehilbert commented on #524
@ssimeonoff : is this issue still relevant or could we close it?

[2020-08-28 13:37] #407 closed

[2020-08-28 20:08] vsrisuknimit opened #1224 "Minor feature request: an option to cancel trade with colonies"
Currently once you pay for the trade (mc, energy, or titanium), the game offer you choices of which colonies to trade but with no way to back out. Occasionally users realize too late that their desired colonies have been traded and want to back out of trading.

![image](https://user-images.githubusercontent.com/14239220/91611087-6d5dc380-e948-11ea-839e-b8e720c774d7.png)

[2020-08-28 23:56] vsrisuknimit opened #1225 "Minor feature request: hire raiders and sabotage showing how much resource to remove"
Hire raiders and sabotage should, once a target is selected, show how many resources of that type can be removed. This is to prevent people from accidentally sabotaging titanium of someone who had none, for example.

[2020-08-29 14:18] SliceOfBread opened #1226 "Templates no longer in menu"
The individual templates are no longer showing in the menu

[2020-08-29 14:18] SliceOfBread commented on #1226
Sorry opened by mistake

[2020-08-29 14:18] #1226 closed

[2020-08-30 00:31] vsrisuknimit opened #1228 "Bug: Volcanic site labels missing"
The label for Volcanic sites are missing.

![image](https://user-images.githubusercontent.com/14239220/91648492-98bedc00-ea36-11ea-870d-bdd1ae64085b.png)

[2020-08-30 04:34] vincentneko commented on #1228
Fixed by @nwai90

[2020-08-30 04:34] #1228 closed

[2020-08-30 04:44] vincentneko opened #1231 "Discord integration"
Add an option to send players links through Discord. Player names must match Discord names.
Enabling the option will reveal 2 fields : Discord name and verification code.

Verification code is something to setup with your account on Discord to be sure it's you that created this game.

And the Discord message sent will be
" Discord name created a game, here is your link ...."

[2020-08-30 07:10] vincentneko commented on #1231
After some research, sending direct messages to Discord with a bot is not possible.

[2020-08-30 07:10] #1231 closed

[2020-08-30 09:14] nwai90 commented on #1225
Fixed and merged

[2020-08-30 09:14] #1225 closed

[2020-08-30 15:51] vsrisuknimit opened #1232 "Feature request: side bar short cut for colonies"
I propose adding a short cut to move the page to colonies. The shortcut can be between cards shortcut and option setting. The image of the shortcut can be a rocket or shuttle that we already have colony trading.

![image](https://user-images.githubusercontent.com/14239220/91663464-f430ae80-eab6-11ea-83b0-7d11b48f5ec7.png)

[2020-08-30 17:05] ssimeonoff opened #1233 "UX: Backlog rework"
## Thoughts
Backlog is the center piece of the game.
It should be in view as much as possible and close to the rest of the players' info.

## Main Suggestion
![backlog](https://user-images.githubusercontent.com/6917565/91664907-7b4f4800-eaf2-11ea-8104-7afde777e75d.png)
Related to #1207.

- Place the Backlog above the Current player board

## Other features & changes

- When a card preview is opene

[2020-08-30 17:26] chosta commented on #1233
I like it! ...But when I see an interface like that I usually try to understand what it does without the explanations. The only thing that kind of confused me was the colored checkboxes that toggle the players logs. A checkbox as UI should do the work but maybe we can position them differently and make them 50% smaller. I presume people would rarely filter by player so it does not have to take tha

[2020-08-30 17:32] ssimeonoff commented on #1233
maybe skip the filtering all together?

[2020-08-30 17:34] chosta commented on #1233
I think there's some value in it but we can definitely do without. Lets see what others have to say about it.

[2020-08-30 21:15] Maelstrom1 opened #1234 "Bug with cards that remove other players' production"
When someone plays a card that decreases another player's production by a set amount and no one has that production, it reduces that person's production. No option is given to not decrease a player's production, which is allowed by the rules, and simply allowing this would solve the issue. Some screencaps of the offending logs:
https://i.imgur.com/sibUL66.png
https://i.fiery.me/6bxSn.jpg

[2020-08-31 00:26] nwai90 commented on #1234
@Maelstrom1 This is not correct. Production decreases are mandatory; in this case if your opponents don't have it you must target yourself. See the following:

https://boardgamegeek.com/thread/1665700/production-reduction-another-player-red-border-squ
https://boardgamegeek.com/thread/2152809/remove-production-any-player-optional
https://boardgamegeek.com/thread/1802890/great-escarpment-consortium-

[2020-08-31 00:51] Maelstrom1 commented on #1234
aaaaaaaaaaaaaaaaaaaaa I could have sworn it said "may decrease"
How did I miss this in 50+ games of TFM?

[2020-08-31 00:51] #1234 closed

[2020-08-31 03:17] jijiqw commented on #1233
What 's more than one  card preview  displayed

[2020-08-31 03:26] jijiqw commented on #1233
"player names are plain text without background colour" :   what if one log contains two players's name , e.g. Red decrease Yellow 's energy prod

[2020-08-31 03:41] nwai90 commented on #1233
Filtering is a nice to have, but not essential imo. Would suggest to add it in a later iteration. Agree with @chosta about intuitiveness. This is one of several possibilities that would make it clearer:

![91664907-7b4f4800-eaf2-11ea-8104-7afde777e75d](https://user-images.githubusercontent.com/2408094/91680691-9d8ea780-eb7e-11ea-8191-63b3fd986e76.png)

[2020-08-31 07:17] ssimeonoff commented on #524
1. is done , 2. is not but the ticket can be closet

[2020-08-31 09:38] #524 closed

[2020-08-31 13:30] nwai90 opened #1239 "Start values for oxygen and temperature not highlighted"
Minor CSS issue: Only Venus start value is highlighted on initial card selection screen

<img width="709" alt="Screenshot 2020-08-31 at 9 26 34 PM" src="https://user-images.githubusercontent.com/2408094/91725274-1585bd80-ebd1-11ea-9c2e-7ce70240c290.png">

[2020-08-31 13:48] andylatto commented on #1207
This looks great! I see that there is some way to show or hide other players' played cards, since the image has a "green's played cards", with an x to remove it. Once it's removed, how do you bring it back? It used to be done by clicking greens' box in the turn order row, but the turn order row is now gone. If the answer is that clicking a player's summary row shows their played cards, there shoul

[2020-08-31 14:19] chosta commented on #1207
@andylatto I am currently working on a solution on what you mentioned. There are a couple of versions I'm testing for UI elements that might be used to prompt a player to click and view the cards of any other player.

[2020-08-31 15:56] ssimeonoff commented on #1232
colonies should be reworked so you dont have to scroll to the bottom at all

[2020-08-31 16:22] vsrisuknimit commented on #1232
Disagree. I prefer that it is not hidden and requiring a click to get there.

[2020-08-31 19:28] B0Bftl opened #1240 "Confirm Tile Placements"
When Placing a Tile, a click or tap on the Map instantly places the Tile. In Combination with the automatic selection of "Place Greenery" if you have sufficient plants, this is a constant source for misclicks. Happened to me multiple Times :(

It would be a lot user friendlier, if you had to confirm your Placement. It would also be more consistent with other actions, as you have to confirm everyth

[2020-09-01 06:37] vincentneko commented on #1224
Fixed with rework

[2020-09-01 06:37] #1224 closed

[2020-09-01 06:45] alrusdi commented on #1240
If someone will do this - please make it optional (via Preferences). It can slowdown the game.

[2020-09-01 13:24] vsrisuknimit opened #1245 "Minor feature request: fast mode indicator."
On the side bar, perhaps below TM icon and the player color, show a fast forward symbol ⏩ or something similar to show that the fast mode is turned on.

![image](https://user-images.githubusercontent.com/14239220/91856532-afcb1d00-ec34-11ea-9c5b-95bd55587e97.png)

[2020-09-01 16:41] vsrisuknimit opened #1246 "Feature request: Improve trading with colony action"
As @ssimeonoff suggested
![image](https://user-images.githubusercontent.com/14239220/91881959-4b1dbb80-ec50-11ea-9c96-812f02133127.png)

- reorder the trade options by popularity (an old suggestion) energy > tit > mc
- replace colonies text with the actual colony cards
- colony cards are selectable as the other cards

The priority should be the reordering of the trade option first. Replacing the c

[2020-09-01 17:00] markanarmi commented on #1246
Very nice

[2020-09-01 18:23] vsrisuknimit opened #1248 "Major bug: board suddenly changes mid game."
Today I saw two games where the board suddenly changed in the middle of a match.

In one game: it changed from Elysium to Tharsis. This change happened during a server update.
In another game: it changed from one randomly tiled board to another randomly tiled board.

[2020-09-01 20:04] vincentneko commented on #1248
I think it's related with a rework of game options pushed yesterday. I will look into it tomorrow.

[2020-09-01 22:39] leggupdown commented on #1248
This happened to me as well in two games before I gave up. I was playing solo and it happened when I went to place oceans in both cases, 4th and 7th gen.  The vocanic labels stayed the same but in both cases the board switched from Elysium to Tharsis.

[2020-09-01 22:59] bafolts commented on #1248
May be worthwhile rolling back https://github.com/bafolts/terraforming-mars/pull/1223 for time being.

[2020-09-01 23:23] bafolts commented on #1248
I have reverted the game options change hoping that this resolves the issue for time being. I don't believe the game options change was serializing data for the database. An undo operation or load of game from database would most likely have caused a game to go to default state when no game options were found.

[2020-09-01 23:31] bafolts commented on #1248
I believe this is resolved for time being. @vincentneko will have to consider storing the game options to database. With the game options change rolled back I can no longer recreate this issue easily. Was easy to recreate this by creating a game with any board besides tharsis and the undo action enabled. Upon performing one undo the board would then go to tharsis the default board.

[2020-09-01 23:31] #1248 closed

[2020-09-01 23:32] bafolts commented on #1248
Games which were played and saves state with this bug are most likely a loss.

[2020-09-02 07:17] duckmammal commented on #1233
I dislike how there is no brown background for the production zone
![image](https://user-images.githubusercontent.com/4755233/91943503-8d2b1980-ecb1-11ea-8a34-8716f0e67d94.png)

It'd be nice to have the iconography of the cards match that of the play boards

[2020-09-02 07:51] trilz commented on #1197
I think this would be a great feature. Just to add my personal experience, the group I play with likes the Promo cards but not the Promo corps of the base game. This is partially because our main experience was on TTS where it's shuffled into base game even when you don't check the box for fan made corps. So we would like to see Penguins, Asteroid, Snow Algae and Self Replicating Robots but would

[2020-09-02 07:53] alrusdi commented on #1197
You can do it already. We have corporations filter

[2020-09-02 07:55] trilz commented on #1110
Yeah, this would be great. If we could instead dump it into human readable/machine version and parse it out, it could unlock some potentially cool analysis.

[2020-09-02 08:09] trilz commented on #1197
Oh, wow. Bad at reading. Thanks.

Still would upvote the issue for playing cards, though. The same group I play with likes to sometimes just rotate out random cards because we think they are boring (Protected Habitats) or can get a bit out of hand (Terraforming Ganymede).

[2020-09-02 11:41] vsrisuknimit opened #1251 "Bug: Unlabeled Noctis City spot on randomly generated boards"
On a randomly generated boards, when Noctis City spot is placed, it is not labeled. Players have no idea they cannot place a tile there until too late causing poor city/greenery placement.

The Noctis City spot needs a label or removed from the randomly generated boards.

[2020-09-02 12:42] nwai90 commented on #1251
@vsrisuknimit I just tested and it seems fine. How can we reproduce the issue? Noctis City spot is only labelled on the Tharsis (original) map

<img width="715" alt="Screenshot 2020-09-02 at 8 40 36 PM" src="https://user-images.githubusercontent.com/2408094/91982355-b654b400-ed5c-11ea-8cd2-85ec7e1b25a1.png">

[2020-09-02 17:01] vsrisuknimit commented on #1251
@nwai90, in a randomly generated map (as in random ocean location and tile placement bonus), there is one location on the map that you cannot place a tile. I believe it is a Noctis City spot that was assigned there. It is hard to reproduce because it is not labeled and you don't where it is until you tries to place a tile there.

[2020-09-02 17:05] vsrisuknimit commented on #1251
I am not sure how shuffled map work but could it come from here. When shufflemap is true, things get mixed around including Noctis city spot.

https://github.com/bafolts/terraforming-mars/blob/c038a7d46ade2e11cb725853716b8a8f5c68b044/src/OriginalBoard.ts

[2020-09-02 19:17] turtler7 opened #1252 "Game settings glitched out during a gen6 draft reload"
Returning to a turn based game during a draft sometimes snaps backwards.  That is fine and I assume is part of the undo feature.
This time suddenly the game was playing without draft, venus track was disabled (but playing a venus terraforming effect still gave terraforming), colonies suddenly stopped moving forward, realtime VP dropped off, and when someone played a card that dropped a colony (to

[2020-09-02 20:28] jankeromnes commented on #1094
@ap3h3ad I very much agree that such an API would be highly useful for Bot players to interact with the game, even if they're implemented outside of the application.

I started looking into this, and found that maybe this API already exists:

- When I start a game, and use one of the player links, I notice in the browser devtools that the player page makes a `GET` request to the URL `/api/player?i

[2020-09-02 23:20] vsrisuknimit commented on #1232
@ssimeonoff I see what you mean now with your design, not having to scroll just before the trade. I don't think the colonies should be hidden to require a click to show though.

[2020-09-03 00:34] nwai90 commented on #1251
Tried it with "Randomize board tiles" option. It seems that Noctis City's label always shows and it remains in the same spot (which is correct). I can't seem to reproduce the situation where the label is missing though.

[2020-09-03 10:30] vsrisuknimit commented on #1251
Hi @nwai90 you are right. I misunderstood what people mean when they could not place something there. It is labeled.

[2020-09-03 14:11] #1197 closed

[2020-09-06 08:17] K-Hartmann commented on #1240
The Problem ist paticulary frequent wenn using a mobile device, scince scrolling and zooming requires clicks on the map, but without scrolling it is hard to precisely click on the rather small map.

As an additional idea, if the placement of greenerys would not be the default option whenever you have sufficient plants, it would at least be required to actively choose to place a greenery. This woul

[2020-09-06 22:20] vsrisuknimit opened #1259 "Initial draft bug: cards are passed to the left in both packs."
In pack 1 of the initial draft, cards are passed to the left. This is implemented correctly.

In pack 2 of the initial draft, cards are currently passed to the LEFT, even though they are supposed to be passed to the RIGHT. The notification says cards are being passed to the right but that is wrong.

[2020-09-07 08:31] nwai90 commented on #1208
Fixed and merged

[2020-09-07 08:31] #1208 closed

[2020-09-07 16:00] vsrisuknimit opened #1261 "Feature request: solo mode game id"
Solo mode game ID is currently not available until the end of the game. This id should be available right away so that two people can play solo games with the exact same hand at the same time without requiring one to finish a game first.

[2020-09-07 16:00] vsrisuknimit commented on #1261
Perhaps it should be available at the bottom of the screen? Not sure.

[2020-09-07 16:44] vsrisuknimit opened #1263 "Bug: drafting to yourself while playing solo"
Recent server update (about 30 min ago) causes a solo game player to draft to themselves.

This happened mid game. There was no drafting until generation 7.

![image](https://user-images.githubusercontent.com/14239220/92407118-bca1b200-f107-11ea-9d9e-bc78de3df4a4.png)

[2020-09-07 16:46] vincentneko commented on #1259
Fixed and merged

[2020-09-07 16:46] #1259 closed

[2020-09-07 16:48] vincentneko commented on #1263
This must be a glitch related to server restart with game options reworked.
Just started a solo game, this issue is not occuring

[2020-09-07 16:49] vsrisuknimit commented on #1263
Sounds good. I will close the issue.

[2020-09-07 16:49] #1263 closed

[2020-09-07 20:27] moviedo opened #1264 "Css broken for german word in StartScreen"
#1265
German workd `Solo-Herausforderung` is overflowing into next anchor tag section.

<img width="406" alt="Screen Shot 2020-09-07 at 12 50 17 PM" src="https://user-images.githubusercontent.com/1228801/92415409-fbd6ff80-f115-11ea-87c4-5be31764e45c.png">

[2020-09-07 22:05] vsrisuknimit opened #1266 "Major bug issue - cards disappeared during initial draft"
During first pack - everything is shown

![image](https://user-images.githubusercontent.com/14239220/92417165-d60a2480-f12e-11ea-9fe4-6dc7a3582faa.png)

During second pack - preludes and corporations are gone.

![image](https://user-images.githubusercontent.com/14239220/92418239-7a429a00-f134-11ea-9b37-aac84a01ee9c.png)

During prelude draft - all project cards and corporations are gone.

![image]

[2020-09-08 00:57] vsrisuknimit opened #1267 "Bug: negative events does not cover all bad cards."
Please add Corrosive Rain and Microgravity Health Problems to NEGATIVE_GLOBAL_EVENTS.

[2020-09-08 02:36] nwai90 commented on #1267
@vsrisuknimit This is an omission from Venus and Colony global events; will address it today.

[2020-09-08 07:23] nwai90 commented on #1267
Fixed and merged

[2020-09-08 07:23] #1267 closed

[2020-09-08 07:23] nwai90 commented on #1266
Fixed and merged

[2020-09-08 07:23] #1266 closed

[2020-09-08 07:46] nwai90 commented on #1264
Fixed and merged

[2020-09-08 07:46] #1264 closed

[2020-09-08 10:04] alrusdi commented on #1261
Why do you need it? To enter it to Set Predefined Game option?

[2020-09-08 10:34] alrusdi commented on #983
Let's close it as controversial. We can return to this discussion when new Actions UI will be introduced.

[2020-09-08 10:34] #983 closed

[2020-09-08 12:05] vsrisuknimit commented on #1261
@alrusdi That is correct. In case two people want to play the same solo game at the same time.

[2020-09-08 18:25] SliceOfBread commented on #1261
It would also be handy if there is a bug that crashes the game (or the user decides not to continue) so that the game id can be reported.

[2020-09-08 18:31] SliceOfBread commented on #1094
it would be very useful to have some sort of skeleton code that people can use to develop bots without having to understand too much how all this code fits together.

I have been working on some other projects but hope to get back to this in the not-too-distant future.

[2020-09-09 05:21] nwai90 opened #1271 "Production decreasing cards in solo mode"
Expected: Card successfully played, no production removed

Observed: When playing a card that decreases any player's producton (e.g. Herbivores) in Solo, there is no other player to choose, so it automatically removes own production

**From rules & FAQ:**
_"If you are playing the solo game and play a card that reduces ANY production (red outline), you may
reduce the production of the (imaginary) n

[2020-09-09 05:23] nwai90 opened #1272 "Tile placement on Hellas bonus ocean spot breaks Solo mode setup"
Solo mode breaks in Hellas when either the bottom city/greenery tile hits the ocean placement bonus tile

[2020-09-09 06:02] nwai90 commented on #1272
Fixed and merged

[2020-09-09 06:02] #1272 closed

[2020-09-09 09:13] nwai90 commented on #1271
Closed as not reproducible

[2020-09-09 09:13] #1271 closed

[2020-09-09 18:11] xaxablyat opened #1276 "Start multiplayer issue"
Hi, I'm not sure if this is the right place to post but I am not able to start a multiplayer game. I've downloaded the game locally and managed to open port 8080 but I don't understand how to invite my friend. I've tried to send my public ip adress on the form http://xxx.yyy.zzz.ttt:8080/ and I've also tried to invite with different links like http://xxx.yyy.zzz.ttt:8080/player?id=d072d4b10e7.  Wh

[2020-09-09 19:16] chosta commented on #1276
Hi,
we highly recommend using Heroku setup for multiplayer games that are not in the same network. There is a very nice description on how to set it up here:
https://github.com/bafolts/terraforming-mars/wiki/Heroku-Setup

[2020-09-10 09:12] alrusdi opened #1277 "Game lobby"
Ability to create game but do not start it.
All pending games are shown on the lobby page.
Each "seat" of the game can be taken by anyone who visits the lobby page.
When "table" is full game starts automatically.
May be we need some kind of auth for it.
Would be great to have possibility to get invite link for each game in the lobby

[2020-09-10 11:01] vincentneko commented on #1261
Done

[2020-09-10 11:01] #1261 closed

[2020-09-10 11:01] vincentneko commented on #1162
Done and merged

[2020-09-10 11:01] #1162 closed

[2020-09-10 11:02] vincentneko commented on #1252
Thanks for the report.
I think it's a side effect of a recent update that changed game options behavior.

[2020-09-10 11:02] #1252 closed

[2020-09-10 11:04] vincentneko commented on #1276
It's not really the right place to post this.
You can try to get help on the discord or review the documentation.

[2020-09-10 11:04] #1276 closed

[2020-09-10 11:10] ssimeonoff commented on #1277
This means that game will not be gathered via Discord?

[2020-09-10 11:17] alrusdi commented on #1277
It is a just idea. It pops up in my mind every time when i see my group is trying to get players for the game

[2020-09-12 19:33] kberg opened #1281 "FR: Include the Ares fan-based expansion"
There's a fan-based expansion called Ares [1] which I'd love to see some online play. From a gameplay perspective, it adds:
1. adjacency tile rules: placing tiles next to other tiles lets players gain bonuses.
2. a new milestone and award
3. upgraded ocean behavior.
4. rules about bad weather events, providing negative adjacency benefits.

From a technical perspective, not knowing your code well,

[2020-09-12 20:03] kberg commented on #1281
Yeah, already seeing an interesting conflicting area: replacing cards. For example, the replacement ecological zone is a near perfect replacement for the original, but it provides an adjacency bonus. The adjacency bonus rules can be tied to the tile, which is another topic. But how then would this card play out?

1. create cards/ares/EcologicalZone.ts, which has the same name as cards/EcologicalZo

[2020-09-13 03:31] nwai90 commented on #1281
Hi @kberg, it's interesting. I think it would be fine to have Ares as a game option on the main page, under a new header "Fan Expansions". We will likely reorganize the "Create game" form sections at some point.

For the 11 cards that replace existing cards, I ran into a similar issue when adding Big Box promos. The approach I took was to add a suffix to CardName (e.g. `DEIMOS_DOWN_PROMO`) and add

[2020-09-13 03:47] kberg commented on #1281
Yeah, so far so good -- I'm really surprised. In the meantime, here's my progress to date. https://github.com/kberg/terraforming-mars/tree/ares

[2020-09-13 03:58] nwai90 commented on #1281
@kberg I created a new feature branch https://github.com/bafolts/terraforming-mars/tree/ares, you can raise a PR to here so that other devs can take a look as well

[2020-09-13 04:20] kberg commented on #1281
Thanks!

[2020-09-13 15:14] vsrisuknimit opened #1284 "Undo -> force refresh"
After confirming undo action, force the browser to refresh. Currently you need to refresh to see the result after undo.

[2020-09-13 15:17] vsrisuknimit opened #1285 "Feature request: show mc during initial selection"
During initial card purchase (after initial drafting is done), once the user select a corporation. Show how much megacredit the user has from that corporation. After click on each prelude and project card, deduct or increase the mc accordingly. This will help users calculate how many cards to keep or what prelude to pick.

[2020-09-13 15:24] vsrisuknimit commented on #1285
![FireShot Capture 158 - Terraforming Mars - terraforming-mars](https://user-images.githubusercontent.com/14239220/93021918-b56d1f00-f5b3-11ea-889b-06544106ab1c.png)

[2020-09-13 15:55] nwai90 opened #1286 "Edge case for Pharmacy Union"
Ref: https://boardgamegeek.com/thread/2451064/article/35805086#35805086

When a card with both Microbe and Science tags is played by Pharmacy Union's owner, the player should be allowed to choose the order of tag resolution

[2020-09-13 15:56] nwai90 commented on #1284
@vsrisuknimit Possible duplicate of https://github.com/bafolts/terraforming-mars/issues/746 ?

[2020-09-13 16:45] vsrisuknimit commented on #1286
Note that you still lose 4 mc no matter what.

[2020-09-13 16:46] vsrisuknimit commented on #1284
@nwai90 It is. I should have checked. Sorry.

[2020-09-13 16:46] #1284 closed

[2020-09-13 21:19] karrde opened #1287 "Server does not ignore unknown parameters in URL"
Server returns "Unexpected server response" when unknown parameters are on the URL.  For example when the player link is sent to a user via Facebook messenger, when clicking on the link FB appends a 'fbclid' parameter with a hash entry.  This causes the "unexpected server sesponse".  Simply removing the parameter allows the link to function but standard practice would be to ignore any parameters t

[2020-09-14 01:23] moviedo commented on #1104
I agree with the radio button height issue, but standard web components would suggest users should be aware that radio buttons are clickable throughout the associated text.

[2020-09-14 01:51] vsrisuknimit opened #1290 "Minor feature request: cards in own hand indicator"
Next to the section title "Cards in Hand", add the number of the cards the player has, so it becomes "Cards in Hand (13)" for example.

This will help players keep track of cards in hand when they don't want to open up tags overview. There are some horizontal space there anyway.

![image](https://user-images.githubusercontent.com/14239220/93035472-0ceaa980-f60b-11ea-88a1-9f908af65bd4.png)

[2020-09-14 04:59] #1287 closed

[2020-09-14 05:13] pocc opened #1291 "Default to HTTPS with node"
In server.ts, http is used instead of https:
1: `import * as http from 'http';`
118: `const server: http.Server = http.createServer(requestHandler);`

Why not provide the option for https if key and cert paths are provided in the env file?
It looks trivial to setup with node: https://nodejs.org/en/knowledge/HTTP/servers/how-to-create-a-HTTPS-server/

[2020-09-14 10:03] vsrisuknimit opened #1294 "Solo Bug: game does end at correct generation when using seed"
In this picture, you will see that the game last until 13 generation even while Prelude is in play. This should not happen. Players should be forced to lose at the end of the generation.

![image](https://user-images.githubusercontent.com/14239220/93072678-b81d5200-f64f-11ea-9de7-a0ef08732496.png)

This happened twice when I used seeds to play pre-defined solo game. The person who created the game

[2020-09-14 11:29] vsrisuknimit opened #1295 "Bug: influence tracker"
In the picture shown below, red player has two influence. This is incorrect.

Normally, you can achieve a maximum of 3 influence (1 for Chairman, 1 for Party Leader of the Dominant Party, 1 for any amount of non-Leader delegates in the Dominant Party).

The player confirmed that they did not have Event Analysts.

I believe there is a bug in the third case of influence. It should only count non-Lea

[2020-09-14 14:43] #1291 closed

[2020-09-15 01:14] kevinb9n opened #1298 "Feature request: who won"
We just played a game -- really fun! -- and we were sorta curious to know who won. It seems like useful information that other people might want to have.

https://terraforming-mars.herokuapp.com/the-end?id=af0cbb3c6fd

It knows our names so perhaps it could include a message like "CR won!" or (my preference) "KB won!".

[2020-09-15 01:34] kevinb9n commented on #1207
Looks like TR is missing from the redesign. imho, the best place to add it would be very near to the megacredits inv/prod, since I have to add those three numbers together to know how much money I'll have next turn.

[2020-09-15 04:00] kberg opened #1299 "Clicking on own name beneath "turn order" does nothing."
Underneath "Turn order (click on player name to see details)" I click on my opponent's name which expands their details.

I click on my own name and expect to see something, but in fact nothing happens. This is a surprising aspect. I would at least expect when hovering over my own name it didn't do anything. But I'd also like to to close my opponent's view.

[2020-09-15 04:57] vincentneko commented on #1298
Good idea !

In this game you (KB) won. (in a tie with victory points, the one with the most MC win)
Players are sorted this way.

[2020-09-15 05:40] kevinb9n commented on #1298
Okay, it seems MC is the only tiebreaker, so there can (rarely) be multiple winners. So maybe instead of a "X wins!" heading, a simpler way is to just put a "winner!" icon/message of some sort on each winner's row. Just thinkin out loud.

[2020-09-15 05:51] #1294 closed

[2020-09-15 06:59] nwai90 commented on #1295
Fixed and merged

[2020-09-15 06:59] #1295 closed

[2020-09-15 06:59] nwai90 commented on #1290
Fixed and merged

[2020-09-15 06:59] #1290 closed

[2020-09-15 09:58] vsrisuknimit commented on #1246
So before this is done, we could still do another minor improvement in writing what you would gain for the trading with colonies.

Spend 3 energy
Spend 3 titanium
Spend 9 mc

To trade with

Ceres for 6 steels
Triton for 2 titanium (+1 colony bonus)
Europa for energy production (+1 mc bonus)

[2020-09-15 10:10] chosta commented on #1246
Where would the text go?
I think it gets too cluttered this way. It should be either an image or text description.

[2020-09-15 12:02] chosta commented on #1233
Part one is now live! Thank you @pierrehilbert @nwai90 @alrusdi @vincentneko @ssimeonoff for the reviews.
Let's keep this open, I'm going to work on the new Action log. Feel free to share your thoughts. The most comments I got were "where is the gen marker", "which generation are we now". So it seems we need have a more prominent marker apart from the top left one.

[2020-09-15 12:04] vsrisuknimit commented on #1246
It should be the image that is the ultimate goal. I don't know how difficult that would be, so I am suggesting this as a stepping stone.

So rather than saying ganymede (plant), it should say how many plants and perhaps colony bonus if you have colony.
Rather saying europa (production), it says energy production.

![image](https://user-images.githubusercontent.com/14239220/93208055-f1c28b80-f729-1

[2020-09-15 12:31] pierrehilbert commented on #1285
I will work on it. Should it take into account preludes bonus/malus?
I think it should but would like your advice.

[2020-09-15 17:15] kevinb9n opened #1303 "Mining Expedition doesn't show a minus sign before the red-bordered plant icons"
It should, right?

[2020-09-15 18:04] kevinb9n commented on #1207
Cool, the TR is there now. I would still very weakly request it be moved to the left for the reason just above, but okay.

[2020-09-15 18:06] alrusdi commented on #1207
This is done. Lets' discuss any related problems in separate issues

[2020-09-15 18:06] #1207 closed

[2020-09-15 18:07] kevinb9n commented on #1240
My wife got hit with that yesterday (the auto-selection of the greenery option). She had, or believed she had, chosen to place a city, but then inadvertently clicked somewhere else (?) before clicking the map and suddenly a greenery was there.

[2020-09-15 18:08] alrusdi commented on #1303
No, it shouldn't
https://ssimeonoff.github.io/cards-list#063

[2020-09-15 18:08] #1303 closed

[2020-09-15 20:18] SliceOfBread commented on #1233
Maybe I am blind but I can't find the generation (except in the log). Mainly needed for solo but always nice to have around.

[2020-09-16 05:18] kberg opened #1305 "Split Dealer's large card repo to projects"
I'm proposing a change very much like this one

https://github.com/kberg/terraforming-mars/compare/master...kberg:card-refactor?expand=1

which moves package-level cards to their directories. Ares is a new one, which will also be impacted. Your thoughts?

[2020-09-16 05:20] kberg commented on #1305
Needs more work -- Game.ts for example, but lmk if this approach is something you like.

You can get the gist of this from CardManifest.ts, Dealer.ts, and any one or two of the specialized card manifests.

[2020-09-16 05:49] nwai90 commented on #1305
@kberg I like it; it gives the project better structure re the card lists for different expansions. Let's wait for feedback from the other developers as well

[2020-09-16 06:09] chosta commented on #1305
@kberg I'm all for this. I also started making structure changes for the frontend. Players Overview module has its own dir `overview`.
We should try and keep things sorted in a logical way. This is extremely helpful imo.
There will be a bit of pain when merging these changes so lets keep them in small increments.
I'd like to hear from @bafolts on this too if possible.

[2020-09-16 06:15] kberg commented on #1305
Great. I don't like the term CardManifest, but Deck kind of causes some small problems I'd like to avoid. But if it were Manifest, then I could see starting to add some other pieces into it, shrug. But I've learned the hard way that turning Javascript code into generic callbacks can sometimes impact performance.

Two separate thoughts peripherally related.

[2020-09-16 07:17] alrusdi commented on #1299
It should be irrelevant with new UI

[2020-09-16 07:17] #1299 closed

[2020-09-16 12:50] vsrisuknimit commented on #1285
@pierrehilbert Yes, it should take into account prelude that provide and deduct cash.

[2020-09-16 12:53] vsrisuknimit commented on #1285
It should also handle Polyphemos and Terralabs differently.

I don't know if it should take into account the extra mc from corp immediate reveal bonus (Vitor and Splice and Pharmacy Union).

[2020-09-16 15:22] nwai90 commented on #895
Implemented by @alrusdi

[2020-09-16 15:22] #895 closed

[2020-09-16 15:37] alrusdi commented on #935
I think most of the problems here are somehow resolved in new UI. Let's close it

[2020-09-16 15:37] #935 closed

[2020-09-16 15:42] jrbarronumd opened #1309 "Undo after all other players pass"
It seems like the undo function does not work after the first action taken by the last active player in a gen.  As example, in a 2-player game if one player passes and the other player has 8 actions left, that player cannot undo any actions after the first of those 8.

[2020-09-16 15:45] alrusdi commented on #1309
Indeed. It is reproducible

[2020-09-16 20:25] vsrisuknimit opened #1310 "Feature request: separate big box promos from other promos"
I believe that the big box promo cards will be changed when they are officially released after more play testing.

It might be good to separate the big box promos from the already released promo cards.

[2020-09-16 21:54] vsrisuknimit opened #1311 "Feature request: limited and unlimited randomized milestones and awards"
Some users voiced their opinions that they are fine with unlimited synergy milestones and awards.

Perhaps offer that as a choice.

(toggle) randomized milestones and awards
  (radio box) limited synergy - [default]
  (radio box) no-limit synergy

For the limited synergy, I propose the following rules:
- no pair that is 7+ in synergy score (prohibit landlord & desert settler or terraformer & benef

[2020-09-17 03:32] VanderLeal commented on #1240
I would suggest that instead of making this "mandatory OR optional" to use a processual roll-back to be available.
This would cover both bases.

Example:
1. You pick the action.
2. You're asked to place a tile.
3. You place the tile (by choice or by accident).
4. An "Undo Tile Placement" button shows up (as the undo turn).
5a. If you choose any other action then you move on (go to step 6).
5b. If

[2020-09-17 03:41] VanderLeal opened #1313 ""Fixed YOURSELF Colour" - Your colour to be always the same (in all games)"
(enhancement request)

Possibly Cookie based.

You see always the same color for your games.
You would always see yourself as the "RED" color, regardless how others see you.
Each person has their own view of the board. Colours are only cosmetic but very important to the interface.
A bad colour decreases the user experience.

Optional, although imho is would be better and not harder to implement:
M

[2020-09-17 03:52] kberg commented on #1305
I've made a very large update which changes a fair bit of stuff. Everything builds, nothing passes. I'd like a little more confidence that this change will be generally accepted (with appropriate comments) before I spend that much more time on it. I'm not quite sure who the primary deciders are on this team, but I'd like to hear that the direction is good and would welcome it.

[2020-09-17 03:52] kberg commented on #1305
(Naturally I'll fix the tests if I get an okay.)

[2020-09-17 04:11] nwai90 commented on #1305
@bafolts @vincentneko

[2020-09-17 05:31] vincentneko commented on #1305
This is great !

[2020-09-17 08:26] nwai90 commented on #1147
Fixed and merged

[2020-09-17 08:26] #1147 closed

[2020-09-17 08:43] ap3h3ad commented on #1277
Some kind of lobby would be nice and could even lay the foundation for some kind of tournament, although that most definately would require some kind of authentication and accounting.

[2020-09-17 08:50] ap3h3ad commented on #1233
I also miss the draft order which is actually pretty helpful e.g. in a 5 player game to decide whether or not you want to pick a specific card or not.

[2020-09-17 09:10] alrusdi commented on #1233
@ap3h3ad we show a target player name while drafting. I mean the person who will receive your remaining cards. Isn't it just enough?

[2020-09-17 09:55] ap3h3ad commented on #1233
@alrusdi That's finde. I couldn't quite catch it on the example screenshot above.

[2020-09-17 16:46] nwai90 commented on #877
@vincentneko Can we close this one?

[2020-09-17 16:53] B0Bftl commented on #1240
An 'Undo' Method is impracticle, as there are Card draw bonuses. Once you've drawn the card, undoing is quite like cheating.

I think a simple confirmation is the cleanest solution. Its only downside is one additional click, which imo does no harm. It rather increases intuitivity and robustness

[2020-09-17 17:22] kberg commented on #1240
I agree, optional confirmation seems the way to go.

[2020-09-17 18:15] kevinb9n opened #1316 "During initial card choice, opening "milestones" deselects all project cards"
During initial card choice, opening "milestones" deselects all project cards.

[2020-09-17 18:26] kevinb9n commented on #877
Can I ask: what is the point of drafting preludes?  Because you have zero information about the other players at that time, it seems like it's equivalent (but more complicated) to just giving everyone more preludes to choose from.

[2020-09-17 18:30] vsrisuknimit commented on #1316
I believe @chosta is working on having boards/milestones/awards revealed by default during initial selection.

[2020-09-17 21:21] kyshantry commented on #877
The same reason as drafting normal cards: if one player gets 2 A+'s and
another gets all D's, game can be over t1. It helps smooth out luck at the
most important point in the game: the beginning.

On Thu, Sep 17, 2020 at 11:26 AM kevinb9n <notifications@github.com> wrote:

[2020-09-17 23:27] VanderLeal commented on #1240
B0B, is not an "undo" per se... It's a passive "cancel button" for you to cancel the placement, but if you click somewhere else (like next action) it would settle the placement and move on. Point was to avoid a "Confirm Tile Placement? Yes/No" mandatory, when majority of times you place it properly (yet allowing a "omg moment, where you can ask to undo the placement and be asked again where to).

[2020-09-17 23:36] kberg commented on #1240
Given how often I place tiles on the board, active confirmation isn't much of a cost. But I wouldn't mind if confident people wanted to turn it off.

[2020-09-18 03:18] kevinb9n commented on #877
Thanks for explaining.  But that's kind of what I was thinking when I said that it seems equally well solved by just giving more preludes to choose from?

[2020-09-18 04:21] kyshantry commented on #877
I feel like there are two key benefits. One, after having drafted the 10
project cards, you certainly have an idea of what your opponents are up to.
Secondly, I like that there is some uncertainty when you are drafting the
project cards as to what preludes you'll have.

On Thu, Sep 17, 2020 at 8:19 PM kevinb9n <notifications@github.com> wrote:

[2020-09-18 06:31] chosta commented on #1316
Yes, this one is being worked on atm.

[2020-09-18 06:38] chosta commented on #1313
Hi,
first of all no need to apologise for anything :)
The project exists not only because of the hard-working devs but also because of patient players that give valuable feedback and ideas like you.
We are currently contemplating a change in the color system meaning we want to change the base colors to a palette that is more appealing to the eye and less problematic for the UI (contrast issues wit

[2020-09-18 09:13] VanderLeal commented on #1313
A social login with "cloud based" preferences is 10x better, say no more. :)

btw, if you need a test user for colour blind I have one playing with me, and he's playing 6 concurrent games atm.
So, surely a good source for (colour) blind tests... 😅

Thanks!

[2020-09-18 13:55] kberg opened #1320 "Make MASynergies maintainable"
Working on ares, I'm going to add milestones and awards, probably this weekend. MASynergies is a new class that has three significant flaws:
1. No documentation. I was told that the team likes to have self-documented code rather than documentation, but the MASynergies doesn't really describe what the class does (select compatible milestones and awards *a), nor upon reading the code can I understan

[2020-09-18 14:00] kberg commented on #1320
Sorry, when I write _sparse array_ I probably mean a some kind of data structure built by statements in code where intent is readable.

[2020-09-18 15:10] chosta commented on #1320
I agree with your concerns. It seems like this new feature actually added a hurdle for the implemenation of new milestones and awards which you inevitable have to do for the Ares expansion.
I would suggest you don't do anything on top of the MASynergies but add the new M&A for Ares after the MASynergies functionalty returns the pairs. You can add a fn that 1 draws an Ares or M or A (roll for 1 in

[2020-09-18 16:16] kberg commented on #1320
:thumbsup

[2020-09-18 21:14] alrusdi commented on #1320
We can load data from csv and then edit it in spredsheet app (like excel) for readability

[2020-09-18 23:25] vsrisuknimit opened #1323 "Bug?: cannot see your own VP when real-time VP is off with the new UI"
With the new UI, when real-time VP is off, you cannot see your own VP. With the previous UI, you know your own VP regardless of whether real-time VP is on or off.

![image](https://user-images.githubusercontent.com/14239220/93652894-af78a300-f9e4-11ea-98e7-63ebe42578fb.png)

[2020-09-19 01:23] kberg commented on #1320
How is that more readable in a spreadsheet?

[2020-09-19 07:18] alrusdi commented on #1320
Like in this file https://docs.google.com/spreadsheets/d/1PIUzO9XLF-MHSrTDP9QU2VW3ce7hJNciAR-G7N-RBUA/edit#gid=330638583
captions with m/a names can help to find proper values and it's obviously what to do to add new items

[2020-09-19 14:27] kberg commented on #1320
Woah, that's gorgeous and makes a ton of sense.

So I propose that under the hood you keep the same 2d data structure, but
still generate it with code. Because in code `bind(ENERGIZER, INDUSTIALIST,
6)` makes much more sense. And you can still dump out that 2d array with a
debugger or a console.log.

If you're still keen on the 2d array, then add **that spreadsheet** to the
comments for explaining

[2020-09-19 14:38] vincentneko commented on #1246
Done and merged ! Yeah !

[2020-09-19 14:38] #1246 closed

[2020-09-19 14:40] kberg commented on #1281
Woo! Now I'm _somebody!_

[2020-09-19 18:20] kberg opened #1329 "Flaky tests in game.ts related to Hellas map"
The two tests that seem to be flaky are in Game.spec.ts:

[code]

and

[code]

I ran the tests 1000 times to see the failure rate, but stopped a little early, because the rate was consistently around 5%.
512 passing, 24 failing: ~4.47% failure rate.

[2020-09-19 18:43] kberg commented on #1329
A more localized test only failed 2% of the time,

[code]

but that's enough to start tracking it down. Plus this more locally-scoped test runs _much_ faster.

[2020-09-19 19:00] vsrisuknimit opened #1330 "Demo server crash - 2 pm EDT"
A new update around 2 pm EDT crashed the main demo server.

[2020-09-19 19:44] kberg commented on #1329
I think I've got it. It fails because the space is never available. The game board is set up such that the space is already occupied by the neutral player.

[2020-09-19 19:49] kberg commented on #1329
Yup. According to a localized test, that did it. `1000 passing (5s)`

[2020-09-19 20:14] AlexBurkov opened #1331 "bug. Undo makes crash server"
After pressing "Undo" our server was crashed. I can attach some files if you need it

[2020-09-19 20:20] vsrisuknimit commented on #1330
It was fixed.

[2020-09-19 20:20] #1330 closed

[2020-09-19 20:21] AlexBurkov commented on #1331
It is repeating after every undo action

[2020-09-19 20:24] AlexBurkov opened #1332 "Default option in radio button"
When I am choosing option "Trade with colony", system sets first colony as default in radio button. I think it may be better if no option would be chosen by default.

[2020-09-19 20:27] AlexBurkov opened #1333 "Autosave"
Our server crashed when we played today. So we lost our game. It would be great if we can save progress and load it after crash. I think you can save progress after every generation (or every action) on disk.

[2020-09-19 20:39] chosta commented on #1331
Hi, how do you store your data in the backend:
SqLite or Postgres?
We have issues with the undo functionality and are trying to figure them out.

[2020-09-19 20:44] AlexBurkov commented on #1331
Wow, I don't know. I use "npm install" and "npm run start". So we use default settings

[2020-09-19 20:46] kberg commented on #1331
sqlite.

On Sat, Sep 19, 2020 at 4:44 PM AlexBurkov <notifications@github.com> wrote:

[2020-09-19 20:47] kberg commented on #1331
It's sqlite -- You can see this in the source file database/SQLite.ts

[2020-09-19 20:49] AlexBurkov commented on #1331
But why can't I continue my game after crash?

[2020-09-19 20:55] chosta commented on #1331
You can, you need to delete the last turn record manually. @pierrehilbert can help
Also, we know about the crashes but its never the same thing. So we have to work on eliminating all of the problems.

[2020-09-19 21:06] AlexBurkov commented on #1331
That's great news. @pierrehilbert can you help me with it? How can I open sqlite connection and remove last record?

[2020-09-19 21:10] SliceOfBread commented on #1333
I think this is related to #1110 If there was an executable log of the entire game, it would be (fairly) easy to implement crash recovery.

[2020-09-19 21:44] AlexBurkov commented on #1331
I tried continue game after restarting server without crash. But I couldn't. I can't find current game_id in table "games". What am I doing wrong?

[2020-09-20 06:32] chosta commented on #1320
@kberg we can just add the file as a comment in the wiki or even provide a link in code at least for now. This was done by @ssimeonoff a while ago so maybe work with him to include the new milestones in the list (or just make a copy of the spreadsheet and add the new M&A there)

[2020-09-20 07:55] #1329 closed

[2020-09-20 08:01] nwai90 commented on #1323
Fixed and merged

[2020-09-20 08:01] #1323 closed

[2020-09-20 08:17] alrusdi commented on #1331
Game restart skips error prone records. And your game is not restored as result

[2020-09-20 11:10] pierrehilbert commented on #1331
Hello @AlexBurkov,
Have you any records in the games table (for other game_id)?
If you create a new game and play three turns, do you have them in the database?

[2020-09-20 11:13] pierrehilbert commented on #1333
Hello @AlexBurkov,
This function already exists, it's what allow us to continue a game after a server restart on the heroku server.
If it doesn't work on your installation, it could be for many things and we will help you to find the root cause.
I think it's the same root cause with you issue #1331 so you should merge your issue.

[2020-09-20 11:15] AlexBurkov commented on #1331
Yes, there are a lot of records in this table with other game_ids. And I am going try to create new game now and to play three turns for checking

[2020-09-20 11:22] AlexBurkov commented on #1331
I tried to do it. But there aren't any records with that game_id

[2020-09-20 12:56] pierrehilbert commented on #1331
Did you check for the record after closing and reopening your connection on the sqlite?
If yes, please try to change rights on the file (chmod 777) and please try again to create a game and play three turns.

[2020-09-20 13:16] pierrehilbert commented on #1316
@chosta, correcting this one should be pretty easy for you, you juste have to switch the toggle system to the "accordion" one (take a look at the board part in PlayerHome.ts to have a working example).

[2020-09-20 13:18] GJonatan opened #1338 "Venus turmoil card while not playing with venus expansion"
It's a very minor thing but I just played a game with all expansions except for Venus next. We got a turmoil card that gave MC based on venus tags.

[2020-09-20 13:53] alrusdi commented on #1338
Do you mean Global event not project card from Turmoil?
I mean... Was it:

Venus Infrastructure
Gain 2 MC per Venus tag (max 5) and influence.
?

[2020-09-20 14:09] GJonatan commented on #1338
It was on the form that you wrote, something like "Gain 2 MC per Venus tag (max 5) and influence."

[2020-09-20 14:26] bafolts opened #1339 "Circular JSON saved crashing server upon start-up."
The heroku instance is crashing the node process when attempting to load a game from the postgres database upon start-up.

[code]

[2020-09-20 14:38] bafolts commented on #1331
This could be related to #1339 which seems something introduced JSON which is circular. At one point we were always storing a player as only the id of the player. If somewhere we have added storing a full player and not the id of the player that would cause this behavior.

[2020-09-20 15:59] AlexBurkov commented on #1331
I dropped file game.db and tried to repeat it. And it's working. My game was loaded.
So if our server is crashed we should remove the last record from "games" and it will work? Am I right?

[2020-09-20 16:31] bafolts commented on #1339
@vincentneko this https://github.com/bafolts/terraforming-mars/blob/master/src/inputs/SelectColony.ts#L17 is causing the crash. It will happen if any game starts that has colonies enabled. When `JSON.stringify` is called with that object we enter the circular structure.

[2020-09-20 16:36] vincentneko commented on #1339
@bafolts Thanks a lot for finding this and sorry for the mess
I need the game object in order to build the ColonyModel array.
Should I build it before and pass it to SelectColony ?

[2020-09-20 16:45] bafolts commented on #1339
As long as `game` does not end up as a property of the class it will not be serialized. Removing the `public ` keyword should work.

[code]

It looks like this is done with `/interrupts/` as well. The similar issue exists there but it was ignored.

https://github.com/bafolts/terraforming-mars/blob/master/src/Game.ts#L1721

All interrupts are being lost when we save to the database.

[2020-09-20 16:48] vincentneko commented on #1339
Will submit a patch asap

[2020-09-20 16:59] #1339 closed

[2020-09-20 17:43] alrusdi commented on #1232
It is seems to be done

[2020-09-20 17:43] #1232 closed

[2020-09-20 17:45] alrusdi commented on #1177
@chosta isn't it complete? Can we close this issue?

[2020-09-20 17:47] alrusdi commented on #1320
I like an idea with something like
`bind(ENERGIZER, INDUSTIALIST, 6)`
Will try to redo it like this

[2020-09-20 17:50] chosta commented on #1177
@alrusdi not yet. It's at the bottom of my list at the moment :)

[2020-09-20 18:19] vsrisuknimit opened #1341 "Minor bug: Titan Floating Launch-pad uses old Colony Trading UI"
Titan Floating Launch-pad uses old Colony Trading UI instead of the new one with pictures of the colonies.

[2020-09-20 18:22] vsrisuknimit opened #1342 "Feature request: different CSS for card selected for discard"
Different labels for card selection for DISCARD.

![image](https://user-images.githubusercontent.com/14239220/93718841-ac002b80-fb4c-11ea-8d17-92febb4ebd36.png)

![image (9)](https://user-images.githubusercontent.com/14239220/93718843-adc9ef00-fb4c-11ea-9f3e-1f9fd3ed06f5.png)

[2020-09-20 18:23] vsrisuknimit commented on #1342
Perhaps another for drafting too.

[2020-09-20 23:03] vsrisuknimit commented on #1342
Some different colors for testing.

![New Project (2)](https://user-images.githubusercontent.com/14239220/93724309-e8934d80-fb73-11ea-831e-36c3ddce0ed9.png)

![New Project (3)](https://user-images.githubusercontent.com/14239220/93724311-e9c47a80-fb73-11ea-9280-7a6ec29fea77.png)

[2020-09-21 06:42] pierrehilbert commented on #1331
Maybe it's just the circular that prevented to save.
If you reproduce the problem, we will be able to test other things.

[2020-09-21 06:42] #1333 closed

[2020-09-21 08:59] AlexBurkov commented on #1331
Thank you very much for your help.

[2020-09-21 09:03] alrusdi commented on #1331
Please reopen this issue if you hit this problem again

[2020-09-21 09:03] #1331 closed

[2020-09-21 18:07] pocc opened #1346 "Create a Spanish Translation"
This is per a discord request/someone volunteering.

[2020-09-21 21:01] vsrisuknimit opened #1348 "Bug: Negative titanium or energy after trading."
A few people have reported seeing negative titanium or energy after trading.

![image](https://user-images.githubusercontent.com/14239220/93820357-0ec7f480-fc2b-11ea-9a2f-d0b1a647dedf.png)

A few information I gathered:
- The negative number does not disappear after a browser refresh.
- ~~The negative number seems to affect just the display. Negative energy was observed to not carry over to negati

[2020-09-21 21:09] vsrisuknimit commented on #1348
Addition information.
- This can happen in solo games.
- The negative number persists after the end of the generation. So not just display.
- If you have negative titanium, it will prevents you from playing any card even if the card cannot be paid with titanium.

![image](https://user-images.githubusercontent.com/14239220/93821733-fd7fe780-fc2c-11ea-86f9-389a06d9b03a.png)

- I can now reproduce th

[2020-09-21 21:50] Maelstrom1 opened #1349 "[Bug] Generalist breaks when playing with all expansions except corporate era"
My friends and I decided to try something dumb and play a game with every expansion except corporate era. That caused this to happen:
![chrome_AShMGsuPQl](https://user-images.githubusercontent.com/20371049/93825042-7df51700-fc32-11ea-8eb2-6c009b707db7.jpg)

[2020-09-21 22:21] vsrisuknimit commented on #1348
The number of times you repeat step 1 and 2 results in the number of resource you have to spend.

You can easily get -12 energy by repeating the process 5-6 times.

![image](https://user-images.githubusercontent.com/14239220/93827442-4472da80-fc37-11ea-888b-1db9f818825f.png)

[2020-09-21 23:32] vsrisuknimit commented on #1349
Reproducible and the milestone can be claimed for real.

![image](https://user-images.githubusercontent.com/14239220/93831620-33c76200-fc41-11ea-9f53-524a08d21da1.png)

Seed  ID: 5eecd7f0b7dd

[2020-09-21 23:34] vsrisuknimit commented on #1349
@Maelstrom1 this is because without corporate era, the game starts you out with +1 production of everything.

No bug.

[2020-09-22 00:35] Maelstrom1 commented on #1349
You misunderstand. In the rules, it is specified that you must achieve one greater production than you had at the beginning of the game (before corp reveals etc.). So, the one production in everything does not count towards this milestone. It is counted (ignored?) properly when playing with no expansions at all. Generalist is just improperly counting the non-corporate production towards the milest

[2020-09-22 02:03] kberg opened #1350 "Exclude all of .vscode/"
I've made a change to .vscode/tasks.json to run prebuild by command-line. I now have three options: 1) commit that change, 2) add all of .vscode/ to .gitignore, or 3) manage that file myself.

(Global .gitignore isn't an option because I'm using mingw on top of windows. Perhaps stop using that is an option, too.)

The subject of the bug lists my preference. Please advise!

Thanks.

[2020-09-22 02:19] kberg opened #1351 "Add support for testing games with custom boards"
Specifically here I'm writing tests that on their own are very hard to decipher unless you know the Tharsis board very well. Perhaps that's fine, but it's also much easier to think about a board when there's no colonies, or even oceans. That's why for some tests, I created EmptyBoard. It's local to the code I'm working on but might make other tests easier to understand.

https://github.com/kberg/t

[2020-09-22 03:50] kberg commented on #1281
## Status update:

[code]

Latest is at github.com/kberg/terraforming-mars/latest

[2020-09-22 05:42] vincentneko commented on #1348
@vsrisuknimit great feedback thanks ! Will try to look into this asap.

[2020-09-22 05:59] alrusdi commented on #1350
Best practices says to not distribute any IDE specific settings. I vote to remove .vscode folder from repo

[2020-09-22 06:27] kevinb9n opened #1354 "On Politics board show the bonus amount each player would earn if that party becomes ruling (like awards/milestones)"
Hey - one of my favorite features is that awards and milestones have those little circles showing how much progress each player is at toward earning/winning them.

Could we do the same under each party on the politics board? This would usually be the amount in MC that would be paid out as the ruling bonus, but for the Reds it should probably show everyone's current TR so you can see who stands to

[2020-09-22 07:02] chosta commented on #1350
I second @alrusdi

[2020-09-22 08:25] alrusdi commented on #1350
Fixed by @pierrehilbert

[2020-09-22 08:25] #1350 closed

[2020-09-22 09:12] chosta commented on #1316
We can close this one.

[2020-09-22 09:30] chosta commented on #1177
@alrusdi  I think this needs to be closed again as #1322 replaces current design and does not allow for this implementation.

[2020-09-22 09:31] #1177 closed

[2020-09-22 09:34] keros17 commented on #1346
Hello people!

I'm doing the translation from the fanmade gigaexpansion and after that I could help with the translation from the program to the spanish language.

If the developer wants also the fanmade content translated there is no problem to giving you that ^^

Best regards,
Gerard

[2020-09-22 09:44] alrusdi commented on #1346
@keros17 great! Ask me if you will need any help

[2020-09-22 11:43] vsrisuknimit opened #1357 "Minor bug: Pharmacy Union card text in game is incorrect."
Science card draw should be upon corp reveal not first action.

Card from the web app

![image](https://user-images.githubusercontent.com/14239220/93877848-247aff80-fca7-11ea-8183-2654212d9bc8.png)

Card from Simon's db.

![corp40-pharmacy_union](https://user-images.githubusercontent.com/14239220/93877893-3bb9ed00-fca7-11ea-9176-c227baacff11.png)

[2020-09-22 12:43] alrusdi commented on #1357
May be it is time to introduce an interactive description widget here? I mean some kind of stylish questionmark symbol, it shows that huge description text when clicked

[2020-09-22 13:47] vsrisuknimit opened #1360 "Setting up crowd-sourced translation platform."
We should have a platform for crowd-sourcing translations.

@alrusdi suggested Pontoon https://github.com/mozilla/pontoon.

Weblate is another alternative. https://weblate.org/

Poeditor is free with Open Source Intiative license.

[2020-09-22 13:47] vsrisuknimit commented on #1349
@Maelstrom1 you are certainly right. Sorry for not double checking.

[2020-09-22 13:53] Maelstrom1 commented on #1349
It's fine, I'm just glad I could find it so it could be fixed.

[2020-09-22 13:55] alrusdi commented on #1360
Weblate is kinda 17€/mo
I can't manage Pontoon to work on localhost. it is installable on heroku, but requires paid account

[2020-09-22 13:56] Maelstrom1 commented on #1338
this has happened _multiple_ times in the games I've played and it's impossible to remove without removing all the promo (I think). It's kind of infuriating.

[2020-09-22 14:34] vsrisuknimit commented on #1360
Weblate can be self-hosted, right? I am not sure how that will work.

Should we ask @bafolts to set up Pontoon since the demo server is already running on paid heroku?

[2020-09-22 14:37] alrusdi commented on #1360
i don't see self hosted variant of weblate. Can you give me a hint?

[2020-09-22 15:10] keros17 commented on #1346
Thanks @alrusdi ^^

[2020-09-23 04:44] kberg commented on #1281
## Status update 2020-09-22:

[code]

Latest is at github.com/kberg/terraforming-mars/latest

[2020-09-23 09:38] nwai90 commented on #1349
Fixed and merged

[2020-09-23 09:38] #1349 closed

[2020-09-23 10:07] vsrisuknimit opened #1364 "Bug: colony.endGeneration not a function"
Playing seeded solo. Aridor. Removed and then added a colony.

Finished first generation. Trying to do WGT and then received this error.

![image](https://user-images.githubusercontent.com/14239220/93998683-df1c0800-fd62-11ea-89ea-1fcef27d0923.png)

[2020-09-23 10:25] vsrisuknimit commented on #1364
Here is the seed: dbbae2037a5c

[2020-09-23 10:29] vsrisuknimit commented on #1364
![image](https://user-images.githubusercontent.com/14239220/94001174-25bf3180-fd66-11ea-8377-efe7036b1897.png)

[2020-09-23 16:44] kevinb9n opened #1366 "Don't hide my cards from me while opponent is choosing theirs?"
Hi, I was wondering if it's intentional that I'm temporarily blocked from being able to view my cards while waiting for my opponents to finish their initial selection. I'd like to be able to think/plan. Thanks for considering!

[2020-09-23 17:25] kevinb9n opened #1367 "Better default selections for how to pay for things?"
When it asks how I want to pay for something, it seems that the default selection is to prefer spending MC, and then only spend metals or spendable card resources (e.g. Psychrophiles) when I don't have enough MC.

That seems backwards to me as a default? Except in the case of Helion/Heat, these resources *usually* aren't good for any other purpose. I think you would usually want to spend these res

[2020-09-23 17:34] kevinb9n opened #1368 "Simple visual indicator when you are "overpaying" for something"
For example, if a card costs 10, and I select to pay 4 titanium for it, it would be very helpful if the UI changes in some small way to show that I am not getting the current full value out of the final titanium.

Suppose my goal is to avoid doing more mental math than I have to (which fair, because you only have so much brain power to use). Right now, suppose I have 5 titanium and 0 MC selected.

[2020-09-23 21:02] ap3h3ad opened #1370 "Auto pass"
I think it would be a nice enhancement to have an option to auto pass the next turn. Because sometimes you know that the only thing you will do next turn is to pass while others may play some rounds. Instead of forcing them to wait for your move which is only passing the round a checkbox ore something like that would be nice that I can check e.g. if I go to sleep so the other players can proceed w

[2020-09-23 21:33] kevinb9n commented on #1233
Might the backlog eventually became "complete", meaning that one could completely reconstruct the game as it happened from the log alone (excepting hidden information)?

One thing it would need is, for every user action taken (either to the right or beneath), a list of numbers and icons that show all the inflows and outflows of resources and production capacities that happened as a result of that

[2020-09-23 21:46] kevinb9n opened #1371 "Giant Ice Asteroid vs Arctic Algae"
Lost the game id, but a couple nights ago I played Giant Ice Asteroid on my wife, who owned 3 plants. It seems to have tried to deduct 6 plants first (actually removing all 3 that she had), and *then* process Arctic Algae to give her the 4 plants from my two ocean placements. So she ended up with 4 plants, when I thought she should have ended up with only 1.

I believe the official rule is that th

[2020-09-23 22:08] kberg commented on #1371
Checking the rulebook, page 9, A, 2.

"Then the lower panel of the card shows you any immediate effects. These effects (and other effects triggered by the card you just played) are performed in any order you choose."

[2020-09-23 22:10] kberg commented on #1371
I would imagine getting that to work in a way you expect would require a meaningful change to the way the code is structured (from declarative to storing a list of effects, and then changing the UI to ask for resolution order. Probably not trivial, but a fundamental change to game structure.

[2020-09-23 23:53] kevinb9n commented on #1371
Just to be clear, I'm also okay with it picking an order itself, if it could pick one more obviously favorable to the active player.

[2020-09-24 05:16] kberg opened #1373 "Game.Generates random milestones and awards is flaky"
This seems to be happening due to #1306

 3) Game
       Generates random milestones and awards:
     Error: Selected space is occupied
      at Game.addTile (dist\src\Game.js:1166:23)
      at Game.setupSolo (dist\src\Game.js:1410:14)
      at new Game (dist\src\Game.js:130:18)
      at Context.<anonymous> (dist\tests\Game.spec.js:275:20)
      at processImmediate (internal/timers.js:456:21)

[2020-09-24 06:11] #1373 closed

[2020-09-24 06:47] kberg commented on #1281
## Status update 2020-09-23:

Focus on:
* Better icons for cards. Made good progress, but needs a CSS expert to assist.
* Fixing the code so ocean tests work.
* Write AresHandler tests for hazards and adjacency.

A manual test shows most hazards work -- but for some reason 6 oceans didn't remove the dust storms. Overplacement worked.
Logging is both insufficient and broken. There is some condition

[2020-09-24 08:48] chosta commented on #1370
It could definitely be done, but I'm a bit conservative about auto actions. Users usually get confused when things happen without any warning.

[2020-09-24 08:49] chosta commented on #1368
Some good suggestions here. They coincide with some of the interfaces that we are working on at the moment. The new Log a.k.a. actions screen is going to be the focal point of the app and we will try to make it as informative as possible but not too cluttered too. Hard task :)

[2020-09-24 08:50] chosta commented on #1366
It's not on purpose and we are going to fix soon enough.

[2020-09-24 09:14] nivaivax commented on #1205
Agreed! Also, saw nothing for Linux, so that was a bit of guessing...

Would be good to add some more info on maintenance, eg. what happens if I restart? Best way to access database?
Daemonizing it (eg. pm2)

[2020-09-24 09:17] ap3h3ad commented on #1370
Hi!

Well, the user would actively click that radio button and it could be done in such a way that the checkbox gets deactivated after the auto pass. And it also could be implemented as optional (like the fast mode and many other features).

[2020-09-24 09:50] vsrisuknimit commented on #1371
@kevinb9n from #703 It was fixed. The current order is temp, ocean, ocean and plant destruction.

See https://github.com/bafolts/terraforming-mars/blob/95a79236dee9857b863d0bd357642fb39d66cc74/src/cards/GiantIceAsteroid.ts#L31

Are you sure about what you saw?

[2020-09-24 10:01] vsrisuknimit commented on #1367
@kevinb9n I disagree with always spending steels and titaniums. As you said Space Elevator, Jovian Lantern, Security Fleets and other cards require metals to activate. It would be more annoying to have to deduct titanium every time you play space card until you activate Jovian Lantern. You might accidentally forget to do that. Even in the case of psychrophiles, sometimes you want Ants to eat them

[2020-09-24 10:17] nwai90 commented on #1367
**Current logic:**
1. No auto selection of other resources if user can afford with MC alone
2. Auto select to spend other resources (e.g. steel/titanium) if user cannot afford with MC alone
3. Will never overpay by default

I agree with @vsrisuknimit that a MAX button would be a good idea as long as we maintain condition (3) - the default selection should never result in overpayment

[2020-09-24 10:24] nwai90 commented on #1370
One interesting possibility here is to build a game option to "Enable pre-plays".

This is an "expert" feature I saw on https://hanabi.live that enables you to preselect your actions for the next turn (and very importantly, to also cancel them) while other players are taking their turns. Implementation will require some effort though. We could put it in `#vote-on-issues` if this direction is worth

[2020-09-24 10:28] nwai90 commented on #1368
@kevinb9n Did you enable in-game alerts in Preferences panel? There is a simple alert that will give an overpayment warning right now. UI will likely be improved at some point in future

[2020-09-24 15:15] pierrehilbert commented on #1316
The problem isn't solved, if we close the milestone part, it still deselects cards.

[2020-09-24 16:43] chosta commented on #1316
@alrusdi @pierrehilbert sorry about that. I thought the problem was in keeping the milestones and awards open during initial selection. Will work on the fix for "deselecting" now.

[2020-09-24 19:48] vsrisuknimit opened #1375 "Helion and Reds policy"
If Helion has 8 heat and zero mc, then raises the temperature while Reds is ruling, the game is irrevocably stuck since it cannot pay the 3 mc to the Reds policy.

![image](https://user-images.githubusercontent.com/14239220/94192605-2eeef200-fe7d-11ea-9cea-666b835387c3.png)

[2020-09-25 01:46] kevinb9n commented on #1303
Would you mind explaining why not?

The link seems to answer the question "does it", but I was asking "should it".

[2020-09-25 02:24] kberg commented on #1303
I think @kevinb9n has got a point, @alrusdi.

https://ssimeonoff.github.io/cards-list#009
https://ssimeonoff.github.io/cards-list#010
https://ssimeonoff.github.io/cards-list#011
https://ssimeonoff.github.io/cards-list#039

[2020-09-25 02:59] pocc opened #1378 "Add SEMVER tags on changes"
Proposing to start at 0.0.0 with a new PR

Given version X.Y.Z,

X => Major version. This is some form of release. This issue contains no proposal for what constitutes v1 at this time.
Y => Minor version:  New feature added that is user visible.
Z => Patches/Bugs: Trivial additions and bug fixes.

To tag, use  `-a` like `git commit -a v0.0.0 -m "commit message"`, and push with `git push origin mas

[2020-09-25 05:31] kberg commented on #1281
Status update 2020-09-24:

Completely forgot about milestones and awards. So, very little change, but I'm adding more items to the list.

# Card behavior
+ 100% Basic cards
+ 100% Ocean cards. Huh, that was simple. Though the tests are proving sticky.
-   0% Hazard cards: blocking on updating the board, saving for last.

# Underlying Ares functionality
+100% Adjacency benefits: missing a couple of

[2020-09-25 06:32] kevinb9n commented on #1371
Well, I feel about as sure of it as anyone feels about anything. :-) We stared at it for a while. I fairly distinctly recall the log even saying explicitly that 3 plants were removed.

[2020-09-25 06:35] kevinb9n commented on #1368
oh that's hot, I will try that!

[2020-09-25 06:39] chosta commented on #1378
That would be great if all devs agreed on it + enforced some rules and proper git flow. The thing is that work is going on well in the repo and restrictions / rules might cause more trouble then be helpful. But its a good time to open the discussion about processes and streamlining the work.

[2020-09-25 06:49] alrusdi commented on #1360
I give up on it. Weblate does not provide all the features we need too:
1) Can't edit once created translation key
2) Does not provide a simple way to export en_string => loc_string. It breaks the original strings by sentences

[2020-09-25 06:55] kevinb9n commented on #1367
Whatever you want to do here is fine but let me just plead my case a wee bit :-)

The fact that we're here enumerating interesting cases where you don't want to use up resources first, I think actually *supports* my point: that these are indeed the *special* cases.

(Another special case might be the interval between when you acquire Advanced Alloys until you play it.)

Certainly either default be

[2020-09-25 13:12] vsrisuknimit commented on #1360
@alrusdi back to Pontoon then?

[2020-09-25 13:31] alrusdi commented on #1360
Only if somebody other than me will do it. I can't figure out of how to deploy it to VDS

[2020-09-25 18:27] kberg opened #1388 "Playwrites test flaky?"
From the main branch:

Playwrights
       Can replay other player's event:

      AssertionError: expected 1 to equal 2
      + expected - actual

      -1
      +2

[2020-09-25 21:43] kberg opened #1389 "Change request to the heroku wiki page"
I can't send wiki PR :'-(

The first numbered section has 10 items, I'm asking for #9 and #10 to become the following.

9. `heroku create [app name]` ([app name] is whatever you want to call your server. The server will eventually be `[app name].herokuapp.com`, and the git repo will be  `https://git.heroku.com/[app name].git`.)
10. `git push heroku master`

(If you want to push from another branch

[2020-09-26 03:14] pocc commented on #1378
So make adding a tag tied to making a commit so no work is required.

possible pre-commit hook options:
* auto-increment patch in tag if on new commit, there is a newer changelog wiki entry
* auto-increment patch in tag on any commits that have "Merge pull request" in the message

At worst, use CALVER or add 7char commit hash to the tag.

What do people think?

[2020-09-26 03:27] nwai90 commented on #1378
If we adopt this I would go with `"Merge pull request"` as it's cleaner - a single PR usually comprises of several atomic commits related to the same functionality

[2020-09-26 07:54] kevinb9n commented on #1371
Yup, just saw it again. I think this screencap proves it?

![image](https://user-images.githubusercontent.com/934551/94335795-c6923480-ff92-11ea-86a2-1fcb1111faf9.png)

[2020-09-26 07:56] kevinb9n commented on #1371
Just to be very clear, Deimos Down *did* take 6 plants, leaving me with zero, then I had 2/4/6 from Arctic Algae as she placed her oceans, and then... nothing, I just got to keep them!

[2020-09-26 08:34] nwai90 commented on #1371
Confirmed - this issue is reproducible.

**Scenario:**
- P1 has Arctic Algae and 0 plants
- P2 plays GIA

**Expected:** P2 should be able to remove 4 plants from P1 after oceans are placed

**Actual:** P1 gains 4 plants, P2 is not prompted to remove them. The check for targets seems to be done before the oceans are actually placed onto the board (hence there are no valid targets at that point). No

[2020-09-26 12:26] vsrisuknimit opened #1391 "Feature request: indicator for protected plant resource and metal bonus"
- Tiny shield icon next to plant resource box for Protected Habitat and Asteroid Deflection System.
- One white dot for each metal resource bonus. For example, two dots next to titanium if a player has both Advanced Alloys and Mercurian Alloys. Don't think it should take Unity into account here.

![Untitled-1-01](https://user-images.githubusercontent.com/14239220/94340696-c2393c00-ffd1-11ea-9daf-4

[2020-09-26 12:26] vincentneko commented on #1364
Could be related with a server restart with trade colony bugfix.
Is it reproductible ?

[2020-09-26 12:26] vincentneko commented on #1348
Fixed and merged

[2020-09-26 12:26] #1348 closed

[2020-09-26 14:14] vsrisuknimit commented on #1391
![Untitled-1-01](https://user-images.githubusercontent.com/14239220/94342731-0122be00-ffe1-11ea-97e7-7360b9e89d76.png)

Alternative with + symbol instead of white dot.

[2020-09-26 18:19] kevinb9n opened #1392 "Distinguish between tag overview and the # of events played"
The UI shows how many events each player has played, but it does so in a misleading way that makes it appear that the player has that many "event tags". I think it would be better to move this or restyle it so that it doesn't confuse users who are for example working on Diversifier.

[2020-09-26 18:50] mloballer opened #1393 "New card design on the TM Cards List site"
I noticed on https://ssimeonoff.github.io/cards-list, there is a new card design, will this design be transferred over to this version of the game? thanks!

-Mitch

[2020-09-26 20:51] kevinb9n commented on #1391
I don't think I get any votes here :-) but I like it!

I think the titanium bonus dots will be confusing/misleading if they don't factor Unity in, though. You'll end up getting bugs filed about it.

Might as well also show the shield next to "RES: N" on a card? Pets would always have it. Pretty useful.

[2020-09-26 22:14] vsrisuknimit commented on #1364
@vincentneko That seed was gone. I will try to see if I can reproduce it.

[2020-09-26 22:15] vsrisuknimit commented on #1391
![image](https://user-images.githubusercontent.com/14239220/94351157-1cfb8380-0024-11eb-9084-51c197928f13.png)

Something like this?

If you are already looking at the opponent's animal cards, would you not already see their protected habitat?

[2020-09-26 22:20] pocc opened #1394 "Change favicon/tab title text"
Via Nils from Discord:

# tab title

Board Game Arena does this as well and we might as well copy it.

## action required

![ezgif com-gif-maker](https://user-images.githubusercontent.com/10995145/94351209-5b387900-000b-11eb-8e09-5dfe0d14794c.gif)

## no action required

![image](https://user-images.githubusercontent.com/10995145/94350435-37713500-0003-11eb-93b3-78f02c656d95.png)

# favicon

![ima

[2020-09-26 22:23] pocc commented on #1394
@chosta

[2020-09-26 22:35] pocc commented on #1394
I'm limiting this issue to just the favicon now. Let's use #430 for title change as it already exists.

[2020-09-26 22:37] #1394 closed

[2020-09-27 04:22] kberg opened #1396 "Don't let buttons be re-clickable, and make them not look clickable"
I've been spending my entire time using this app on a very slow network connection. Time between my clicks and response are in seconds. Please provide some visual cue that action button was clicked - I have no idea. Also, please prevent clicking a second time.

[2020-09-27 04:25] kberg opened #1397 "Add hover hint on corp names"
The corporation "Cheung Shing Mars" is too long a string to show in the player-corp div.  Can you provide full corp names on hover?

[2020-09-27 04:36] kberg opened #1398 "Make GameLog resilient to thrown errors"
I wrote some bad logging code. Which is -- look -- that happens. But when the bad logging entry makes it down to the client, and LogPanel doesn't know what to do with it, no log appears.

So while I should fix all my logs, LogPanel needs to be safer.

FYI it was parseData, this line:

            if (data.type !== undefined && data.value !== undefined) {

when data was undefined.

There are things

[2020-09-27 04:47] kberg opened #1399 "Click on a card in the log panel a second time to remove the card from the display"
Clicking on a card in the panel pops up the card. That's great! I'd like clicking it a second time to remove the card. That's much easier than moving to the [X].

[2020-09-27 05:32] kberg commented on #1399
I wonder if this would work:

[code]

[2020-09-27 05:34] kberg commented on #1399
Yep, that works.

[2020-09-27 06:10] kyshantry commented on #1391
Yes, excellent! I like the pluses or the value of the resource; I feel like the value of the resources will be a bit noisy though. I agree don't include unity. And per the example with strat birds: yes, just like that. Sometimes folks have a billion blue cards and if you're just checking for animals you might miss protected habs :)

[2020-09-27 07:29] kevinb9n opened #1400 "Initial cards selection: please consider allowing all cards to be selected"
Currently, the interface permits too few cards to be selected -- giving an error if you try to start -- but will not permit too many cards to be selected -- for example 3 preludes or 2 corporations.

However, for me, and I *think* for many other players, our process of deciding our initial cards is much more a process of progressively ruling OUT cards until the right number are left. That is, I wo

[2020-09-27 08:13] nwai90 commented on #1400
@kevinb9n I'm not sure that this is the norm actually. It seems somewhat strange to me but this is definitely a matter of personal preference. I believe https://github.com/bafolts/terraforming-mars/issues/1285 which is being worked on right now would be quite helpful in that regard.

[2020-09-27 15:03] bafolts commented on #1364
Looking through the colonies improvement PR and seeing what stands out to me as potential source of bugs.

https://github.com/bafolts/terraforming-mars/blob/master/src/Player.ts#L690

I would think this would be `undefined` and not `null` if the value were not found.

[2020-09-27 15:33] kberg commented on #1398
<img width="516" alt="1398" src="https://user-images.githubusercontent.com/413481/94368989-31d42780-00b5-11eb-8d0d-440adc1671cf.PNG">

[2020-09-27 16:14] hinrik opened #1405 "Incorrect game end loss"
Just played this for the first time (solo game), and as I started generation 12, the game ended and told me I lost. How is that possible? I thought you had 14 generations to terraform. In fact, as I started generation 12 I already had enough resources (42 heat, 56 MC) to max out the remaining oxygen and temperature during that generation.

https://terraforming-mars.herokuapp.com/the-end?id=da2a738

[2020-09-27 16:17] kberg commented on #1405
Did you play with Prelude? With Prelude you only get 12 generations.

On Sun, Sep 27, 2020 at 12:14 PM Hinrik Örn Sigurðsson <
notifications@github.com> wrote:

[2020-09-27 16:35] hinrik commented on #1405
Oh, I see. But with 42 heat resources (enough for 5 increases) and 56MC (enough for 2 asteroids and a greenery) that's enough to max out the resources, so I should have won, right?

[2020-09-27 16:37] hinrik commented on #1405
Maybe I misunderstood and I was actually finishing generation 12's production phase rather than starting that generation.

[2020-09-27 19:58] kevinb9n commented on #1400
I equally am not sure whether it is common, so we'll see what others have to say.

Example thought process: I have no VP icons, so I'll throw out Vitor. Next, I have no expensive cards, so I can throw out Excentric Sponsor. Let's also throw out all the project cards with late-game requirements. Now I can ponder what to do about everything that's left.

[2020-09-27 20:06] kevinb9n commented on #1400
I'd also question whether this change has any real downside? The card counts need to be checked when clicking "Start" anyway [currently, post-click, but ideally the button would just not be clickable]. And another error condition is "can't afford all these cards". This would just be another kind of "you selected too much" that could happen.

[2020-09-27 20:12] kevinb9n commented on #1391
I can think of two arguments against accounting for Unity:

a) it's not necessary for some purposes, like deciding which player to decrease the titanium production of
b) the user who sees it might accidentally think it's permanent, remember that, then be surprised later

Are there others?

(a) doesn't seem like an actual disadvantage, and for (b), the whole point of this feature is users not havin

[2020-09-27 20:16] kevinb9n commented on #1391
Oh, and re: "would you not already see their protected habitat?"

That relies on your knowledge that Protected Habitats is the only card that can have this effect, or your searching through all their cards. And perhaps also remembering to read their Pets card fully.

[2020-09-27 20:22] kevinb9n commented on #1281
I had the chance to try out a game with @kberg's latest code as of yesterday, and I think it's a pretty great expansion. Instead of just adding more separate boards to look at, it makes the main board much more interesting. That is cool.

I would love to see it included under some kind of "community" heading like you're using for Agricola corp!

[2020-09-27 20:37] vsrisuknimit commented on #1391
@kevinb9n protected habitat is the only one card that protects animals and microbes.

Asteroid Deflection System protects plant resources only.

[2020-09-27 20:43] kevinb9n opened #1407 "Give the user a little help calculating requirements?"
It would be awesome if we could visually distinguish a requirement that is currently satisfied from one that is not, somehow.

And it would be *amazing* if I could hover on a requirement and see both what my own current modified version of that requirement is, and what my current progress toward is. For example, perhaps the temp requirement is min -10 C, and when I (as Inventrix) I hover I see "Cu

[2020-09-27 20:47] kevinb9n commented on #1391
That is what I believed to be true. My point above is that it would be better not to *depend* on users having that information. Sometimes we crazed TM fans want to play against our friends who don't have the encyclopedic knowledge. And sometimes new expansions come out.

[2020-09-27 20:56] kevinb9n commented on #1391
[Just a very minor footnote about Pets: I do think the shield icon should always be displayed there, even though one still has to read the card text to learn that YOU also can't remove your own pets yourself. I think that's fine, because what the shield communicates is still 100% true.]

[2020-09-27 21:33] kevinb9n opened #1408 "Discovery of microbial life in the Martian soil is a major event, surely worthy of being mentioned in the game log :-)"
I think it should output a message in the game log saying something like "Life has been found!"

[2020-09-27 21:42] SliceOfBread commented on #1405
Perhaps, for Solo, it could say "GENERATION 1 of 12" or "GENERATION 1 of 14" as a reminder to people who sometime play one or the other and may forget to scroll to the bottom to see if there are prelude cards? (Yes, I just did this!) I will see if I can do this.

[2020-09-27 21:48] kberg commented on #1405
That sounds reasonable.

[2020-09-27 22:11] kevinb9n commented on #1285
I think this would be an excellent feature. Some thoughts:

For any MC amount that is guaranteed to be given or deducted by Corp reveal effects, I believe the value *should* account for those adjustments. If it doesn't, I think it will violate user expectations and they will file bugs. And they'd be right to: consider that whether Vitor had been written as "45 MC, effect includes itself" or "48 MC

[2020-09-27 22:36] kevinb9n commented on #776
@FrankJones314 I just happened to file the same request, as part of bug 1407.

[2020-09-27 23:01] kevinb9n commented on #1004
If #1285 is implemented as currently discussed it will take care of this; the user would simply have to notice that they will have a negative amount of MC left after Preludes.

I believe that nothing else can cause a Prelude to be unplayable, unless you bizarrely take Ecology Experts/Eccentric Sponsor and no project cards. That seems strange enough that you could consider this issue resolved anywa

[2020-09-27 23:45] kevinb9n commented on #1110
I almost filed this myself today! I strongly agree that a *complete* and machine-readable game log would be an awesome thing to have.

How do we feel about JSON format? This would be easily parseable by anyone for any purpose, whatever language they wanted to program in.

I would be happy to start drafting a schema if that's okay?

Of course, it needs to record:

* all game configuration options,

[2020-09-27 23:59] trilz commented on #1110
Yeah, that would be awesome. I would love to help out by showing what I would do with the parsing, though I'm unsure how much I can offer with schema design.

[2020-09-28 01:00] kevinb9n commented on #1110
@bafolts what's your level of interest in discussing this offline?

[2020-09-28 03:12] nwai90 commented on #1408
@kevinb9n It's a minor change yes. I'll add it in as `{PLAYER} found life!`

[2020-09-28 04:42] kberg commented on #1391
Something to keep in mind: Ares also has an animal card you can't remove from, ref https://github.com/kberg/terraforming-mars/blob/3573414169bcdcf465d90a08d7f463ae45f0245d/src/cards/Virus.ts#L33

Such a generic indicator would be welcome. (Say, a card attribute, eg `resourcesProtected`) that could drive this annotation.

[2020-09-28 06:15] #1398 closed

[2020-09-28 06:16] #1397 closed

[2020-09-28 06:36] #1399 closed

[2020-09-28 06:40] alrusdi commented on #1396
It is seems to be easy task. Let me try do do it

[2020-09-28 06:43] alrusdi commented on #1393
may be someday

[2020-09-28 06:43] #1393 closed

[2020-09-28 06:54] kberg commented on #1281
Status update 2020-09-28:

Big update today.

[code]

# TODOs
15.

[2020-09-28 06:58] kberg commented on #1396
Oh, thank you. I'll be grateful.

[2020-09-28 07:07] nwai90 commented on #1375
Fixed and merged

[2020-09-28 07:07] #1375 closed

[2020-09-28 07:07] nwai90 commented on #1357
Fixed and merged

[2020-09-28 07:07] #1357 closed

[2020-09-28 07:07] nwai90 commented on #1408
Implemented

[2020-09-28 07:07] #1408 closed

[2020-09-28 11:35] vsrisuknimit commented on #1364
Not reproducible any more. Closing this.

[2020-09-28 14:29] SliceOfBread commented on #1405
I don't know Vue well enough (hardly at all) to make this change. I think it needs something like:
`{{ game.players.length === 1 ? " of " + (game.gameOptions.preludeExtension ? 12 : 14) : "" }}`
added to src/components/PlayerHome.ts (on line 128 of the version I'm looking at)
but it is not clear to me how to get those variables visible. Hopefully someone will make this change and I will learn a bi

[2020-09-28 15:17] bafolts commented on #1110
Well. I can get in rudimentary functionality that provides the link to download. At that point the format could be updated without me.

[2020-09-28 15:24] cdekker opened #1411 "Feature request: Venus TR track mandatory"
We play with a house rule that the Venus terraforming track is mandatory to complete to end the game.

Would it be possible to add that as a starting option?

[2020-09-28 17:01] kevinb9n commented on #1110
What I'm interested in first is to find out who's interested in a discussion of that format itself.

For example, two of my ideas above will bloat the file size a lot (including all atomic effects, and using JSON format), but I'm hoping that if the file exported is a ZIP of that, then that should make it fine. Just checking for objections to this.

And it would be useful to review the schema with

[2020-09-28 17:36] SliceOfBread commented on #1110
My opinion, for what it's worth.
JSON - good idea. As you say, it can be ZIPed or otherwise encoded to reduce size, if needed.
Having a flag for decisions by players vs. automatic by app would be useful (see my example above with the '--' marks).
As for 'hidden' cards, are they really hidden? If the game be replayed using the game ID meaning the shuffle will be the same and the 'hidden' cards can

[2020-09-28 18:31] kevinb9n commented on #1110
Okay how about this: I'll focus on the full format, but also distinguish between player choices vs. the effects that could be inferred from those choices, so that a concise mode would be possible.

Let me restate the part about hidden information. I think the log needs to record the identity of each card drawn at the time it is drawn, and each card discarded at the time it is discarded. (Of course

[2020-09-28 18:44] kevinb9n commented on #1408
Thanks!

[2020-09-28 19:59] kevinb9n commented on #1313
Ranked preferences for color would be nice, but I would argue against a change that shows the same game to different people with different color assignments. Players in chat will say things like "yeah I had to place there even tho it gave red a point" and people will be confused. I'm sure that wouldn't happen *often* but I just feel like the game should look the same to everyone.

[2020-09-29 08:38] ssimeonoff opened #1413 "Feature request: Custom card selection highlight"
## Reason
Some people (experienced players) prefer the selected card label as it is now - big and obvious, without caring if it covering text on the card. For other players though, this is a game-breaking flaw as they are new to the game and don't know the cards.

## Suggestion
Add options in Settings to toggle between various selected card designs.
Identify few desired designs and add them as opt

[2020-09-29 12:40] chosta commented on #1407
Not a bad idea, just FYI we avoid hovers as if the floor is lava because of no hover on mobile.

[2020-09-29 12:40] chosta commented on #1411
Definitely possible. Might be added soon.

[2020-09-29 14:09] bafolts commented on #1110
Will need to track more information if determining which cards were drawn at the time they were drawn. Only displaying certain information to the user would be handled by filtering within the vue component.

Without considering the format of the output we will need to re-visit how we are storing the log data. When we add a `LogMessage` the caller is driving the template string.

[code]

This makes

[2020-09-29 14:11] bafolts commented on #1110
I can focus on migrating to `LogMessage` classes which will allow us to change the template when we want to display the data and only store the data.

[2020-09-29 16:24] kevinb9n commented on #1407
Ah right. Well, at least for "Cards in Hand" tapping on the card has no other action assigned right now, so maybe it could use that? It would be nice-ish to still use hover for desktop, but I'd be happy to have this information available no matter what the UI.

And to be clear, even if the only part we get is the visual indicator of "currently met or not" that's already a big help especially while

[2020-09-29 16:30] kevinb9n commented on #1413
I imagine the difference between who selects this preference and who doesn't might boil down to "I know the cards well" vs "I'm still learning them". In the experienced mode maybe they would want a streamlined icons-only view without the (mixed-case) text so there's less to get covered up in the first place?

[2020-09-29 18:40] andystager opened #1417 "Saturn Systems with Prelude Tags"
When playing as Saturn Systems and selecting a Prelude card with a Jovian Tag, the +1MC bonus did not apply.

[2020-09-29 22:03] Maelstrom1 opened #1418 "[Bug] Some icons missing after icon update"
Not all of the new icons seem to have imported properly....
Can't confirm that this happens to more than this, but I found this in the current heroku version
![chrome_kvWyDvFDN4](https://user-images.githubusercontent.com/20371049/94621230-f042a880-027d-11eb-9af1-bbed5123b233.jpg)
Seems to be fine on the cards list area.

[2020-09-29 22:04] kevinb9n commented on #1110
Unfamiliar as I am with the codebase, this makes sense so far.

Also, since the eventual goal is that *every* state change is being logged consistently, we'd want to make sure that those variables are never tweaked directly but always go through a function call (i.e. make all those state variables private), so the logging can be added in one place. Awkwardly perhaps, such a function would want to

[2020-09-29 22:22] SliceOfBread commented on #1110
I think this issue may have veered off topic and likely due to me. The original idea was just to be able to get the entire log for the game. Currently, when the game ends, you can look back in the log a few generations but it cuts off there. Is the entire log on the server? Could there be a link to get the whole thing? That was the original question.

It has morphed into this other thing which is

[2020-09-29 22:25] #1245 closed

[2020-09-29 22:27] vsrisuknimit opened #1419 "Feature request: upgraded sidebar"
![TM side bar-01](https://user-images.githubusercontent.com/14239220/94623008-3b11ef80-0281-11eb-95a0-95db113c6a8c.png)

- Generation count (add max gen for solo mode)
- Global parameters
- Players' status (not necessary, less important)
- Fast mode indicator

[2020-09-29 23:25] kevinb9n commented on #1419
That is hot.

Would it be possible to reorder the player icons with the current generation start player on top, instead of needing the extra 1 symbol?

Also, I like the VCR buttons. But I would have said that the three states "my turn / waiting for my turn / out for the round" actually map pretty nicely to the VCR icons for "play / pause / stop", so what if we used those?  I'm aware that people wh

[2020-09-29 23:26] kevinb9n commented on #1419
Maybe consider some slight visual distinction for a parameter that is maxed... even I forget what the maxes are at times.

[2020-09-30 00:41] nwai90 commented on #1417
@andystager I could not reproduce the issue. Do you remember which Prelude card it was?

[2020-09-30 01:17] andystager commented on #1417
My mistake, I failed to account for the -2MC start with colonies.

[2020-09-30 01:17] #1417 closed

[2020-09-30 01:23] andystager opened #1420 ""Mining guild get no bonus when placing ocean #6" issue still persists in solo"
I just confirmed this again, but mining guild steel rate bonus is not applying when an ocean is placed in solo.

[2020-09-30 01:44] kberg commented on #1420
Hey I just happen to be looking at Mining Guild right now. What specifically about playing in solo should activate mining guild's  steel bonus?

[2020-09-30 02:04] andystager commented on #1420
There should be nothing unique about the expected outcome in solo, it just isn't working.

If I place an Ocean tile onto a location with steel or titanium, it should result in +1 steel rate. It's the same rule in standard play.

[2020-09-30 02:25] kberg commented on #1420
I'm not familiar with all maps, which map? I'll take a look at the code.

[2020-09-30 02:38] andystager commented on #1420
The resource exists on all three, but I tested on Tharsis.

[2020-09-30 03:07] kberg commented on #1420
You're right, I'm dense! I'll look later - Wifeberg has me for a game.

On Tue, Sep 29, 2020, 10:38 PM andystager <notifications@github.com> wrote:

[2020-09-30 05:00] kberg commented on #1281
### Status update 2020-09-22:

The only change was the Underlying Ares Functionality, which went from 90% to 100%. I added a fascinating little unit test the type of which I haven't seen yet - serialization and deserialization. I also fixed bugs related to hazard deployment as a response to global parameters. Unit tests continue to be useful.

Ongoing I'm moving from a % to an issues-list. But jus

[2020-09-30 05:42] kberg commented on #412
I'm interested in this, as I've found myself dealing with cross-referencing a card's HTML to its coded behavior many times. A shared CardMetadata would help no matter whether the card was generated by template, or HTML.  As two examples, cost and tags are really rather easy to combine.

Now, should this be a Vue component? Sure! But even as a stepping stone, that CardMetadata can be used to genera

[2020-09-30 05:46] kberg commented on #743
Looks like this is partially implemented. I personally would like a small ding with every log message. Is anyone looking at this?

[2020-09-30 06:43] alrusdi commented on #1420
@nwai90 fixed it

[2020-09-30 06:43] #1420 closed

[2020-09-30 06:51] #1405 closed

[2020-09-30 07:39] nwai90 commented on #743
@kberg We can close this issue for now. I like having more sounds too (e.g. different types of tile placement sounds) but it's a bigger task to add those as the client is currently stateless

[2020-09-30 10:44] nivaivax opened #1425 "FAQ / Readme / Setup"
Would be great to have some more info on how things work. Perferably in the wiki?

Added a few things, mostly around linux and setup, in this google doc, if there's anything worth using or changing, feel free to do so. It's editable.

https://docs.google.com/document/d/1p4u6yHnmlAPHWZUsZoWqPVd6P2427HTWtUeoZKm9OQ8/

[2020-09-30 10:47] vsrisuknimit commented on #1418
Colony, trade fleet, and trade still use the old icons.
![image](https://user-images.githubusercontent.com/14239220/94676138-dee2b600-02e8-11eb-852d-0beafa55b691.png)

[2020-09-30 10:49] vsrisuknimit commented on #1418
Venusian plants, thermophiles, freya biodomes have venus icons significantly raised.

![image](https://user-images.githubusercontent.com/14239220/94676166-e86c1e00-02e8-11eb-9e02-4940b999a6f8.png)

![image](https://user-images.githubusercontent.com/14239220/94676233-020d6580-02e9-11eb-95e0-ee58371da4da.png)

![image](https://user-images.githubusercontent.com/14239220/94676257-0afe3700-02e9-11eb-8b

[2020-09-30 10:52] vsrisuknimit commented on #1418
These cards use black venus V instead of white on blue.

- Airscrapping expedition
- Hydrogen to Venus
- Stratopolis

![image](https://user-images.githubusercontent.com/14239220/94676308-22d5bb00-02e9-11eb-8ae1-3177d8d43498.png)

![image](https://user-images.githubusercontent.com/14239220/94676322-2701d880-02e9-11eb-82f9-6526d5c68363.png)

[2020-09-30 10:53] vsrisuknimit commented on #1418
Atmoscoop icons are all messed up.

![image](https://user-images.githubusercontent.com/14239220/94676625-a2fc2080-02e9-11eb-949e-dd3c1bbcbbb5.png)

[2020-09-30 10:54] vsrisuknimit commented on #1418
Rotator Impacts misses the titanium icon for the cost of action

![image](https://user-images.githubusercontent.com/14239220/94676675-b27b6980-02e9-11eb-808f-66f30f39dc89.png)

[2020-09-30 10:59] vsrisuknimit commented on #1418
Asteroid resource cards have both A and asteroid icon, overlapping.

- Asteroid Hollowing
- Asteroid Deflection System
- Comet Aiming
- Directed Impactors

This card only has A and not asteroid icon.

- Rotator Impacts

![image](https://user-images.githubusercontent.com/14239220/94676993-2c135780-02ea-11eb-9e03-7bab1be6a250.png)

[2020-09-30 11:05] vsrisuknimit commented on #1418
Give more space between number and resource icons. They are too close.

![image](https://user-images.githubusercontent.com/14239220/94677629-397d1180-02eb-11eb-8fb8-9b35db2eba60.png)
![image](https://user-images.githubusercontent.com/14239220/94677643-40a41f80-02eb-11eb-93de-6519e7bf72a6.png)

[2020-09-30 11:09] vsrisuknimit commented on #1418
These cards are badly misaligned.

![image](https://user-images.githubusercontent.com/14239220/94677459-ec00a480-02ea-11eb-9428-ae499e467018.png)

![image](https://user-images.githubusercontent.com/14239220/94677728-63cecf00-02eb-11eb-8bfd-c8cf6a8aa681.png)

![image](https://user-images.githubusercontent.com/14239220/94677823-8b259c00-02eb-11eb-95e6-4d37658f844b.png)

![image](https://user-images.

[2020-09-30 11:23] vsrisuknimit commented on #1418
These jovian are too close after slash (/).

![image](https://user-images.githubusercontent.com/14239220/94679019-6c280980-02ed-11eb-9f3e-ed29e759023f.png)

![image](https://user-images.githubusercontent.com/14239220/94679076-806c0680-02ed-11eb-9359-b16e0f88bc60.png)

[2020-09-30 11:29] vsrisuknimit commented on #1418
The production box should be lighter. It is hard to see -/+ signs, red border, and number.

![image](https://user-images.githubusercontent.com/14239220/94679773-a8a83500-02ee-11eb-8110-9cd95dee64f4.png)

![image](https://user-images.githubusercontent.com/14239220/94679829-ba89d800-02ee-11eb-9564-41fb60e6d8d1.png)

[2020-09-30 11:34] vsrisuknimit commented on #1418
The parameters could all be in one line.

![image](https://user-images.githubusercontent.com/14239220/94680236-67645500-02ef-11eb-9b60-a2242513475c.png)

[2020-09-30 11:47] vsrisuknimit commented on #1419
@kevinb9n The idea is that we want the user icon to always be at the bottom, consistent with the resource table during the game. So we cannot have 1st player always on top.

[2020-09-30 11:48] vsrisuknimit commented on #1418
Turmoil parties: Reds and Kelvinists icons are a bit messed up.

![image](https://user-images.githubusercontent.com/14239220/94681321-38e77980-02f1-11eb-892f-97ab26fb4158.png)

[2020-09-30 11:49] vsrisuknimit commented on #1418
For colony trade income, move the x a bit to the left.

![image](https://user-images.githubusercontent.com/14239220/94681463-7d731500-02f1-11eb-8ebe-7ea26843c154.png)

[2020-09-30 11:58] chosta commented on #1418
@vsrisuknimit the Colonies should be fixed with this #1424
It was not only the X.
Grids, cubes, colonies, cards animals all over the place :)

[2020-09-30 12:32] vsrisuknimit opened #1426 "Small feature request: rearrange tags in summary table"
- Move none closer to wild tag since it is still a tag, somewhat.
- Event to the right since it is not really an on-going tag at all.
- Small thin line between separating None and Event from the rest of tags. Good to know how many tags you actually have.

![image (10)](https://user-images.githubusercontent.com/14239220/94685457-70592480-02f7-11eb-879c-e1c1ca74ba51.png)

Tagging @chosta

[2020-09-30 12:45] alrusdi commented on #1426
I want a toggle tags view widget to be redone toooo.
Visually implement it like arrows on the right side. And keep tags in concise view in columns but hide the columns if each player has no tags in it

[2020-09-30 13:38] kberg commented on #743
How does statefulness play into this? Maybe it's because I'm interested in
a specific subset of changse that I don't see why that matters.

[2020-09-30 14:14] nwai90 commented on #743
@kberg Possibly. It depends on which sound(s) you want to add and where. Feel free to take a stab at it if you have a specific sound and use case in mind. We can probably keep all the sounds in one file and under the same "Enable sounds" toggle for now since there will probably be at most 2-3 of them 👍

[2020-09-30 14:49] vsrisuknimit commented on #1419
Perhaps a check mark instead of a number when a parameter is finished.

[2020-09-30 14:59] bafolts commented on #412
I will give this a trial run on one card to introduce the potential pattern and get a pull request up. After that I can do the busy work to migrate the rest of the cards.

[2020-09-30 15:23] alrusdi commented on #1418
Plus and minis signs are rendered as gray on MacOS

[2020-09-30 15:24] bafolts commented on #1110
The game log is trimmed to have a maximum size of 50 items.

https://github.com/bafolts/terraforming-mars/blob/master/src/Game.ts#L1740

We store serialized versions of `Game` in the database whenever the game state is saved. These entries would end up in the database. Removing this restriction where we log is going to increase the memory used for the game while it is running. For users hosting th

[2020-09-30 16:00] kevinb9n commented on #1110
Yep, sorry for my part in the feature creep too!

I think separate issues make sense for "just allow a log to be downloaded, whatever the contents" and "establish a sufficient game export format for arbitrary game analyses". Based on the discussion that's happened in this issue so far, it might be more convenient to repurpose this one for the latter purpose and file the separate one for what this

[2020-09-30 16:05] kevinb9n commented on #1426
This would subsume #1392 - you could dup that for this if you want.

I believe the so-called "wild tag" is definitionally not a tag either, and should also be right of the line.

[2020-09-30 16:13] vsrisuknimit commented on #1426
@kevinb9n , I agree. It is technically not one of the 11 possible tags. It also does not count toward global events during the Turmoil step.

[2020-09-30 16:47] kberg commented on #412
Great. I'm also happy to help in any way with this one - I feel like this
will be a huge help for future expansions and ongoing maintenance and
reliability. Just let me know.

On Wed, Sep 30, 2020, 11:00 AM Brian Folts <notifications@github.com> wrote:

[2020-09-30 17:45] vsrisuknimit commented on #1418
@alrusdi Also thermophiles. I forgot to include it with Freya above.

![image](https://user-images.githubusercontent.com/14239220/94721001-34d44f80-0323-11eb-958e-98f130cda0cf.png)

[2020-09-30 19:31] vsrisuknimit opened #1429 "Feature request: option for legacy UI"
Under settings, add an option to turn on or off legacy UI to replace the new design. Some players just enjoy the flat-design more.

1) Wait until the new design is more or less done.
2) Duplicate the assets folder to legacy-assets, replace all the new design icons with the legacy icons BUT make sure each and everyone of the images is of the exact same dimension as the new design, so they can be ex

[2020-09-30 21:05] ssimeonoff commented on #1429
This will require so much work, because the cards are done in a bad way (by me) and a lot of html has been changed in order to accommodate the new layout, so switching between styles is not simple.

[2020-09-30 21:20] pocc commented on #1418
These cards are misaligned 1) horizontally 2) vertically

![image](https://user-images.githubusercontent.com/10995145/94740749-ff7e3080-0327-11eb-8c09-162bfc02b2f1.png)
![image](https://user-images.githubusercontent.com/10995145/94740786-0ad15c00-0328-11eb-8d44-7e02d2c18b7b.png)

[2020-09-30 22:13] gomfunkel commented on #412
I should have a script extracting all card data around to put them into individual files. This might help reducing the amount of manual work so I‘m looking forward to your pull request and see if it could help reducing the busy work.

[2020-09-30 23:06] duckmammal opened #1430 "Dirigibles + Venusian Birds interaction incorrect"
If dirigibles is your only card with floaters on it, and you want to play venusian birds, you can pay all of the floaters from dirigibles and then not have to pay any floaters for the birds.

I guess the game is checking to see if you have floaters before payment, and then tries to remove floaters after payment. When this fails to work, you get to keep your card anyways.

[2020-09-30 23:37] kevinb9n commented on #1430
Stratospheric Birds?
Sounds like in this situation the payment dialog should only allow you to select up to N-1 of your dirigible floaters.

[2020-10-01 00:55] duckmammal commented on #1430
Yeah, strat birds.

Your solution would work only if that's the only card with floaters.

[2020-10-01 03:57] nwai90 commented on #1367
@kevinb9n After some thought, it seems less intuitive to try and compute values based on specific restrictions and edge cases. I will implement this as a MAX button that sets the maximum possible value for that resource, for all payment resources except MC. This way the MAX button will behave exactly as the user would expect, and it also works well with the overpayment warning.

<img width="439" a

[2020-10-01 04:41] nwai90 commented on #1367
Implemented

[2020-10-01 04:41] #1367 closed

[2020-10-01 07:14] kevinb9n commented on #1367
I was quite happy to see it! Thanks!

[2020-10-01 07:17] kevinb9n commented on #1430
That seemed to be the scenario we were discussing.
Is there a problem in the other scenario too?

[2020-10-01 09:58] ap3h3ad opened #1433 "Make visible who is not drafting"
Hi,

in the old design the players wo haven't drafted yet were marked. In the current design this mark is missing. Sometimes people forget to draft and to have the possibility to remind the specific player would be very nice to have. Especially because we had it before.

Cheers!

[2020-10-01 11:58] chosta commented on #1433
You are correct that it used to exist but I think it was not 100% correct. We want to add  some visual identifiers when people are in-between turns when drafting, hopefully soon.

[2020-10-01 12:05] chosta commented on #1429
Sadly, I must agree with @ssimeonoff
Adding new designs is a meticulous and time-consuming process. Even if the HTML + css from Simon was perfect (which it almost is) the switch to the old one would still take too much effort. I know for sure that everything new especially in the visual department, always raises eyebrows but I have a simple rule when it comes to these situations. **If there aren't

[2020-10-01 12:18] chosta commented on #1316
@pierrehilbert can you please confirm that this was fixed. Feel free to close the issue if so.

[2020-10-01 12:45] vsrisuknimit commented on #1429
I will work on it. I will create identical graphics but flat so one can easily replace the entire assets folder.

[2020-10-01 12:59] chosta commented on #1429
You really don't like the new design, do you :)
Ok, then. Don't be shy to ask for help. Your determination is inspiring.

[2020-10-01 13:59] vsrisuknimit commented on #1429
@chosta I like most of it actually. I just think certain aspects are too distracting and less functional than before.

[2020-10-01 14:08] vsrisuknimit opened #1435 "Feature request: Live-VP to count Turmoil points after end game is triggered."
Once the main three parameters are maxed out, live-VP tracker should immediately take in Turmoil points into account and automatically update the changes.

[2020-10-01 14:11] vsrisuknimit opened #1436 "Feature request: show Turmoil event count"
![image](https://user-images.githubusercontent.com/14239220/94820165-24c57a00-03ce-11eb-93a0-486c453862cd.png)

![image](https://user-images.githubusercontent.com/14239220/94820237-3a3aa400-03ce-11eb-8473-7e7b295e352d.png)

Similar to milestones and awards. For the incoming event, show color boxes below the event with the current count up until maximum + influence.

This will be extremely useful e

[2020-10-01 15:04] vsrisuknimit opened #1437 "Feature request: Pharmacy Union should be grayed out once it is flipped"
Currently it is not possible to tell if Pharmacy Union is already flipped or not.

We should gray out the corp card when it is already flipped.

[2020-10-01 15:10] kevinb9n commented on #1436
+1!

I think I would favor doing the full calculation of the exact number of resources/production/etc. the player stands to gain or lose if the generation ended at that moment. (I would go so far as to say that any event that looks at TR should use TR-1 for this purpose.)

Question: always show a gain as positive, loss as negative? Or follow the direction of the card wording?

Some complications w

[2020-10-01 16:04] vsrisuknimit commented on #1436
Disagree with full calculation. People can do a simple multiplication by 2 or 3 if they need.

Best to make it simple what is the most important count. Every event will just show one number for each player.
- Diversity: tag count + influence
- War on Earth: just count influence.
- Revolution: count earth tag + influence
- Ecosabotage: count influence
- Red Influence: number of set of 5 TRs above 1

[2020-10-01 16:27] kevinb9n commented on #1436
Question: how are casual players going to have any idea what the number means? This is an issue I think we'd need to resolve, no matter what choices we make for the calculations themselves.

Separately, back to the choices of those calculations... we have 8 cards that are special cases, but we have 28 cards that are the general case, in that it's totally feasible to do the full calculation, and I

[2020-10-01 16:34] kevinb9n commented on #1429
You might consider looking for examples in history where a decision was made to support multiple UIs where the developers did not come to regret it. :-) Just a friendly observation.

[2020-10-01 16:38] kevinb9n commented on #1437
Claim: a flipped Pharmacy Union is "not in play" in the very same sense as flipped event cards, so perhaps the same visual cues are appropriate for both.

Could gray out entire card, or perhaps gray out just tags and action.

[2020-10-01 16:39] kevinb9n commented on #1435
Meaning the 1 VP per party leader? I was under the impression that the Live-VP count would account for everything just as if the game were to end immediately.

[2020-10-01 16:40] chosta commented on #1429
Just to be clear. I don't think having a flat design is a bad idea. It's
the nature of the code that does not allow for a smooth transition/ switch.
If the components were done properly and we are slowly getting there, then
it wouldn't be a double effort. It's a more of a technical

On Thu, Oct 1, 2020, 19:34 kevinb9n <notifications@github.com> wrote:

[2020-10-01 16:41] chosta commented on #1435
Not for party points at the end of the last generation. It's still not
implemented.

On Thu, Oct 1, 2020, 19:39 kevinb9n <notifications@github.com> wrote:

[2020-10-01 17:20] kevinb9n opened #1440 ""Exclude some cards": support the list being pasted in"
Currently you can exclude individual cards by name.

Suppose we had defined, named, community-curated groupings of cards, spanning projects/preludes/corps/events and across expansions. And that these groups can be +'d or -'d to any game by name. It would support some use cases like

* In a colonies+turmoil+corpera game (no venus), remove all floater cards, as they're too hard to synergize
* Remove

[2020-10-01 17:35] kevinb9n commented on #1008
I like it! I hope to try it if I ever get a F2F 4p game again.

Possible alternative: team score is the smaller of the two player scores - so a player who is doing very well has to think a little more about the partner. OTOH, could result in too much counting up of VPs etc.

Cheating (in the form of back-channel communication with your partner) can't really be prevented.

[2020-10-01 18:02] nwai90 commented on #1008
@kevinb9n Definitely true here. We didn't have that problem in real life games :)

[2020-10-02 02:36] kberg commented on #1388
@nwai90 this seems to still be happening. https://github.com/bafolts/terraforming-mars/pull/1442/checks?check_run_id=1196738089

[2020-10-02 02:50] samyelias opened #1445 "Feature request: Play with some expansion cards but not rules"
We often play without the Venus and Colonies expansions, but add in all the non-Venus/floater/colony related cards (and of course don't use the Venus and colony boards). It would be nice to have an option to do this.

[2020-10-02 02:51] kevinb9n commented on #1445
See #1440

[2020-10-02 10:49] ap3h3ad opened #1450 "Bug(?): Lava Tube Settlement can't be played with all vulcanic areas blocked"
Hi,

like the title states: I've linked my _Lava Tube Settlement_ with my _Self-Replicating Robots_ and doesn't seem to be able to play the card despite the fact that I definately have the ressources to do so. As you can see in the screenshot the four volcanic areas are blocked by other tiles or tokens and the Lava Tube Settlement does not show up in the row of cards to play:

https://abload.de/im

[2020-10-02 13:46] nwai90 commented on #1450
@ap3h3ad That doesn't seem correct as the official ruling states otherwise. See the following:

https://boardgamegeek.com/thread/1953628/lava-tube-settlement-wording
https://boardgamegeek.com/thread/2106043/lava-tube-settlement-placement-restrictions
https://www.reddit.com/r/boardgames/comments/f1vb29/terraforming_mars_lava_flows/fhh5zgc/

[2020-10-02 14:19] ap3h3ad commented on #1450
Hi,

thanks for the clarification. I wasn't aware that it was indeed a special rule on the Hellas map.

Cheers.

[2020-10-02 14:19] #1450 closed

[2020-10-02 21:17] kevinb9n opened #1456 "I think all global parameter indicators should count upwards"
Notice that the temperature, O2, and venus tracks all show you what the current value of that parameter IS. But the Oceans display tells you how many oceans there are NOT. I think it's an unnecessary inconsistency. Whenever I look at that number I have to subtract it from 9. A new player might look quickly, see a 5, and mistakenly think they should be able to play Algae.

Instead of counting down

[2020-10-02 21:44] kevinb9n opened #1457 "I think tag requirements should show the icons"
When viewing a card that requires a Jovian tag, there should be *some* way to find out what a Jovian tag looks like.

(I'm hoping to use this app to teach friends who don't already know the game, so I'm looking for interface elements that may trip them up.)

If this isn't possible on the card itself, then there should be *something* you can use to find out the icon-name correspondence for tags, su

[2020-10-02 23:18] kevinb9n commented on #1435
Sorry, I didn't ask my question clearly. I do get that filing a bug tends to mean the thing isn't implemented yet. :-)

I'm just asking about *when* the points should be accounted for in the live-VP total. Do Awards also wait until the endgame is triggered? What is the rule for when to begin accounting for points, etc.

[2020-10-02 23:19] kevinb9n commented on #1435
(my presumption and my "vote" would be that ALL points are accounted for "as if the game were to end immediately". So even though I could lose my 8th Tardigrade and get out-Scientisted before it ends, it still shows me the points first and then shows them going away if I *do* lose those.)

[2020-10-03 01:05] kevinb9n commented on #1367
Hmm, I expected it to select the max amount of steel without overpaying, but it seems to be trying to spend al of my steel whether it's all needed or not.

[2020-10-03 03:47] nwai90 commented on #1435
@kevinb9n It will be implemented soon. The pending patch will add Turmoil points to the VP count when the game is in its last generation (i.e. once all global parameters have been maxed out).

In my view it would not make sense to show Turmoil points in real-time VP prior to that as they do not strictly "exist" before game end and could be misleading,  but this is of course a matter of opinion. It

[2020-10-03 03:55] nwai90 commented on #1367
@kevinb9n Yes, it's implemented to set the highest possible value so that the "MAX" button does exactly what it says.

It will be more complex and error prone if we constrain it to "highest value without overpayment" as this also involves recomputing "good" values for adjusting all other resources (think of scenarios where you can use 3-4 types of resources for payment). This might involve some ki

[2020-10-03 05:05] kevinb9n commented on #1435
I talked about my "vote" but really I'm more interested in consistency so that people can understand and remember what the number does and doesn't count. For example, if the principle is something like "the points don't 'strictly exist' yet", then that would be true of Awards too, right?

[2020-10-03 07:23] nwai90 commented on #1435
That's a good point 👍 We can certainly go either way on this.

Another thing to consider is that Turmoil points tend to change very often, e.g. at the end of every generation. It might not give an accurate picture of who is leading as a result. Awards are usually less "swingy" in this regard and also something you build towards throughout the course of the game.

[2020-10-03 09:45] pocc commented on #1378
Someone with push access needs to run this script to add tags. It should add 696 that are tied to pull requests. Once these tags are added, I have a different shell script (pre-commit) that will automatically add tags to pull requests going forward.

[one liner]
`i="0";for c in $(git log --format="%cI %H %s" | grep "Merge pull request" | sort); do git tag -a "0.0.$i" $c; i=$(($i+1)); done`

[expan

[2020-10-03 12:44] duckmammal commented on #1430
no, i was just making sure we have both levels of checks.

[2020-10-03 13:11] Buheda opened #1463 "Bug/Question: Calculation of temperature?"
After using DEIMOS DOWN PROMO temperature increased to 4 (from -26 to -22), but should be 3.
After spending 8 heat temperature increased from -22 to -20. But should be 1

Or It should be steps but not degrees?

![map-28](https://user-images.githubusercontent.com/5812181/94992507-15435e00-0593-11eb-88aa-541171f8fe9c.jpg)
![log-28](https://user-images.githubusercontent.com/5812181/94992505-14123100-

[2020-10-03 15:07] kevinb9n commented on #1367
Okay. I'm just gonna rescind my "quite happy" then :-) That is, if I encountered the site today with its present behavior I think I would still file this issue.

Approximately 99% of the time, I follow the same simple policy to always use as much steel as I can get full value from. (Even when I have Space Elevator, I tend to get that done early each gen.) I would still be glad if I had a way to ma

[2020-10-03 15:12] nwai90 commented on #1463
@Buheda It refers to steps :) In this case, 1 step is 2 degrees

[2020-10-03 15:27] kevinb9n commented on #1435
I'd also like to know what others think, not just on the question of party leaders only, but on what is the *entire* set of VP sources that they think should only be accounted in the VP tracker once game end is triggered, or perhaps should not at all.

(Is this the first source of VPs that's being proposed to treat this way, or are the other precedents?)

1st place for Awards might not be highly s

[2020-10-03 15:55] Buheda commented on #1463
@nwai90  Thank you ) In Russion translation there are no word "step" in most of cards.

[2020-10-03 15:55] #1463 closed

[2020-10-03 17:09] kevinb9n commented on #1367
Actually, I'm going to

(a) file a separate issue about the behavior of the MAX button as it stands
(b) work on an actually complete proposal for how to address the things I've brought up here.

We can just let this issue here die.

[2020-10-03 17:13] bafolts commented on #1388
I think I spot the issue here. If you happen to draw `TechnologyDemonstration` upon playing it will be removed from your hand throwing off the count by one.

https://github.com/bafolts/terraforming-mars/blob/master/src/Player.ts#L1231
https://github.com/bafolts/terraforming-mars/blob/master/src/cards/community/Playwrights.ts#L43

Will put up fix.